%section#SectionHeader4
    = Haml::Engine.new(File.read("header_spajpdf_general.haml")).render

%h2 Data Kesehatan

%table.Square
    %thead
        %tr
            %th Pertanyaan Kesehatan
            %th Calon Tertanggung
            %th Calon Pemegang Polis
    %tbody
        %tr
            %td
                1.  a. Tinggi Badan
                %br
                b. Berat Badan
                %br
                c. Apakah berat badan Anda mengalami penurunan atau kenaikan drastis (≥ 10% dalam 1 (satu) bulan) dalam 6 (enam) bulan terakhir?
            %td
                %table#TextProspectiveInsuredHeight.BoxSquare.PositionerCenter
                %span.PositionerCenter Cm
                %br
                %table#TextProspectiveInsuredWeight.BoxSquare.PositionerCenter
                %span.PositionerCenter Kg
                %br
                %input#RadioButtonProspectiveInsuredWeightChangeYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredWeightChange", :value => "true" }
                %div#RadioButtonProspectiveInsuredWeightChangeYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredWeightChangeYes" } Ya
                %input#RadioButtonProspectiveInsuredWeightChangeNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredWeightChange", :value => "false" }
                %div#RadioButtonProspectiveInsuredWeightChangeNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredWeightChangeNo" } Tidak
            %td
                %table#TextPolicyHolderHeight.BoxSquare.PositionerCenter
                %span.PositionerCenter Cm
                %br
                %table#TextPolicyHolderWeight.BoxSquare.PositionerCenter
                %span.PositionerCenter Kg
                %br 
                %input#RadioButtonPolicyHolderWeightChangeYes{ :type => "radio", :name => "RadioButtonPolicyHolderWeightChange", :value => "true" }
                %div#RadioButtonPolicyHolderWeightChangeYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderWeightChangeYes" } Ya
                %input#RadioButtonPolicyHolderWeightChangeNo{ :type => "radio", :name => "RadioButtonPolicyHolderWeightChange", :value => "false" }
                %div#RadioButtonPolicyHolderWeightChangeNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderWeightChangeNo" } Tidak
        %tr
            %td
                2. Apakah Anda merokok dalam 12 (dua belas) bulan terakhir (termasuk rokok elektronik atau produk tembakau lainnya)?
                %br
                Jika “Ya”, berapa batang per hari?
            %td
                %input#RadioButtonProspectiveInsuredSmokeActivityYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredSmokeActivity", :value => "true" }
                %div#RadioButtonProspectiveInsuredSmokeActivityYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredSmokeActivityYes" } Ya
                %input#RadioButtonProspectiveInsuredSmokeActivityNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredSmokeActivity", :value => "false" }
                %div#RadioButtonProspectiveInsuredSmokeActivityNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredSmokeActivityNo" } Tidak
                %br
                %table#NumberProspectiveInsuredSmokeActivityAmount.BoxSquare.PositionerCenter
                %span.PositionerCenter Batang
            %td
                %input#RadioButtonPolicyHolderSmokeActivityYes{ :type => "radio", :name => "RadioButtonPolicyHolderSmokeActivity", :value => "true" }
                %div#RadioButtonPolicyHolderSmokeActivityYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderSmokeActivityYes" } Ya
                %input#RadioButtonPolicyHolderSmokeActivityNo{ :type => "radio", :name => "RadioButtonPolicyHolderSmokeActivity", :value => "false" }
                %div#RadioButtonPolicyHolderSmokeActivityNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderSmokeActivityNo" } Tidak
                %br
                %table#NumberPolicyHolderSmokeActivityAmount.BoxSquare.PositionerCenter
                %span.PositionerCenter Batang
        %tr
            %td
                3. Apakah Anda memiliki kebiasaan atau pernah menggunakan narkotika, zat adiktif atau obat-obatan lainnya, minum alkohol secara berlebihan? Jika “Ya”, jelaskan jumlah serta frekuensi mengkonsumsinya. Serta jelaskan jika ada riwayat perawatan/mendapat terapi karena hal tersebut?
            %td
                %input#RadioButtonProspectiveInsuredJunkieYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredJunkie", :value => "true" }
                %div#RadioButtonProspectiveInsuredJunkieYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredJunkieYes" } Ya
                %input#RadioButtonProspectiveInsuredJunkieNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredJunkie", :value => "false" }
                %div#RadioButtonProspectiveInsuredJunkieNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredJunkieNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderJunkieYes{ :type => "radio", :name => "RadioButtonPolicyHolderJunkie", :value => "true" }
                %div#RadioButtonPolicyHolderJunkieYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderJunkieYes" } Ya
                %input#RadioButtonPolicyHolderJunkieNo{ :type => "radio", :name => "RadioButtonPolicyHolderJunkie", :value => "false" }
                %div#RadioButtonPolicyHolderJunkieNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderJunkieNo" } Tidak
        %tr
            %td
                4. Apakah Anda memiliki hobi atau sewaktu-waktu melakukan kegiatan yang beresiko tinggi/bahaya atau masih aktif dalam pekerjaan beresiko tinggi (menyelam, panjat tebing, mendaki gunung, terjun payung, paralayang, balap motor/mobil, pertambangan, minyak dan gas bumi, Kelautan, TNI/Polri, penerbangan (selain dari penumpang resmi penerbangan terjadwal))? (Jika jawaban “Ya” mohon melengkapi kuesioner yang sesuai hobi/kegiatan/peker- jaan tersebut dan dilampirkan bersama SPAJ ini).
            %td
                %input#RadioButtonProspectiveInsuredActivityYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredActivity", :value => "true" }
                %div#RadioButtonProspectiveInsuredActivityYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredActivityYes" } Ya
                %input#RadioButtonProspectiveInsuredActivityNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredActivity", :value => "false" }
                %div#RadioButtonProspectiveInsuredActivityNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredActivityNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderActivityYes{ :type => "radio", :name => "RadioButtonPolicyHolderActivity", :value => "true" }
                %div#RadioButtonPolicyHolderActivityYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderActivityYes" } Ya
                %input#RadioButtonPolicyHolderActivityNo{ :type => "radio", :name => "RadioButtonPolicyHolderActivity", :value => "false" }
                %div#RadioButtonPolicyHolderActivityNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderActivityNo" } Tidak
        %tr
            %td
                5. Apakah Anda dalam 12 bulan terakhir ini/mendatang Anda pernah/memiliki rencana bepergian/tinggal di luar negeri? Jika “Ya”, jelaskan kapan waktu bepergiannya, negara tujuan, lama tinggal, serta kepentingannya.
            %td
                %input#RadioButtonProspectiveInsuredAbroadYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredAbroad", :value => "true" }
                %div#RadioButtonProspectiveInsuredAbroadYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredAbroadYes" } Ya
                %input#RadioButtonProspectiveInsuredAbroadNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredAbroad", :value => "false" }
                %div#RadioButtonProspectiveInsuredAbroadNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredAbroadNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderAbroadYes{ :type => "radio", :name => "RadioButtonPolicyHolderAbroad", :value => "true" }
                %div#RadioButtonPolicyHolderAbroadYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderAbroadYes" } Ya
                %input#RadioButtonPolicyHolderAbroadNo{ :type => "radio", :name => "RadioButtonPolicyHolderAbroad", :value => "false" }
                %div#RadioButtonPolicyHolderAbroadNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderAbroadNo" } Tidak
        %tr
            %td
                6. Apakah Anda pernah/sedang menderita penyakit atau menjalani pemeriksaan/perawatan, pengobatan, operasi untuk penyakit/kelainan dibawah ini:
            %td
                %input#RadioButtonProspectiveInsuredHealthDissorderYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredHealthDissorder", :value => "true" }
                %div#RadioButtonProspectiveInsuredHealthDissorderYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredHealthDissorderYes" } Ya
                %input#RadioButtonProspectiveInsuredHealthDissorderNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredHealthDissorder", :value => "false" }
                %div#RadioButtonProspectiveInsuredHealthDissorderNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredHealthDissorderNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderHealthDissorderYes{ :type => "radio", :name => "RadioButtonPolicyHolderHealthDissorder", :value => "true" }
                %div#RadioButtonPolicyHolderHealthDissorderYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderHealthDissorderYes" } Ya
                %input#RadioButtonPolicyHolderHealthDissorderNo{ :type => "radio", :name => "RadioButtonPolicyHolderHealthDissorder", :value => "false" }
                %div#RadioButtonPolicyHolderHealthDissorderNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderHealthDissorderNo" } Tidak
        %tr
            %td
                %span.FirstIndent a. Gangguan fungsi/sistem penglihatan dan gangguan pada mata lainnya?
            %td
                %input#RadioButtonProspectiveInsuredVisionYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredVision", :value => "true" }
                %div#RadioButtonProspectiveInsuredVisionYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredVisionYes" } Ya
                %input#RadioButtonProspectiveInsuredVisionNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredVision", :value => "false" }
                %div#RadioButtonProspectiveInsuredVisionNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredVisionNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderVisionYes{ :type => "radio", :name => "RadioButtonPolicyHolderVision", :value => "true" }
                %div#RadioButtonPolicyHolderVisionYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderVisionYes" } Ya
                %input#RadioButtonPolicyHolderVisionNo{ :type => "radio", :name => "RadioButtonPolicyHolderVision", :value => "false" }
                %div#RadioButtonPolicyHolderVisionNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderVisionNo" } Tidak
        %tr
            %td
                %span.FirstIndent b. Gangguan fungsi/sistem pada Telinga, Hidung, Tenggorokan (THT)?
            %td
                %input#RadioButtonProspectiveInsuredENTYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredENT", :value => "true" }
                %div#RadioButtonProspectiveInsuredENTYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredENTYes" } Ya
                %input#RadioButtonProspectiveInsuredENTNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredENT", :value => "false" }
                %div#RadioButtonProspectiveInsuredENTNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredENTNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderENTYes{ :type => "radio", :name => "RadioButtonPolicyHolderENT", :value => "true" }
                %div#RadioButtonPolicyHolderENTYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderENTYes" } Ya
                %input#RadioButtonPolicyHolderENTNo{ :type => "radio", :name => "RadioButtonPolicyHolderENT", :value => "false" }
                %div#RadioButtonPolicyHolderENTNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderENTNo" } Tidak
        %tr
            %td
                %span.FirstIndent c. Gangguan fungsi/sistem Pernapasan, Paru-paru, Asma, Bronkitis, Tuberkulosis, Batuk Darah dan lainnya?
            %td
                %input#RadioButtonProspectiveInsuredRespiratoryYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredRespiratory", :value => "true" }
                %div#RadioButtonProspectiveInsuredRespiratoryYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredRespiratoryYes" } Ya
                %input#RadioButtonProspectiveInsuredRespiratoryNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredRespiratory", :value => "false" }
                %div#RadioButtonProspectiveInsuredRespiratoryNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredRespiratoryNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderRespiratoryYes{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratory", :value => "true" }
                %div#RadioButtonPolicyHolderRespiratoryYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderRespiratoryYes" } Ya
                %input#RadioButtonPolicyHolderRespiratoryNo{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratory", :value => "false" }
                %div#RadioButtonPolicyHolderRespiratoryNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderRespiratoryNo" } Tidak
        %tr
            %td
                %span.FirstIndent d. Gangguan fungsi/sistem Jantung dan Pembuluh Darah, Nyeri Dada, Serangan Jantung, Demam, Jantung, Rematik, Tekanan Darah Tinggi (Hipertensi)/Rendah, (Hipotensi), Hiperkolesterol, Penyempitan/Penyumbatan Pembuluh Darah Otak dan lainnya?
            %td
                %input#RadioButtonProspectiveInsuredCardiacYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredCardiac", :value => "true" }
                %div#RadioButtonProspectiveInsuredCardiacYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredCardiacYes" } Ya
                %input#RadioButtonProspectiveInsuredCardiacNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredCardiac", :value => "false" }
                %div#RadioButtonProspectiveInsuredCardiacNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredCardiacNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderCardiacYes{ :type => "radio", :name => "RadioButtonPolicyHolderCardiac", :value => "true" }
                %div#RadioButtonPolicyHolderCardiacYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderCardiacYes" } Ya
                %input#RadioButtonPolicyHolderCardiacNo{ :type => "radio", :name => "RadioButtonPolicyHolderCardiac", :value => "false" }
                %div#RadioButtonPolicyHolderCardiacNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderCardiacNo" } Tidak
        %tr
            %td
                %span.FirstIndent e. Gangguan fungsi/sistem Pencernaan & Organ dalam Perut/Lambung, Maag, Hernia, Hepatitis dan lainnya?
            %td
                %input#RadioButtonProspectiveInsuredDigestYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "true" }
                %div#RadioButtonProspectiveInsuredDigestYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredDigestYes" } Ya
                %input#RadioButtonProspectiveInsuredDigestNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDigest", :value => "false" }
                %div#RadioButtonProspectiveInsuredDigestNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredDigestNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderDigestYes{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "true" }
                %div#RadioButtonPolicyHolderDigestYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderDigestYes" } Ya
                %input#RadioButtonPolicyHolderDigestNo{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "false" }
                %div#RadioButtonPolicyHolderDigestNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderDigestNo" } Tidak
        %tr
            %td
                %span.FirstIndent f. Gangguan fungsi/sistem Saraf dan Otot, Vertigo, Stroke, Sering Pusing atau Pingsan, Epilepsi (kejang), Kelumpuhan, Kesemutan, Baal, Gangguan Kejiwaan dan lainnya?
            %td
                %input#RadioButtonProspectiveInsuredNerveYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredNerve", :value => "true" }
                %div#RadioButtonProspectiveInsuredNerveYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredNerveYes" } Ya
                %input#RadioButtonProspectiveInsuredNerveNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredNerve", :value => "false" }
                %div#RadioButtonProspectiveInsuredNerveNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredNerveNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderNerveYes{ :type => "radio", :name => "RadioButtonPolicyHolderNerve", :value => "true" }
                %div#RadioButtonPolicyHolderNerveYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderNerveYes" } Ya
                %input#RadioButtonPolicyHolderNerveNo{ :type => "radio", :name => "RadioButtonPolicyHolderNerve", :value => "false" }
                %div#RadioButtonPolicyHolderNerveNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderNerveNo" } Tidak
        %tr
            %td
                %span.FirstIndent g. Gangguan fungsi/sistem Hati dan Pankreas, Kencing Manis (Diabetes Melitus), Batu Empedu, Tumor Hati, penyakit Limpa dan lainnya?
            %td
                %input#RadioButtonProspectiveInsuredLiverYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredLiver", :value => "true" }
                %div#RadioButtonProspectiveInsuredLiverYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredLiverYes" } Ya
                %input#RadioButtonProspectiveInsuredLiverNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredLiver", :value => "false" }
                %div#RadioButtonProspectiveInsuredLiverNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredLiverNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderLiverYes{ :type => "radio", :name => "RadioButtonPolicyHolderLiver", :value => "true" }
                %div#RadioButtonPolicyHolderLiverYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderLiverYes" } Ya
                %input#RadioButtonPolicyHolderLiverNo{ :type => "radio", :name => "RadioButtonPolicyHolderLiver", :value => "false" }
                %div#RadioButtonPolicyHolderLiverNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderLiverNo" } Tidak
        %tr
            %td
                %span.FirstIndent h. Gangguan fungsi/sistem Kemih, Batu Ginjal, Gangguan Prostat, Gagal Ginjal, Organ Kelamin dan penyakit akibat hubungan seksual?
            %td
                %input#RadioButtonProspectiveInsuredReproductionYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredReproduction", :value => "true" }
                %div#RadioButtonProspectiveInsuredReproductionYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredReproductionYes" } Ya
                %input#RadioButtonProspectiveInsuredReproductionNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredReproduction", :value => "false" }
                %div#RadioButtonProspectiveInsuredReproductionNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredReproductionNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderReproductionYes{ :type => "radio", :name => "RadioButtonPolicyHolderReproduction", :value => "true" }
                %div#RadioButtonPolicyHolderReproductionYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderReproductionYes" } Ya
                %input#RadioButtonPolicyHolderReproductionNo{ :type => "radio", :name => "RadioButtonPolicyHolderReproduction", :value => "false" }
                %div#RadioButtonPolicyHolderReproductionNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderReproductionNo" } Tidak
        %tr
            %td
                %span.FirstIndent i. Gangguan fungsi/sistem Tulang, Otot, Sendi, Kulit?
            %td
                %input#RadioButtonProspectiveInsuredMotionYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredMotion", :value => "true" }
                %div#RadioButtonProspectiveInsuredMotionYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredMotionYes" } Ya
                %input#RadioButtonProspectiveInsuredMotionNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredMotion", :value => "false" }
                %div#RadioButtonProspectiveInsuredMotionNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredMotionNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderMotionYes{ :type => "radio", :name => "RadioButtonPolicyHolderMotion", :value => "true" }
                %div#RadioButtonPolicyHolderMotionYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderMotionYes" } Ya
                %input#RadioButtonPolicyHolderMotionNo{ :type => "radio", :name => "RadioButtonPolicyHolderMotion", :value => "false" }
                %div#RadioButtonPolicyHolderMotionNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderMotionNo" } Tidak
        %tr
            %td
                %span.FirstIndent j. Gangguan fungsi/sistem Kelenjar dan Darah, Kelenjar Gondok, Kelenjar Getah Bening, Gangguan Hormon, Hemofilia, Anemia, Thalassemia, Leukemia?
            %td
                %input#RadioButtonProspectiveInsuredGlandYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredGland", :value => "true" }
                %div#RadioButtonProspectiveInsuredGlandYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredGlandYes" } Ya
                %input#RadioButtonProspectiveInsuredGlandNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredGland", :value => "false" }
                %div#RadioButtonProspectiveInsuredGlandNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredGlandNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderGlandYes{ :type => "radio", :name => "RadioButtonPolicyHolderGland", :value => "true" }
                %div#RadioButtonPolicyHolderGlandYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderGlandYes" } Ya
                %input#RadioButtonPolicyHolderGlandNo{ :type => "radio", :name => "RadioButtonPolicyHolderGland", :value => "false" }
                %div#RadioButtonPolicyHolderGlandNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderGlandNo" } Tidak
        %tr
            %td
                %span.FirstIndent k. Gangguan fungsi/sistem Kekebalan Tubuh,HIV/AIDS atau segala gejala yang berhubungan dengan AIDS (demam, diare kronis, penurunan berat badan yang tidak diketahui penyebabnya), Malaria, Lupus dan lainnya?
            %td
                %input#RadioButtonProspectiveInsuredImmuneYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredImmune", :value => "true" }
                %div#RadioButtonProspectiveInsuredImmuneYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredImmuneYes" } Ya
                %input#RadioButtonProspectiveInsuredImmuneNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredImmune", :value => "false" }
                %div#RadioButtonProspectiveInsuredImmuneNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredImmuneNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderImmuneYes{ :type => "radio", :name => "RadioButtonPolicyHolderImmune", :value => "true" }
                %div#RadioButtonPolicyHolderImmuneYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderImmuneYes" } Ya
                %input#RadioButtonPolicyHolderImmuneNo{ :type => "radio", :name => "RadioButtonPolicyHolderImmune", :value => "false" }
                %div#RadioButtonPolicyHolderImmuneNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderImmuneNo" } Tidak
        %tr
            %td
                %span.FirstIndent l. Gangguan fungsi Pertumbuhan Sel, Tumor, Kista, Kanker, Benjolan pada permukaan kulit atau pertumbuhan abnormal lainnya?
            %td
                %input#RadioButtonProspectiveInsuredCellYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredCell", :value => "true" }
                %div#RadioButtonProspectiveInsuredCellYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredCellYes" } Ya
                %input#RadioButtonProspectiveInsuredCellNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredCell", :value => "false" }
                %div#RadioButtonProspectiveInsuredCellNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredCellNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderCellYes{ :type => "radio", :name => "RadioButtonPolicyHolderCell", :value => "true" }
                %div#RadioButtonPolicyHolderCellYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderCellYes" } Ya
                %input#RadioButtonPolicyHolderCellNo{ :type => "radio", :name => "RadioButtonPolicyHolderCell", :value => "false" }
                %div#RadioButtonPolicyHolderCellNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderCellNo" } Tidak
        %tr
            %td
                %span.FirstIndent m. Gangguan Kesehatan lainnya yang tidak/belum dinyatakan diatas termasuk namun tidak terbatas pada kelainan bentuk tubuh, kelainan/cacat fisik, kelainan/cacat bawaan dan lainnya?
            %td
                %input#RadioButtonProspectiveInsuredOtherIllnessYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherIllness", :value => "true" }
                %div#RadioButtonProspectiveInsuredOtherIllnessYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredOtherIllnessYes" } Ya
                %input#RadioButtonProspectiveInsuredOtherIllnessNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredOtherIllness", :value => "false" }
                %div#RadioButtonProspectiveInsuredOtherIllnessNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredOtherIllnessNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderOtherIllnessYes{ :type => "radio", :name => "RadioButtonPolicyHolderOtherIllness", :value => "true" }
                %div#RadioButtonPolicyHolderOtherIllnessYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderOtherIllnessYes" } Ya
                %input#RadioButtonPolicyHolderOtherIllnessNo{ :type => "radio", :name => "RadioButtonPolicyHolderOtherIllness", :value => "false" }
                %div#RadioButtonPolicyHolderOtherIllnessNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderOtherIllnessNo" } Tidak
        %tr
            %td.Child{ :colspan => "3" }
                Jika pertanyaan nomor 6 dijawab "Ya" maka mohon agar melengkapi kolom dibawah ini
                Apabila diperlukan dapat memberikan keterangan pada lembar tambahan. Lembar tambahan tersebut harus ditandatangani oleh Calon Pemegang Polis/Calon Tertanggung dan menjadi bagian yang tidak terpisahkan dari SPAJ ini.
                %br

%section.SectionFooter{ :style => "margin-top: 140px;" }
    = Haml::Engine.new(File.read("footer_spajpdf_general.haml")).render

%section#SectionHeader5
    = Haml::Engine.new(File.read("header_spajpdf_general.haml")).render

%table.Square
    %thead
        %tr
            %th
            %th
            %th
    %tbody
        %tr
            %td.Child{ :colspan => "3" }
                %h3 a. Calon Tertanggung
                %table#TableProspectiveInsuredIllness.Space
                    %thead
                        %tr
                            %th No. 
                            %th Nama Penyakit 
                            %th Kapan Mulai Sakit
                            %th Lama Sakit
                            %th Nama Dokter
                            %th Rumah Sakit / Klinik / Laboratorium / Puskesmas
                            %th Alamat dan Nomor Telepon
                %h3 b. Calon Pemegang Polis
                %table#TablePolicyHolderIllness.Space
                    %thead
                        %tr
                            %th No. 
                            %th Nama Penyakit 
                            %th Kapan Mulai Sakit
                            %th Lama Sakit
                            %th Nama Dokter
                            %th Rumah Sakit / Klinik / Laboratorium / Puskesmas
                            %th Alamat dan Nomor Telepon
        %tr
            %td.Child
                7. Apakah Anda telah memiliki atau sedang mengajukan pertanggungan Asuransi Jiwa, kecelakaan, kesehatan, pemulihan polis? Serta apakah pengajuan Anda pernah ditolak/ ditangguhkan/dikenakan ekstra Premi diubah dalam bentuk apapun oleh perusahaan Asuransi Jiwa?
                Apabila jawaban “Ya” maka mohon agar melengkapi kolom dibawah ini.
            %td            
                %input#RadioButtonProspectiveInsuredSPAJProposalYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredSPAJProposal", :value => "true" }
                %div#RadioButtonProspectiveInsuredSPAJProposalYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredSPAJProposalYes" } Ya
                %input#RadioButtonProspectiveInsuredSPAJProposalNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredSPAJProposal", :value => "false" }
                %div#RadioButtonProspectiveInsuredSPAJProposalNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredSPAJProposalNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderSPAJProposalYes{ :type => "radio", :name => "RadioButtonPolicyHolderSPAJProposal", :value => "true" }
                %div#RadioButtonPolicyHolderSPAJProposalYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderSPAJProposalYes" } Ya
                %input#RadioButtonPolicyHolderSPAJProposalNo{ :type => "radio", :name => "RadioButtonPolicyHolderSPAJProposal", :value => "false" }
                %div#RadioButtonPolicyHolderSPAJProposalNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderSPAJProposalNo" } Tidak
        %tr
            %td.Child{ :colspan => "3" }
                %h3 a. Calon Tertanggung
                %table#TableProspectiveInsuredSPAJProposal.Space
                    %thead
                        %tr
                            %th No. 
                            %th Nama Perusahaan
                            %th Nomor Polis
                            %th Tanggal Diterbitkan
                            %th Uang Pertanggungan
                            %th Hasil Keputusan
                %h3 b. Calon Pemegang Polis
                %table#TablePolicyHolderSPAJProposal.Space
                    %thead
                        %tr
                            %th No. 
                            %th Nama Perusahaan
                            %th Nomor Polis
                            %th Tanggal Diterbitkan
                            %th Uang Pertanggungan
                            %th Hasil Keputusan
        %tr
            %td
                8. Apakah Anda pernah mengajukan klaim ke perusahaan Asuransi Jiwa? Jika “Ya, mohon jelaskan alasannya.
            %td
                %input#RadioButtonProspectiveInsuredClaimYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredClaim", :value => "true" }
                %div#RadioButtonProspectiveInsuredClaimYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredClaimYes" } Ya
                %input#RadioButtonProspectiveInsuredClaimNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredClaim", :value => "false" }
                %div#RadioButtonProspectiveInsuredClaimNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredClaimNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderClaimYes{ :type => "radio", :name => "RadioButtonPolicyHolderClaim", :value => "true" }
                %div#RadioButtonPolicyHolderClaimYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderClaimYes" } Ya
                %input#RadioButtonPolicyHolderClaimNo{ :type => "radio", :name => "RadioButtonPolicyHolderClaim", :value => "false" }
                %div#RadioButtonPolicyHolderClaimNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderClaimNo" } Tidak
        %tr
            %td
                9. Apakah Anda pernah mendapatkan atau bermaksud menjalani pemeriksaan kesehatan diagnostik, seperti Sinar-X, USG, CT-scan, MRI, EKG, Treadmill, pemeriksaan darah, pemeriksaan urin, dan lain-lain?
            %td
                %input#RadioButtonProspectiveInsuredDiagnosticYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredDiagnostic", :value => "true" }
                %div#RadioButtonProspectiveInsuredDiagnosticYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredDiagnosticYes" } Ya
                %input#RadioButtonProspectiveInsuredDiagnosticNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredDiagnostic", :value => "false" }
                %div#RadioButtonProspectiveInsuredDiagnosticNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredDiagnosticNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderDiagnosticYes{ :type => "radio", :name => "RadioButtonPolicyHolderDiagnostic", :value => "true" }
                %div#RadioButtonPolicyHolderDiagnosticYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderDiagnosticYes" } Ya
                %input#RadioButtonPolicyHolderDiagnosticNo{ :type => "radio", :name => "RadioButtonPolicyHolderDiagnostic", :value => "false" }
                %div#RadioButtonPolicyHolderDiagnosticNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderDiagnosticNo" } Tidak
        %tr
            %td
                10. Khusus Calon Tertanggung anak-anak (usia ≤ 5 (lima) tahun):
                %br
                %label.FirstIndent.PositionerLeft Waktu lahir
                %input#RadioButtonProspectiveInsuredPregnancyNormal{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnancy", :value => "true" }
                %div#RadioButtonProspectiveInsuredNormalPregnancy.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredPregnancyNormal" } Cukup Bulan
                %input#BoxProspectiveInsuredPregnancyPremature{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnancy", :value => "false" }
                %div#BoxProspectiveInsuredPregnancyPremature.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "BoxProspectiveInsuredPregnancyPremature" } Prematur
                %br
                %label.FirstIndent.PositionerLeft Panjang dan berat saat lahir
                %table#TextProspectiveInsuredBabyHeight.BoxSquare.PositionerLeft
                %span.PositionerLeft Cm
                %table#TextProspectiveInsuredBabyWeight.BoxSquare.PositionerLeft
                %span.PositionerLeft Kg
            %td
            %td
		
%section.SectionFooter{ :style => "margin-top: 70px;" }
    = Haml::Engine.new(File.read("footer_spajpdf_general.haml")).render
		
%section#SectionHeader6
    = Haml::Engine.new(File.read("header_spajpdf_general.haml")).render

%table.Square
    %thead
        %tr
            %th
            %th
            %th
    %tbody
        %tr
            %td
                11. Pertanyaan khusus untuk wanita:
            %td
            %td
        %tr
            %td
                %span.FirstIndent.PositionerLeft a. Apakah Anda sedang hamil? Usia kehamilan
                %table#TextProspectiveInsuredPregnantWeek.BoxSquare.PositionerLeft
                %span.PositionerLeft Minggu
            %td
                %input#RadioButtonProspectiveInsuredPregnantYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnant", :value => "true" }
                %div#RadioButtonProspectiveInsuredPregnantYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredPregnantYes" } Ya
                %input#RadioButtonProspectiveInsuredPregnantNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnant", :value => "false" }
                %div#RadioButtonProspectiveInsuredPregnantNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredPregnantNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderPregnantYes{ :type => "radio", :name => "RadioButtonPolicyHolderPregnant", :value => "true" }
                %div#RadioButtonPolicyHolderPregnantYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderPregnantYes" } Ya
                %input#RadioButtonPolicyHolderPregnantNo{ :type => "radio", :name => "RadioButtonPolicyHolderPregnant", :value => "false" }
                %div#RadioButtonPolicyHolderPregnantNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderPregnantNo" } Tidak
        %tr
            %td
                %span.FirstIndent b. Adakah komplikasi pada kehamilan termasuk persalinan secara sectio caesaria yang dilakukan karena menderita suatu penyakit (Darah Tinggi, Hepatitis, Diabetes dan lain-lain)?
            %td
                %input#RadioButtonProspectiveInsuredPregnancyIllnessYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnancyIllness", :value => "true" }
                %div#RadioButtonProspectiveInsuredPregnancyIllnessYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredPregnancyIllnessYes" } Ya
                %input#RadioButtonProspectiveInsuredPregnancyIllnessNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredPregnancyIllness", :value => "false" }
                %div#RadioButtonProspectiveInsuredPregnancyIllnessNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredPregnancyIllnessNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderPregnancyIllnessYes{ :type => "radio", :name => "RadioButtonPolicyHolderPregnancyIllness", :value => "true" }
                %div#RadioButtonPolicyHolderPregnancyIllnessYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderPregnancyIllnessYes" } Ya
                %input#RadioButtonPolicyHolderPregnancyIllnessNo{ :type => "radio", :name => "RadioButtonPolicyHolderPregnancyIllness", :value => "false" }
                %div#RadioButtonPolicyHolderPregnancyIllnessNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderPregnancyIllnessNo" } Tidak
        %tr
            %td
                %span.FirstIndent c. Apakah Anda mempunyai kelainan payudara/organ kewanitaan lainnya termasuk haid yang tidak teratur? Jika “Ya” jelaskan nama kelainan atau komplikasi dan nama dokter yang merawat pada kolom (Siapa, Apa, Kapan, Dimana, Pengobatan yang dilakukan, Bagaimana).
            %td
                %input#RadioButtonProspectiveInsuredFemaleAbnormalityYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredFemaleAbnormality", :value => "true" }
                %div#RadioButtonProspectiveInsuredFemaleAbnormalityYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredFemaleAbnormalityYes" } Ya
                %input#RadioButtonProspectiveInsuredFemaleAbnormalityNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredFemaleAbnormality", :value => "false" }
                %div#RadioButtonProspectiveInsuredFemaleAbnormalityNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredFemaleAbnormalityNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderFemaleAbnormalityYes{ :type => "radio", :name => "RadioButtonPolicyHolderFemaleAbnormality", :value => "true" }
                %div#RadioButtonPolicyHolderFemaleAbnormalityYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderFemaleAbnormalityYes" } Ya
                %input#RadioButtonPolicyHolderFemaleAbnormailtyNo{ :type => "radio", :name => "RadioButtonPolicyHolderFemaleAbnormality", :value => "false" }
                %div#RadioButtonPolicyHolderFemaleAbnormailtyNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderFemaleAbnormailtyNo" } Tidak
        %tr
            %td
                %span.FirstIndent d. Apakah Anda pernah melakukan pemeriksaan Pap Smear dalam 1 (satu) tahun terakhir? Jika “Ya” jelaskan bagaimana hasilnya dan kapan dilakukan pemeriksaan tersebut?
            %td
                %input#RadioButtonProspectiveInsuredPapSmearYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredPapSmear", :value => "true" }
                %div#RadioButtonProspectiveInsuredPapSmearYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredPapSmearYes" } Ya
                %input#RadioButtonProspectiveInsuredPapSmearNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredPapSmear", :value => "false" }
                %div#RadioButtonProspectiveInsuredPapSmearNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredPapSmearNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderPapSmearYes{ :type => "radio", :name => "RadioButtonPolicyHolderPapSmear", :value => "true" }
                %div#RadioButtonPolicyHolderPapSmearYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderPapSmearYes" } Ya
                %input#RadioButtonPolicyHolderPapSmearNo{ :type => "radio", :name => "RadioButtonPolicyHolderPapSmear", :value => "false" }
                %div#RadioButtonPolicyHolderPapSmearNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderPapSmearNo" } Tidak
        %tr
            %td
                12. Apakah ada anggota keluarga Anda (orang tua, anak, saudara kandung) yang menderita/dinyatakan terdiagnosa mengidap kelainan Jantung Koroner, Stroke, Kencing Manis (Diabetes Melitus), Kanker atau penyakit keturunan lainnya? (Jika “Ya” mohon agar dijelaskan pada kolom dibawah ini)
            %td
                %input#RadioButtonProspectiveInsuredHeartDissorderYes{ :type => "radio", :name => "RadioButtonProspectiveInsuredHeartDissorder", :value => "true" }
                %div#RadioButtonProspectiveInsuredHeartDissorderYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredHeartDissorderYes" } Ya
                %input#RadioButtonProspectiveInsuredHeartDissorderNo{ :type => "radio", :name => "RadioButtonProspectiveInsuredHeartDissorder", :value => "false" }
                %div#RadioButtonProspectiveInsuredHeartDissorderNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonProspectiveInsuredHeartDissorderNo" } Tidak
            %td
                %input#RadioButtonPolicyHolderHeartDissorderYes{ :type => "radio", :name => "RadioButtonPolicyHolderHeartDissorder", :value => "true" }
                %div#RadioButtonPolicyHolderHeartDissorderYes.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderHeartDissorderYes" } Ya
                %input#RadioButtonPolicyHolderHeartDissorderNo{ :type => "radio", :name => "RadioButtonPolicyHolderHeartDissorder", :value => "false" }
                %div#RadioButtonPolicyHolderHeartDissorderNo.BoxRound.PositionerCenter
                %label.RadioButton.Wrap.PositionerCenter{ :for => "RadioButtonPolicyHolderHeartDissorderNo" } Tidak

%table.SignatureMedium.PositionerCenter{ :style => "height: 240px;"}
    %thead
        %tr
            %th Kolom penjelasan jawaban "Ya" untuk seluruh pertanyaan pada bagian Data Kesehatan (Siapa, Apa, Kapan, Bagaimana, Di mana, Pengobatan yang dilakukan)
    %tbody
        %tr
            %td
    %tfoot
        %tr
            %td
%br

%span.Wrap.PositionerCenter Apabila diperlukan dapat memberikan keterangan pada lembar tambahan. Lembar tambahan tersebut harus ditandatangani oleh Calon Pemegang Polis/Calon Tertanggung dan menjadi bagian yang tidak terpisahkan dari SPAJ ini.