!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypePDF;

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// SETUP

				footerSetterForHealthQuestionnairePDF("OP/UW/0116/061601", 3);
				titleSetterForHealthQuestionnairePDF("KUESIONER PENERBANGAN");
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1 KUESIONER PENERBANGAN
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				/ FIELDSET

				%h2 II. Wajib Dilengkapi Calon Tertanggung

				%fieldset.fieldset.WithoutDoubleDot
					%span.Number.Single.PositionerLeft 1.					
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightFLJob" } Apakah Anda terbang sebagai?
					%div.RadioButton.PositionerLeft
						%input#RadioButtonPolicyHolderFlightFLJobPilot.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightFLJob", :value => "pilot" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightFLJobPilot" } Pilot
						%input#RadioButtonPolicyHolderFlightFLJobNavigator.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightFLJob", :value => "navigator" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightFLJobNavigator" } Navigator
						%input#RadioButtonPolicyHolderFlightFLJobStewardess.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightFLJob", :value => "stewardess" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightFLJobStewardess" } Pramugari
					%br

					%span.Number.Single.PositionerLeft 2.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightHavePlaneYes" } Apakah Anda memiliki pesawat sendiri?					
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderFlightHavePlaneYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightHavePlane", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightHavePlaneYes" } Ya
						%input#RadioButtonPolicyHolderFlightHavePlaneNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightHavePlane", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightHavePlaneNo" } Tidak
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderFlightPlaneType" }
						Sebutkan jenis pesawat apakah yang Anda terbangkan / tumpangi ?
						%br
						Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br

					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightPlaneType.Full.Single.Item.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "TablePolicyHolderFlightLicenseList" } Mohon sebutkan secara rinci lisensi dan/atau sertifikat penerbangan yang Anda miliki.
					%br
					-#
						%div.ContainerFit
							%table#TablePolicyHolderFlightLicense.NumberIndent
								%thead
									%tr
										%th Lisensi/Sertifikat
										%th Tanggal Perolehan
										%th Tanggal Perpanjangan
						%br

					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Lisensi/Sertifikat
						%label.Short.Single.Item1.Center Tanggal Perolehan
						%label.Short.Single.Item1.Center Masa Berlaku
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightLicenseCertificate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightLicenseCertificate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention2.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightLicenseCertificate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention3.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightLicenseCertificate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention4.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightLicenseCertificate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 5.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightScope" }
						Apakah Anda berencana untuk merubah cakupan lisensi yang saat ini Anda miliki?
						%br
						Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.RadioButton.NumberIndent.PositionerRight
						%input#RadioButtonPolicyHolderFlightScopeYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightScope", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightScopeYes" } Ya
						%input#RadioButtonPolicyHolderFlightScopeNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightScope", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightScopeNo" } Tidak
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightScopeDesc.Full.Single.Item.PositionerLeft{ :type => "text" }
					%br
					
					%section#SectionFooter{ :style => "margin-top: 130px; "}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%span.Number.Single.PositionerLeft{ :style => "margin-top: 30px;"} 6.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightClub", :style => "margin-top: 30px;" } Apakah Anda anggota suatu klub atau asosiasi kegiatan penerbangan?
					%div.RadioButton.PositionerRight
						%input#RadioButtonPolicyHolderFlightClubYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightClub", :value => "true", :style => "margin-top: 30px;" }
						%div.BoxRound.PositionerLeft{ :style => "margin-top: 30px;" }
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightClubYes", :style => "margin-top: 30px;" } Ya
						%input#RadioButtonPolicyHolderFlightClubNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightClub", :value => "false", :style => "margin-top: 30px;" }
						%div.BoxRound.PositionerLeft{:style => "margin-top: 30px;"}
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightClubNo", :style => "margin-top: 30px;" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightIsClubDesc" } Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightIsClubDesc.Full.Single.Item.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 7.
					%label.Single.PositionerLeft{ :for => "TablePolicyHolderFlightCondition" } Mohon lengkapi kolom pertanyaan di bawah ini sesuai dengan jumlah jam terbang anda.
					%br

					%div.ContainerFit.NumberIndent
						%label.ShortFix.Single.Item.Center Kategori Penerbangan
						%label.Tiny.Single.Item1.Center Tujuan
						%label.Tiny.Single.Item1.Center 
						%label.Tiny.Item1.Center Jumlah Penerbangan
						%label.Tiny.Single.Item1.Center 
						%label.Tiny.Single.Item1.Center 
						%label.Tiny.Item1.Center Jumlah Jam Terbang
						%label.Tiny.Single.Item1.Center 
					%div.ContainerFit.NumberIndent
						%label.ShortFix.Single.Item.Center 
						%label.Tiny.Single.Item1.Center 
						%label.Tiny.Single.Item1.Center Total
						%label.Tiny.Item1.Center 12 bulan terakhir
						%label.Tiny.Item1.Center 12 bulan yang akan datang
						%label.Tiny.Single.Item1.Center Total
						%label.Tiny.Item1.Center 12 bulan terakhir
						%label.Tiny.Item1.Center 12 bulan yang akan datang
					%div.ContainerFit.NumberIndent
						%label.ShortFix.Header.Single.Item.Left Penerbangan berjadwal
						%input#TextPolicyHolderFlightScheduledDestination.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightScheduledAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightScheduledTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightScheduledTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightScheduledAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightScheduledTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightScheduledTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.ShortFix.Header.Wrap.Item.Left Penerbangan tidak berjadwal
						%input#TextPolicyHolderFlightNonScheduledDestination.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightNonScheduledAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightNonScheduledTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightNonScheduledTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightNonScheduledAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightNonScheduledTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightNonScheduledTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.ShortFix.Header.Wrap.Item.Left Penerbangan komersial
						%input#TextPolicyHolderFlightCommercialDestination.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightCommercialAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightCommercialTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightCommercialTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightCommercialAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightCommercialTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightCommercialTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.ShortFix.Header.Wrap.Item.Left Penerbangan pribadi
						%input#TextPolicyHolderFlightPrivateDestination.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightPrivateAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightPrivateTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightPrivateTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightPrivateAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightPrivateTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightPrivateTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.ShortFix.Header.Wrap.Item.Left Helikopter
						%input#TextPolicyHolderFlightHelicopterDestination.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightHelicopterAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightHelicopterTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightHelicopterTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightHelicopterAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightHelicopterTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightHelicopterTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.ShortFix.Header.Wrap.Item.Left Terbang Layang
						%input#TextPolicyHolderFlightParaglidingDestination.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightParaglidingAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightParaglidingTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightParaglidingTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightParaglidingAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightParaglidingTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightParaglidingTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.ShortFix.Header.Wrap.Item.Left Lainnya, sebutkan
						%input#TextPolicyHolderFlightOthersDestination.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightParaglidingAllTotalFly.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightOthersTotalFlyLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightOthersTotalFlyNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightOthersAllTotalHour.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightOthersTotalHourLast12Months.Tiny.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightOthersTotalHourNext12Months.Tiny.Single.Item1.Margin{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 8.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderFlightFrom" }
						Nama lokasi / tempat / bandara mulai penerbangan?
						%br
						Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightFrom.Full.Single.Item.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 9.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAirportControl" } Apakah Anda terbang dari bandara control?
					%div.RadioButton.PositionerRight
						%input#RadioButtonPolicyHolderFlightAirportControlYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightAirportControl", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAirportControlYes" } Ya
						%input#RadioButtonPolicyHolderFlightAirportControlNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightAirportControl", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAirportControlNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightPilotAirportControlDesc" } Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightAirportControlDesc.Full.Single.Item.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 10.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAccidentFL" } Pernahkah Anda mengalami kecelakaan terbang atau pelanggaran pengunaan / pencabutan lisensi?
					%div.RadioButton.NumberIndent.PositionerRight
						%input#RadioButtonPolicyHolderFlightAccidentFLYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightAccidentFL", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAccidentFLYes" } Ya
						%input#RadioButtonPolicyHolderFlightAccidentFLNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightAccidentFL", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAccidentFLNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightAccidentDesc" } Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightAccidentFLDesc.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 11.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightNoFly" } Apakah Anda memiliki larangan dalam penerbangan yang dianjurkan dalam surat keterangan medis?
					%div.RadioButton.PositionerRight
						%input#RadioButtonPolicyHolderFlightNoFlyYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightNoFly", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightNoFlyYes" } Ya
						%input#RadioButtonPolicyHolderFlightNoFlyNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightNoFly", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightNoFlyNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightNoFlyDesc" } Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightNoFlyDesc.Full.Single.Item{ :type => "text" }
					%br
					
					%section#SectionFooter{ :style => "margin-top: 220px; "}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					%header
						%section#SectionHeader{ :style => "margin-top: 50px; position: relative; top: 50px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render
					
					%div.ContainerFit
						%span.NumberFix.Single.Item{ :style => "margin-top: 50px;" } 12.
						%label.Wrap.Item{ :for => "TextPolicyHolderTravelingTVAdditionalInformation", :style => "margin-top: 50px;" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.					
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVAdditionalInformation.Full.Single.Item{ :type => "text" }
					%br

				%section#SectionDeclaration{ :style => "margin-top: 30px;"}
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
