!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				
				boxGenerator("#TextPolicyHolderSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthdayPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY				
				
				boxGenerator("#DatePolicyHolderEpilepsySignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderEpilepsySignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderEpilepsySignedYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#DatePolicyHolderEpilepsyLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderEpilepsyLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderEpilepsyLastYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#DatePolicyHolderEpilepsyLastconsultDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderEpilepsyLastconsultMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderEpilepsyLastconsultYear", 4, boxTypeWithoutLabel, null);	
				
				boxGenerator("#DatePolicyHolderSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// FOOTER
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Epilepsi Dan Kejang");
			});

	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render
				
				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset

					%span.Number.PositionerLeft 1. 
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsySince" } Sejak umur berapa Anda terserang epilepsi?
					%input#TextPolicyHolderEpilepsySince.Line.Short.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.PositionerLeft 2. 
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsyHowMany" } Berapa kali Anda terserang epilepsi?
					%input#TextPolicyHolderEpilepsyHowMany.Line.Short.Single.PositionerLeft{ :type => "text" }
					kali per (Bulan/Tahun*) *coret yang tidak perlu
					%br
					
					%span.Number.PositionerLeft 3. 
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderEpilepsyLastDay" } Kapan terakhir kali Anda terserang epilepsi?
					%table#DatePolicyHolderEpilepsyLastDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderEpilepsyLastMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderEpilepsyLastYear.BoxSquare.PositionerRight

					%br

					%span.Number.Single.PositionerLeft 4. 
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyWhatHappen" } Pada saat Anda terserang epilepsi, apakah:
					%br
					
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderEpilepsyWhatHappenLostConsciousness.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyWhatHappen", :value => "lostconsciousness" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyWhatHappenLostConsciousness" } Hanya hilang kesadaran sejenak tanpa kaku-kaku, kemudian lupa dengan apa yang telah terjadi.
						%br
						%input#RadioButtonPolicyHolderEpilepsyWhatHappenSuddenlyFall.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyWhatHappen", :value => "suddenlyfall" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyWhatHappenSuddenlyFall", :style => "width: 600px;" }
							Tiba-tiba jatuh atau kaku-kaku pada seluruh tubuh dengan irama kaku-lemas-kaku secara bergantian, juga terjadi pada otot-otot wajah dengan mulut berbusa. Dan pada saat terjadi kedua kaki dan lengan lurus, kesadaran hilang dan bila berakhir, kemudian tertidur.
					%br
					
					%span.Number.PositionerLeft 5. 
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyIsFeelYes" } Sebelum  terjadi  serangan,  apakah  Anda  merasakan  adanya  pusing-pusing,  mencium  bau-bauan,  melihat cahaya, atau bunyi-bunyian?
					%div.RadioButton
						%input#RadioButtonPolicyHolderEpilepsyIsFeelYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyIsFeel", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyIsFeelYes" } Ya						
						%input#RadioButtonPolicyHolderEpilepsyIsFeelNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyIsFeel", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyIsFeelNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsyIsFeelDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextPolicyHolderEpilepsyIsFeelDesc.Line.Short.Single.PositionerLeft{ :type => "text" } 
					%br


					%span.Number.PositionerLeft 6. 
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyTreated" } Apakah Anda pernah dirawat karena epilepsi?
					%div.RadioButton
						%input#RadioButtonPolicyHolderEpilepsyTreatedYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyTreated", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyTreatedYes" } Ya
						
						%input#RadioButtonPolicyHolderEpilepsyTreatedNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyTreated", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyTreatedNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsyTreatedDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextPolicyHolderEpilepsyTreatedDesc.Line.Short.Single.PositionerLeft{ :type => "text" } 
					%br
					
					%br
					%span.Number.PositionerLeft 7. 
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyConsult" } Apakah Anda selalu berkonsultasi/berobat ke Dokter?
					%div.RadioButton
						%input#RadioButtonPolicyHolderEpilepsyConsultYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyConsult", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyConsultYes" } Ya
						
						%input#RadioButtonPolicyHolderEpilepsyConsultNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyConsult", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyConsultNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsyConsultDoctorName" } Jika “Ya”, mohon melengkapi kolom di bawah ini.
					
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderEpilepsyConsultDoctorName"} Nama Lengkap Dokter:
					%input#TextPolicyHolderEpilepsyConsultDoctorName.LineDot.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderEpilepsyConsultDoctorPhone"} No. Telepon/Handphone:
					%input#TextPolicyHolderEpilepsyConsultDoctorPhone.LineDot.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderEpilepsyConsultDoctorAddress"} Alamat Lengkap Dokter :
					%input#TextPolicyHolderEpilepsyConsultDoctorAddress.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%br
					%span.Number.PositionerLeft 8.
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderEpilepsyLastconsultDay" } Kapan terakhir kali Anda berkonsultasi dengan dokter?
					
					%table#DatePolicyHolderEpilepsyLastconsultDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderEpilepsyLastconsultMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderEpilepsyLastconsultYear.BoxSquare.PositionerRight

					%br

					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyGetDrug" } Apakah Anda mendapat obat dokter?

					%div.RadioButton
						%input#RadioButtonPolicyHolderEpilepsyGetDrugYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyGetDrug", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyGetDrugYes" } Ya
						
						%input#RadioButtonPolicyHolderEpilepsyGetDrugNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyGetDrug", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyGetDrugNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TablePolicyHolderEpilepsyDrugList" } Jika “Ya”, mohon melengkapi kolom di bawah ini.
					%br
					%table#TablePolicyHolderEpilepsyDrugList
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi										
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td 
								%td
								%td								
						%br


					%span.Number.PositionerLeft 9.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyConsumeDrug" } Apakah Anda masih minum obat secara teratur hingga saat ini?
					%div.RadioButton
						%input#RadioButtonPolicyHolderEpilepsyConsumeDrugYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyConsumeDrug", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyConsumeDrugYes" } Ya
						
						%input#RadioButtonPolicyHolderEpilepsyConsumeDrugNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyConsumeDrug", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyConsumeDrugNo" } Tidak
						%br								

					%span.Number.PositionerLeft 10.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyInfected" } Apakah Anda pernah menderita penyakit infeksi selaput otak/gegar otak sebelumnya?
					%div.RadioButton
						%input#RadioButtonPolicyHolderEpilepsyInfectedYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyInfected", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyInfectedYes" } Ya 
						
						%input#RadioButtonPolicyHolderEpilepsyInfectedNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyInfected", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyInfectedNo" } Tidak
						%br								

					%span.Number.PositionerLeft 11.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyHistory" } Apakah ada riwayat keluarga Anda yang menderita epilepsi?
					%div.RadioButton
						%input#RadioButtonPolicyHolderEpilepsyHistoryYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyHistory", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyHistoryYes" } Ya
						
						%input#RadioButtonPolicyHolderEpilepsyHistoryNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyHistory", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyHistoryNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsyHistoryDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextPolicyHolderEpilepsyHistoryDesc.Line.Full.Single.PositionerLeft{ :type => "text" } 
					%br

					%span.Number.PositionerLeft 12.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherDiseases" } Apakah Anda menderita penyakit lain seperti di bawah ini:
					%div.RadioButton
						%input#RadioButtonPolicyHolderOtherDiseasesDiabetes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderOtherDiseases", :value => "diabetes" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherDiseasesDiabetes" } Kencing Manis (Diabetes Melitus)
						
						%input#RadioButtonPolicyHolderOtherDiseasesHipertensi.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderOtherDiseases", :value => "hypertension" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherDiseasesHipertensi" } Darah Tinggi (Hipertensi)
						
						%input#RadioButtonPolicyHolderOtherDiseasesTumor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderOtherDiseases", :value => "tumor" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherDiseasesTumor" } Tumor
						
						%input#RadioButtonPolicyHolderOtherDiseasesComplication.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderOtherDiseases", :value => "complication" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderOtherDiseasesComplication" } Penyakit komplikasi lainnya, sebutkan 

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsyComplicationDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextPolicyHolderEpilepsyComplicationDesc.Line.Short.Single.PositionerLeft{ :type => "text" } 
					%br
					Mohon mengisi Kuesioner sesuai dengan penyakit lainnya yang Anda derita sesuai dengan pilihan pada nomor 12
					%br								

					%span.Number.PositionerLeft 13.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyCheckupTwo" } Apakah Anda pernah melakukan pemeriksaan berikut?
					%div.RadioButton
						%input#RadioButtonPolicyHolderEpilepsyCheckupTwoYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyCheckupTwo", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyCheckupTwoYes" } Elektroensefalografi (rekaman syaraf otak)
						
						%input#RadioButtonPolicyHolderEpilepsyCheckupTwoNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderEpilepsyCheckupTwo", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderEpilepsyCheckupTwoNo" } Rontgen photo tengkorak (kepala)
						%br								

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsyCheckupTwoDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%input#TextPolicyHolderEpilepsyCheckupTwoDesc.Line.Full.Single.PositionerLeft{ :type => "text" } 
					%br

					%span.Number.PositionerLeft 14.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderEpilepsyInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextPolicyHolderEpilepsyInfo.Line.Full.Single.PositionerLeft{ :type => "text" } 
					%br
				
				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render