!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextPolicyHolderSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#DatePolicyHolderDigestSinceStartedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestSinceStartedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestSinceStartedYear", 4, boxTypeWithoutLabel, null);
				
				lineGenerator("#TextPolicyHolderDigestOther", 5);
				
				boxGenerator("#DatePolicyHolderDigestLastAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestLastAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestLastAriseYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderDigestionVomitingBloodDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestionVomitingBloodMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestionVomitingBloodYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderDigestVomitingBloodLastAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestVomitingBloodLastAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestVomitingBloodLastAriseYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderDigestHospitalCareWhenDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestHospitalCareWhenMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestHospitalCareWhenYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderDigestNoOfficeEntryInYearWhenDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestNoOfficeEntryInYearWhenMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDigestNoOfficeEntryInYearWhenYear", 4, boxTypeWithoutLabel, null);
		
				boxGenerator("#DatePolicyHolderSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedYear", 4, boxTypeWithoutLabel, null);					
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// FOOTER
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Gangguan Pencernaan");
			});


	/ BODY

	%body

		/ HEADER		

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.Single.PositionerLeft 1
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigest" } Gangguan pencernaan yang pernah Anda alami?
					%div.RadioButton
						%input#RadioButtonPolicyHolderDigestTukakLambung.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "tukaklambung" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestTukakLambung" } Tukak Lambung
						
						%input#RadioButtonPolicyHolderDigestTukakUsus.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "tukakusus" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestTukakUsus" } Tukak Usus
						
						%input#RadioButtonPolicyHolderDigestRadangUsusBesar.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "radangususbesar" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestRadangUsusBesar" } Radang Usus Besar	
						
						%input#RadioButtonPolicyHolderDigestRadangUsus12Jari.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "radangusus12Jari" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestRadangUsus12Jari" } Radang Usus 12 Jari
						
						%input#RadioButtonPolicyHolderDigestMaag.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "maag" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestMaag" } Maag
						
						%input#RadioButtonPolicyHolderDigestOther.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigest", :value => "other" }
						%div.BoxRound.PositionerLeft												
						%label.RadioButton.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestOther"} Lainnya, sebutkan						
						/ %input#TextPolicyHolderDigestOther.LineDot.PositionerLeft						
						%div#TextPolicyHolderDigestOther.LineDot.PositionerLeft
					%br					

					%span.Number.Single.PositionerLeft 2
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderDigestionWhen" } Sejak kapan anda mengalami gangguan pencernaan?
					%table#DatePolicyHolderDigestSinceStartedDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestSinceStartedMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestSinceStartedYear.BoxSquare.PositionerRight
					%br
					
					%span.Number.Single.PositionerLeft 3
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderDigestFrequencyInMonth" } a. Berapa kali anda mengalami gangguan pencernaan?
					%div#TextPolicyHolderDigestFrequencyInMonth.Short.Single.PositionerLeft{ :type => "text", :readonly => "true" }
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDigestionHowMany" } kali per (bulan/tahun*) *coret yang tidak perlu					
					%br
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderDigestLastArise" } b. Kapan timbulnya keluahan terakhir?
					%table#DatePolicyHolderDigestLastAriseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestLastAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestLastAriseYear.BoxSquare.PositionerRight
					%br					

					%span.Number.Single.PositionerLeft 4
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderFeel" } Keluhan apa yang anda rasakan?
					%div.RadioButton
						%input#RadioButtonPolicyHolderDigestComplainFeltMual.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigestComplainFelt", :value => "mual" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestComplainFeltMual" } Mual
						
						%input#RadioButtonPolicyHolderDigestComplainFeltMuntah.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigestComplainFelt", :value => "muntah" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestComplainFeltMuntah" } Muntah
						
						%input#RadioButtonPolicyHolderDigestComplainFeltMuntahDarah.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigestComplainFelt", :value => "muntahdarah" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestComplainFeltMuntahDarah" } Muntah Darah
						
						%input#RadioButtonPolicyHolderDigestComplainFeltNyeriuluhati.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigestComplainFelt", :value => "nyeriuluhati" }
						%div.BoxRound.PositionerLeft											
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestComplainFeltNyeriuluhati" } Nyeri Ulu Hati
												
						%input#RadioButtonPolicyHolderDigestComplainFeltOther.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigestComplainFelt", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestComplainFeltOther"} Lainnya, sebutkan
						%div#TextPolicyHolderDigestComplainFeltOther.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br		

					%span.Number.Single.PositionerLeft 5
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestVomitingBlood" } a.	Apakah Anda pernah mengalami muntah darah?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestVomitingBloodNo" } Tidak   
						%input#RadioButtonPolicyHolderDigestVomitingBloodNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestVomitingBlood", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestVomitingBloodYes" } Ya
						%input#RadioButtonPolicyHolderDigestVomitingBloodYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestVomitingBlood", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderDigestVomitingBloodLastAriseDay" } b. Jika “Ya”, kapan terakhir Anda mengalaminya?
					%table#DatePolicyHolderDigestVomitingBloodLastAriseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestVomitingBloodLastAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestVomitingBloodLastAriseYear.BoxSquare.PositionerRight
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDigestionVomitingBloodHowMany" } c. Berapa kali Anda mengalami muntah darah?
					%input#TextPolicyHolderDigestVomitingBloodAriseTime.Short.Single.PositionerLeft{ :type => "text"}
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDigestVomitingBloodAriseTime" } kali per (bulan/tahun*) *coret yang tidak perlu					
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderDigestVomitingBloodSolvingWay"} Mohon menjelaskan secara rinci dan cara mengatasinya pada kolom di bawah ini.
					%br
					
					%input#TextPolicyHolderDigestVomitingBloodSolvingWay.Full.Single.PositionerLeft{ :type => "text" }										
					%br
					
					%span.Number.Single.PositionerLeft 6
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestPainComplain" } Jelaskan secara rinci keluhan nyeri yang Anda dirasakan:
					%div.RadioButton											
						%input#RadioButtonPolicyHolderDigestPainComplainAtSomeCondition.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDigestPainComplain", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestPainComplainAtSomeCondition"} Lainnya, sebutkan
						%input#TextPolicyHolderChectPainCharacterOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.Single.PositionerLeft 7
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDigestDrugsName" } Mohon jelaskan secara rinci pada kolom di bawah ini mengenai nama obat yang Anda konsumsi dan lama pemakaiannya sehubungan dengan gangguan pencernaan?
					%br
					%input#TextPolicyHolderDigestDrugsName.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 8
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestDoctorRecipe" } Apakah obat yang Anda peroleh tersebut berdasarkan resep dokter?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestDoctorRecipeNo" } Tidak
						%input#RadioButtonPolicyHolderDigestDoctorRecipeNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestDoctorRecipe", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestDoctorRecipeYes" } Ya
						%input#RadioButtonPolicyHolderDigestDoctorRecipeYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestDoctorRecipe", :value => "true" }
						%div.BoxRound.PositionerRight
					%label.Wrap.Single.PositionerLeft{:for => "TextPolicyHolderVomitingBlood"} Jika “Ya”, mohon menjelaskan secara rinci (nama obat, dosis dan frekuensi penggunaannya) pada kolom di bawah ini.
					%br
					
							
					%table
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td				
						%br
					
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestDoctorName" } Nama Lengkap Dokter:
					%input#TextPolicyHolderDigestDoctorName.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestDoctorPhoneNo" } No. Telepon/Handphone:
					%input#TextPolicyHolderDigestDoctorPhoneNo.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestHospitalName" } No. Nama Klinik/Rumah Sakit:
					%input#TextPolicyHolderDigestHospitalName.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestDoctorAddress" } Alamat Klinik/Rumah Sakit:
					%input#TextPolicyHolderDigestDoctorAddress.Short.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 9
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderDigestResultOfTheExamination" } Mohon jelaskan secara rinci pada kolom di bawah ini jenis dan hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan pencernaan ini, termasuk tanggal pemeriksaannya. (Lampirkan fotokopi hasil pemeriksaan)
					%br
					%input#TextPolicyHolderDigestResultOfTheExamination.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
					%br
					
					%span.Number.Single.PositionerLeft 10
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestHospitalCare" } Apakah Anda pernah mendapatkan perawatan Rumah Sakit sehubungan dengan gangguan pencernaan tersebut?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestHospitalCareNo" } Tidak
						%input#RadioButtonPolicyHolderDigestHospitalCareNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestHospitalCare", :value => "false" }
						%div.BoxRound.PositionerRight
						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestHospitalCareYes" } Ya
						%input#RadioButtonPolicyHolderDigestHospitalCareYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestHospitalCare", :value => "true" }
						%div.BoxRound.PositionerRight
						
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderDigestHospitalCareWhen" } Jika “Ya”, sejak kapan?
					
					%table#DatePolicyHolderDigestHospitalCareWhenDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestHospitalCareWhenMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestHospitalCareWhenYear.BoxSquare.PositionerRight

					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderDigestionVomitingBlood3Day" } s/d
					
					%table#DatePolicyHolderDigestionVomitingBlood3Day.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestionVomitingBlood3Month.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDigestionVomitingBlood3Year.BoxSquare.PositionerRight


					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDigestHospitalCareHowLong" } Lama perawatan
					%div#TextPolicyHolderDigestHospitalCareHowLong.Short.Single.PositionerLeft{ :type => "text"}
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDigestionVomitingBloodHowMany" } (bulan/tahun*) *coret yang tidak perlu
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderDigestionVomitingBloodDesc"} Mohon menjelaskan secara rinci dan cara mengatasinya pada kolom di bawah ini.
					%br
					%input#TextPolicyHolderDigestionVomitingBloodDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br	
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDigestHospitalCareDoctorName" } a.	Nama Dokter
					%input#TextPolicyHolderDigestHospitalCareDoctorName.Short.Single.PositionerLeft{ :type => "text"}
					%br	
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDigestHospitalCareDoctorAddress" } b.	Alamat Dokter
					%input#TextPolicyHolderDigestHospitalCareDoctorAddress.Short.Single.PositionerLeft{ :type => "text"}					
					%br
					%br
					
					%span.Number.Single.PositionerLeft 11
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDigestInTreatment" } Apakah Anda sampai saat ini masih dalam pengobatan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestInTreatmentNo" } Tidak
						%input#RadioButtonPolicyHolderDigestInTreatmentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestInTreatment", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestInTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderDigestInTreatmentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestInTreatment", :value => "true" }
						%div.BoxRound.PositionerRight
					%br	
					%label.Wrap.Single.PositionerLeft{:for => "TextPolicyHolderVomitingBlood"} Jika “Ya”, mohon menjelaskan secara rinci (nama obat, dosis dan frekuensi penggunaannya) pada kolom di bawah ini.
					%br
							
					%table
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td				
						%br					
					
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestTreatmentDoctorName" } Nama Lengkap Dokter:
					%input#TextPolicyHolderDigestTreatmentDoctorName.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestTreatmentDoctorTelephone" } No. Telepon/Handphone:
					%input#TextPolicyHolderDigestTreatmentDoctorTelephone.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestTreatmentHospitalName" } Nama Klinik/Rumah Sakit:
					%input#TextPolicyHolderDigestTreatmentHospitalName.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestTreatmentHospitalAddress" } Alamat Klinik/Rumah Sakit:
					%input#TextPolicyHolderDigestTreatmentHospitalAddress.Short.Single.PositionerLeft{ :type => "text" }				
					%br
					%br
					
					%span.Number.Single.PositionerLeft 12
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderTreatment" } Dalam 2 tahun terakhir ini, apakah Anda pernah tidak masuk kerja karena gangguan ini?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestNoOfficeEntryInYearNo" } Tidak
						%input#RadioButtonPolicyHolderDigestNoOfficeEntryInYearNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestNoOfficeEntryInYear", :value => "false" }
						%div.BoxRound.PositionerRight						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDigestNoOfficeEntryInYearYes" } Ya
						%input#RadioButtonPolicyHolderDigestNoOfficeEntryInYearYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDigestNoOfficeEntryInYear", :value => "true" }
						%div.BoxRound.PositionerRight						
						%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderTreatmentReason" } Jika “Ya”, kapan?.
						
						%table#DatePolicyHolderDigestNoOfficeEntryInYearWhenDay.BoxSquare.PositionerRight
						%span.Separator.Single.PositionerRight /
						%table#DatePolicyHolderDigestNoOfficeEntryInYearWhenMonth.BoxSquare.PositionerRight
						%span.Separator.Single.PositionerRight /
						%table#DatePolicyHolderDigestNoOfficeEntryInYearWhenYear.BoxSquare.PositionerRight

						%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderDigestNoOfficeEntryInYearHowLong" } Berapa lama?
						
						%div#TextPolicyHolderDigestNoOfficeEntryInYearHowLong.Short.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.Multi.PositionerLeft{ :for => "TextPolicyHolderTreatmentReason" } hari.
					%br					

					%span.Number.Single.PositionerLeft 13
					%label.Single.PositionerLeft{ :for => "AreaPolicyHolderDigestOtherHealthCondition" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#AreaPolicyHolderDigestOtherHealthCondition.Long.Single.PositionerLeft{ :type => "text" }
					%br	

				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render					