!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypePDF;


			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// SETUP

				footerSetterForHealthQuestionnairePDF("", 3);
				titleSetterForHealthQuestionnairePDF("KUESIONER OLAHRAGA MOTOR/SEPEDA MOTOR");
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1 KUESIONER OLAHRAGA MOTOR / SEPEDA MOTOR
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				/ FIELDSET

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG

				%fieldset.fieldset.WithoutDoubleDot
					%span.Number.Single.PositionerLeft 1.
					%label.Long.Single.PositionerLeft{ :for => "TextPolicyHolderRacingRCActivity" } Apakah jenis kegiatan olah raga motor yang Anda lakukan?
					%br
					%label.Long.Single.NumberIndent.PositionerLeft Mohon menjelaskan secara rinci pada kolom dibawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCActivity.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 2.
					%label.Full.Wrap.PositionerLeft{ :for => "TextPolicyHolderRacingRCVehicleModel" } Apakah jenis kendaraan bermotor yang Ada kendarai? 					
					%br
					%label.Full.Wrap.NumberIndent.PositionerLeft Mohon menjelaskan secara rinci pada kolom dibawah ini.(Model, tahun pembuatan, ukuran mesin dan kategori secara terperinci)
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCVehicleModel.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Wrap.Full.PositionerLeft Sebutkan tujuan kegiatan olah raga motor/ sepeda motor yang Anda lakukan :
					%br

					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCActivityPurposeEntertainment.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCActivityPurpose", :value => "entertainment" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCActivityPurposeEntertainment" } Hiburan
						%input#RadioButtonPolicyHolderRacingRCActivityPurposeAmateur.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCActivityPurpose", :value => "amateur" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCActivityPurposeAmateur" } Amatir
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCActivityPurposeCompetition.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCActivityPurpose", :value => "competition" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCActivityPurposeCompetition" } Perlombaan
						%input#RadioButtonPolicyHolderRacingRCActivityPurposeProfessional.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCActivityPurpose", :value => "professional" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCActivityPurposeProfessional" } Profesional
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCActivityPurposeSponsor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCActivityPurpose", :value => "sponsor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCActivityPurposeSponsor" } Sponsor
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCActivityPurposeOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCActivityPurpose", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCActivityPurposeOthers" } Lainnya, sebutkan
						%input#TextPolicyHolderRacingRCActivityPurposeOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 4.
					%label.Long.Single.PositionerLeft{ :for => "TextPolicyHolderRacingRCStillActive" } Berapa lama Anda aktif dalam olah raga ini?
					%br
					%label.Long.Single.NumberIndent.PositionerLeft Mohon menjelaskan secara rinci pada kolom dibawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCStillActive.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 5.
					%label.Full.Wrap.PositionerLeft{ :for => "TextPolicyHolderRacingRCPlace" } Di mana Anda melakukan perlombaan? (Sebutkan nama semua acara yang diselenggarakan)
					%br
					%label.Long.Single.NumberIndent.PositionerLeft Mohon menjelaskan secara rinci pada kolom dibawah ini.
					%br
					%div.RadioButton.NumberIndent
						%input#TextPolicyHolderRacingRCPlace.Full.Single.Item{ :type => "text" }
					%br

					%section#SectionFooter{ :style => "margin-top: 100px; "}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render

					%header
						%section#SectionHeader{ :style => "margin-top: 50px; position: relative; top: 50px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%span.Number.Single.PositionerLeft{ :style => "margin-top: 70px;" } 6.
					%label.Wrap.PositionerLeft{ :style => "margin-top: 70px;" } Mohon sebutkan Lisensi/ Sertifikat yang Anda miliki?
					%br

					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Lisensi/Sertifikat
						%label.Short.Single.Item1.Center Tanggal Perolehan
						%label.Short.Single.Item1.Center Masa Berlaku
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCLicenseCertificate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateObtain1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateExtention1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCLicenseCertificate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateObtain2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateExtention2.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCLicenseCertificate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateObtain3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateExtention3.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCLicenseCertificate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateObtain4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateExtention4.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCLicenseCertificate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateObtain5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRacingRCLicenseCertificateExtention5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 7.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCParticipating" } Apakah Anda berpartisipasi atau berniat untuk berpartisipasi dalam setiap kompetisi?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCParticipatingYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCParticipating", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Tiny.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCParticipatingYes" } Ya					
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCParticipatingNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCParticipating", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Tiny.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCParticipatingNo" } Tidak
					%br
					%label.Long.Single.NumberIndent.PositionerLeft Jika "Ya" mohon menjelaskan secara rinci pada kolom dibawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCParticipatingLocationDesc.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 8.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCClubMember" } Apakah Anda anggota suatu klub atau asosiasi balap?
					%br					
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCClubMemberYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCClubMember", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Tiny.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCClubMemberYes" } Ya
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCClubMemberNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCClubMember", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Tiny.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCClubMemberNo" } Tidak										
					%br
					%label.Long.Single.NumberIndent.PositionerLeft Jika "Ya" mohon menjelaskan secara rinci pada kolom dibawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCClubMemberDesc.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 9.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCAccident" } Pernahkah Anda mengalami kecelakaan atau pelanggaran pengunaan/pencabutan lisensi?
					%br
					
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCAccidentYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCAccident", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Tiny.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCAccidentYes" } Ya
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderRacingRCAccidentNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRacingRCAccident", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Tiny.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRacingRCAccidentNo" } Tidak
					%br
					%label.Long.Single.NumberIndent.PositionerLeft Jika "Ya" mohon menjelaskan secara rinci pada kolom dibawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCAccidentDesc.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 10.
					%label.Wrap.Item{ :for => "TextPolicyHolderRacingRCAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRacingRCAdditionalInfo.Full.Single.Item{ :type => "text" }
					%br
					
					%section#SectionFooter{ :style => "margin-top: 320px; "}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render

					%header
						%section#SectionHeader{ :style => "margin-top: 460px; position: relative; top: 40px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

				%section#SectionDeclaration{ :style => "margin-top: 30px;"}
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
