!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextPolicyHolderSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				
				boxGenerator("#DatePolicyHolderChestPainChestPainLastAttackDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainLastAttackMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainLastAttackYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainFirstAttackDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainFirstAttackMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainFirstAttackYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainLastAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainLastAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainLastAriseYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainConsulToDoctorLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainConsulToDoctorLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainConsulToDoctorLastYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainTakeLeaveIfYesDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainTakeLeaveIfYesMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainChestPainTakeLeaveIfYesYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainSignedYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// SETUP
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Nyeri Dada");
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer					 				
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. Wajib Dilengkapi (Calon) Tertanggung
				%fieldset
					%span.Number.Single.PositionerLeft 1.
					%label.Medium.Wrap.PositionerLeft{ :for => "DatePolicyHolderChestPainChestPainFirstAttackDay" } Kapan pertama kali Anda merasakan nyeri dada?
					%table#DatePolicyHolderChestPainChestPainFirstAttackDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainChestPainFirstAttackMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainChestPainFirstAttackYear.BoxSquare.PositionerRight
					%br

					%span.Number.Single.PositionerLeft 2.
					%label.Medium.Wrap.PositionerLeft{ :for => "DatePolicyHolderChestPainChestPainAttackDurationSecond" } Berapa lama serangan tersebut berlangsung?
					%input#DatePolicyHolderChestPainChestPainAttackDurationSecond.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainChestPainAttackDurationSecond" } Detik /
					%input#DatePolicyHolderChestPainChestPainAttackDurationMinute.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainChestPainAttackDurationMinute" } Menit /
					%input#DatePolicyHolderChestPainChestPainAttackDurationHour.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainChestPainAttackDurationHour" } Jam
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Medium.Wrap.PositionerLeft{ :for => "TextPolicyHolderChestPainNextAttackNo" } Apakah ada serangan lanjutan sesudahnya?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainChestPainNextAttackNo" } Tidak
						%input#RadioButtonPolicyHolderChestPainChestPainNextAttackNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainNextAttack", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainChestPainNextAttackYes" } Ya
						%input#RadioButtonPolicyHolderChestPainChestPainNextAttackYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainNextAttack", :value => "true" }
						%div.BoxRound.PositionerRight
					%br

					%label.Medium.Wrap.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderChestPainChestPainLastAttackDay" } Tanggal serangan terakhir:
					%table#DatePolicyHolderChestPainChestPainLastAttackDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainChestPainLastAttackMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainChestPainLastAttackYear.BoxSquare.PositionerRight
					%br

					%label.Medium.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderChestPainAttackDuration" } Berapa lama serangan tersebut berlangsung?
					%input#TextLastAttackDuration.Short.Single.PositionerLeft{ :type => "number" }
					%label.Separator.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainAttackDurationSecond" } Detik /
					%input#TextPolicyHolderChestPainAttackDurationMinute.Short.Single.PositionerLeft{ :type => "number" }
					%label.Separator.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainAttackDurationMinute" } Menit /
					%input#TextPolicyHolderChestPainAttackDurationHour.Short.Single.PositionerLeft{ :type => "number" }
					%label.Separator.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainAttackDurationHour" } Jam
					%br

					%label.Medium.Wrap.NumberIndent.PositionerLeft{ :for => "NumberPolicyHolderChestPainChestPainCurrentAttackTimes" } Hingga saat ini serangan sudah terjadi sebanyak:					
					%input#NumberPolicyHolderChestPainChestPainCurrentAttackTimes.Short.Single.PositionerLeft{ :type => "number" }
					%label.Separator.Single.PositionerLeft{ :for => "NumberPolicyHolderChestPainChestPainCurrentAttackTimes" } Kali
					%br					
										
					%span.Number.Single.PositionerLeft 4.
					%label.Medium.Wrap.PositionerLeft{ :for => "DatePolicyHolderChestPainChestPainLastAriseDay" } Kapan terakhir kali nyeri dada terjadi?
					%table#DatePolicyHolderChestPainChestPainLastAriseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainChestPainLastAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainChestPainLastAriseYear.BoxSquare.PositionerRight
					%br
					
					%span.Number.Single.PositionerLeft 5.
					%label.Medium.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainCharacter" } Bagaimana sifat nyeri dada yang Anda rasakan?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderChestPainChectPainCharacterOutOfBreath.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainCharacter", :value => "outofbreath" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChectPainCharacterOutOfBreath" } Sesak Nafas
						%input#RadioButtonPolicyHolderChestPainChectPainCharacterSqueezed.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainCharacter", :value => "squeezed" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChectPainCharacterSqueezed" } Dada terasa diremas
						%input#RadioButtonPolicyHolderChestPainChectPainCharacterDepressed.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainCharacter", :value => "depressed" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChectPainCharacterDepressed" } Dada terasa tertekan
						%input#RadioButtonPolicyHolderChestPainChectPainCharacterHot.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainCharacter", :value => "hot" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChectPainCharacterHot"} Dada terasa panas
						%br
						%input#RadioButtonPolicyHolderChestPainChectPainCharacterChestTightness.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainCharacter", :value => "chesttightness" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChectPainCharacterChestTightness" } Dada terasa berat
						%input#RadioButtonPolicyHolderChestPainChectPainCharacterChestPunctured.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainCharacter", :value => "chestpunctured" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChectPainCharacterChestPunctured" } Dada terasa ditusuk-tusuk
						%input#RadioButtonPolicyHolderChestPainChectPainCharacterVaguelyUncomfortable.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainCharacter", :value => "vaguelyuncomfortable" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChectPainCharacterVaguelyUncomfortable" } Samar-samar tidak nyaman
						%br
						%input#RadioButtonPolicyHolderChestPainChectPainCharacterOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainCharacter", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChectPainCharacterOthers"} Lainnya, sebutkan
						%input#TextPolicyHolderChestPainChectPainCharacterOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 6.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainPainLocation" } Dimanakah letak nyeri dada tersebut?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainChestPainLocationRight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainLocation", :value => "right" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainLocationRight" } Di sisi kanan dada
						%input#RadioButtonPolicyHolderChestPainChestPainLocationRightMiddle.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainLocation", :value => "middle" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainLocationRightMiddle" } Di tengah dada
						%input#RadioButtonPolicyHolderChestPainChestPainLocationLeft.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainLocation", :value => "left" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainLocationLeft" } Di sisi kiri dada
						%br
						%input#RadioButtonPolicyHolderChestPainChestPainLocationOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainLocation", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainLocationOthers"} Di bagian lain dari dada, sebutkan						
						%input#TextPolicyHolderChestPainChestPainLocationOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.Single.PositionerLeft 7.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainSpread" } Apakah nyeri dada tersebut menjalar?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainChestPainSpreadToShoulder.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainSpread", :value => "shoulder" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainSpreadToShoulder" } Ke bahu
						%input#RadioButtonPolicyHolderChestPainChestPainSpreadToArm.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainSpread", :value => "arm" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainSpreadToArm" } Ke lengan
						%input#RadioButtonPolicyHolderChestPainChestPainSpreadToJaw.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainSpread", :value => "jaw" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainSpreadToJaw" } Ke rahang
						%input#RadioButtonPolicyHolderChestPainChestPainSpreadToBelly.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainSpread", :value => "belly" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainSpreadToBelly" } Ke perut
						%br
						%input#RadioButtonPolicyHolderChestPainChestPainSpreadToBack.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainSpread", :value => "back" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainSpreadToBack" } Ke punggung
						%input#RadioButtonPolicyHolderChestPainChestPainSpreadToOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainSpread", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainSpreadToOthers"} Di bagian lain, sebutkan: 
						%input#TextPolicyHolderChestPainChestPainSpreadToOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.Single.PositionerLeft 8.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainHowHappened" } Bagaimana terjadinya nyeri dada tersebut?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainChestPainHowHappenedSudden.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainHowHappened", :value => "sudden" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainHowHappenedSudden" } Mendadak
						%input#RadioButtonPolicyHolderChestPainChestPainHowHappenedGradually.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainHowHappened", :value => "gradually" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainHowHappenedGradually" } Bertahap
						%input#RadioButtonPolicyHolderChestPainChestPainHowHappenedWhenRest.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainHowHappened", :value => "whenrest" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainHowHappenedWhenRest" } Di waktu istirahat
						%br
						%input#RadioButtonPolicyHolderChestPainChestPainHowHappenedCertainPostur.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainHowHappened", :value => "certainpostur" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainHowHappenedCertainPostur" } Hanya pada postur tertentu
						%input#RadioButtonPolicyHolderChestPainChestPainHowHappenedAfterSport.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainHowHappened", :value => "aftersport" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainHowHappenedAfterSport" } Hanya pada istirahat sehabis olah raga
						%input#RadioButtonPolicyHolderChestPainChestPainHowHappenedDeepBreath.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainHowHappened", :value => "deepbreath" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainHowHappenedDeepBreath" } Diperburuk dengan nafas dalam
						%br
						%input#RadioButtonPolicyHolderChestPainChestPainHowHappenedOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainHowHappened", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainHowHappenedOthers"} Di bagian lain dari dada, sebutkan: 
						%input#TextPolicyHolderChestPainChestPainSpreadOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					
					
					%span.Number.Single.PositionerLeft 9.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainGettingWorse" } Kondisi bagaimana yang memperburuk nyeri dada?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainChestPainGettingWorseWhenTired.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainGettingWorse", :value => "whentired" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainGettingWorseWhenTired" } Kelelahan/emosi
						%input#RadioButtonPolicyHolderChestPainChestPainGettingWorseWhenPressureOnChest.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainGettingWorseWhenPressureOnChest", :value => "whenpressureonchest" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainGettingWorseWhenPressureOnChest" } Tekanan pada dada
						%input#RadioButtonPolicyHolderChestPainChestPainGettingWorseWhenCoughing.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainGettingWorse", :value => "whencoughing" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainGettingWorseWhenCoughing" } Batuk menghirup nafas dalam
						%br
						%input#RadioButtonPolicyHolderChestPainChestPainGettingWorseOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainGettingWorse", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainGettingWorseOthers"} Lainnya, sebutkan 
						%input#TextPolicyHolderChestPainChestPainGettingWorseOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					
					
					%span.Number.Single.PositionerLeft 10.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainReducedWhenRest" } Kondisi bagaimana yang mengurangi nyeri dada?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainChestPainReducedWhenRest.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainReduced", :value => "whenrest" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainReducedWhenRest" } Istirahat
						%input#RadioButtonPolicyHolderChestPainChestPainReducedWhenDrinkMilk.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainReduced", :value => "whendrinkmilk" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainReducedWhenDrinkMilk" } Minum susu
						%br
						%input#RadioButtonPolicyHolderChestPainChestPainReducedWhenDrinkDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainReduced", :value => "whendrinkdrug" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainReducedWhenDrinkDrug" } Minum obat maag
						%input#RadioButtonPolicyHolderChestPainChestPainReducedOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainReduced", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainReducedOthers"} Lainnya, sebutkan
						%input#TextPolicyHolderChestPainChestPainReducedOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
						%input#RadioButtonPolicyHolderChestPainChestPainReducedAfterDrinkDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainReduced", :value => "afterdrinkdrug" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainReducedAfterDrinkDrug" } Setelah minum obat (Jelaskan secara rinci nama obat, dosis dan frekuensi penggunaannya pada kolom di bawah ini).
						%br
						%input#TextPolicyHolderChestPainChestPainReducedOtherDesc.Full.Single.PositionerLeft{ :type => "text" }
					%br				
					
					%span.Number.Single.PositionerLeft 11.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainConsulToDoctorNo" } Apakah keluhan nyeri dada tersebut pernah dikonsultasikan ke Dokter?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainChestPainConsulToDoctorNo" } Tidak
						%input#RadioButtonPolicyHolderChestPainConsulToDoctorNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainConsulToDoctor", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainChestPainConsulToDoctorYes" } Ya
						%input#RadioButtonPolicyHolderChestPainChestPainConsulToDoctorYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainConsulToDoctor", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderChestPainChestPainConsulToDoctorReason" } Jika “Ya”, mohon berikan alasannya?
						%input#TextPolicyHolderChestPainChestPainConsulToDoctorReason.Full.Single.Item{ :type => "text" }
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderChestPainChestPainConsulToDoctorLast" } Tanggal terakhir konsultasi:
					%table#DatePolicyHolderChestPainChestPainConsulToDoctorLastDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderChestPainChestPainConsulToDoctorLastMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderChestPainChestPainConsulToDoctorLastYear.BoxSquare.PositionerLeft
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainChestPainConsulToDoctorDiagnosis" } Diagnosa:
						%input#TextPolicyHolderChestPainChestPainConsulToDoctorDiagnosis.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainChestPainConsulToDoctorFullNameDoctor" } Nama lengkap dokter:
						%input#TextPolicyHolderChestPainChestPainConsulToDoctorFullNameDoctor.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainChestPainConsulToDoctorPhone" } No. Telepon/Handphone:
						%input#TextPolicyHolderChestPainChestPainConsulToDoctorPhone.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainChestPainConsulToDoctorHospitalName" } Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderChestPainChestPainConsulToDoctorHospitalName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainChestPainConsulToDoctorHospitalAddress" } Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderChestPainChestPainConsulToDoctorHospitalAddress.Full.Single.Item{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 12.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPaintTreatment" } Apakah ada pengobatan yang diberikan sehubungan nyeri dada?
					%div.RadioButton.NumberIndent.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainChestPaintTreatmentNo" } Tidak
						%input#RadioButtonPolicyHolderChestPainChestPaintTreatmentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPaintTreatment", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainChestPaintTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderChestPainChestPaintTreatmentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPaintTreatment", :value => "true" }
						%div.BoxRound.PositionerRight												
					%br		
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderChestPainChestPainTreatmentReason" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderChestPainChestPainTreatmentReason.Full.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 13.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainEverCheck" } Apakah pernah melakukan pemeriksaan sebagai berikut?
					%div.RadioButton.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainEverCheckNo" } Tidak
						%input#RadioButtonPolicyHolderChestPainEverCheckNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainEverCheckNo", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainEverCheckYes" } Ya
						%input#RadioButtonPolicyHolderChestPainEverCheckYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainEverCheckYes", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.RadioButton.NumberIndent.PositionerLeft					
						%input#RadioButtonPolicyHolderChestPainChekUpEverEkg.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "ekgecg" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverEkg" } EKG/ ECG
						%input#RadioButtonPolicyHolderChestPainChekUpEverRontgen.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "rontgen" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverRontgen" } Rontgen dada
						%input#RadioButtonPolicyHolderChestPainChekUpEverEchocardiogram.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "echocardiogram" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverEchocardiogram" } Echocardiogram
						%input#RadioButtonPolicyHolderChestPainChekUpEverTreadmill.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "treadmill" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverTreadmill" } Treadmill
						%input#RadioButtonPolicyHolderChestPainChekUpEverLaboratorium.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "laboratory" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverLaboratorium" } Laboratorium
						%br
						%input#RadioButtonPolicyHolderChestPainChekUpEverOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverOthers"} Lainnya, sebutkan 
						%input#TextPolicyHolderChestPainCheckUpEverOthersDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderChestPainEverCheckDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderChestPainEverCheckDesc.Full.Single.PositionerLeft{ :type => "text" }
					%br										
	
					%span.Number.PositionerLeft 14.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChestPainTakeLeave" } Apakah Anda pernah tidak masuk kerja dalam jangka waktu lama karena kondisi ini ?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainChestPainTakeLeaveNo" } Tidak
						%input#RadioButtonPolicyHolderChestPainTakeLeaveNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainTakeLeave", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainChestPainTakeLeaveYes" } Ya
						%input#RadioButtonPolicyHolderChestPainChestPainTakeLeaveYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChestPainTakeLeave", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.Single.NumberIndent{ :for => "TextPolicyHolderChestPainChestPainTakeLeaveIfYes" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini
					%br
					%div.ContainerFit.NumberIndent											
						%input#TextPolicyHolderChestPainChestPainTakeLeaveDesc.Full.Single.PositionerLeft{ :type => "text"}	
					%br
					
					%span.Number.PositionerLeft 15
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderChestPainChestPainAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini?
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderChestPainChestPainAdditionalInfo.Full.Single.PositionerLeft{ :type => "text" }
					%br

				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render