!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypePDF;

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderBackboneBBFirstComplainDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBFirstComplainMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBFirstComplainYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBFirstLimitedActivityDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBFirstLimitedActivityMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBFirstLimitedActivityYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBXRayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBXRayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBXRayYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneSuggestSurgeryDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneSuggestSurgeryMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneSuggestSurgeryYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBLastConsultDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBLastConsultMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBLastConsultYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBAbsentDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBAbsentMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneBBAbsentYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// FOOTER

				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("KUESIONER GANGGUAN TULANG BELAKANG");
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset.fieldset.WithoutDoubleDot
					%span.Number.Single.PositionerLeft 1.
					%label.Full.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneBBDissorderYes" } Apakah Anda pernah menderita hernia/spondylosis/kelainan tulang belakang lainnya?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBDissorderNo" } Tidak
						%input#RadioButtonPolicyHolderBackboneBBDissorderNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBDissorder", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBDissorderYes" } Ya
						%input#RadioButtonPolicyHolderBackboneBBDissorderYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBDissorder", :value => "true" }
						%div.BoxRound.PositionerRight

						%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBDissorderDescription.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 2.
					%label.Full.Wrap.PositionerLeft{ :for => "DatePolicyHolderBackboneBBFirstComplain" } Kapan pertama kali keluhan tersebut dirasakan?
					%table#DatePolicyHolderBackboneBBFirstComplainDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBFirstComplainMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBFirstComplainYear.BoxSquare.PositionerLeft

					%br
					%span.Number.Single.PositionerLeft 3
					%label.Full.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneComplainAmountDay" } Seberapa seringkah keluhan tersebut timbul dalam 12 bulan terakhir?
					%input#TextPolicyHolderBackboneComplainAmount.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 4
					%label.Full.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneBBPainLocation" } Mohon menjelaskan secara rinci pada kolom di bawah ini dan pada bagian tubuh mana?
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBPainLocation.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 5
					%label.Full.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneBBLimitedActivityYes" } Apakah aktivitas Anda mengalami hambatan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBLimitedActivityNo" } Tidak
						%input#RadioButtonPolicyHolderBackboneBBLimitedActivityNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBLimitedActivity", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBLimitedActivityYes" } Ya
						%input#RadioButtonPolicyHolderBackboneBBLimitedActivityYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBLimitedActivity", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent{ :for => "TextPolicyHolderBackboneBBLimitedActivityDescription" }
						%input#TextPolicyHolderBackboneBBLimitedActivityDescription.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 6.
					%label.Full.Wrap.PositionerLeft{ :for => "DatePolicyHolderBackboneBBFirstLimitedActivityDay" } Kapan mengalami hambatan ?.
					%table#DatePolicyHolderBackboneBBFirstLimitedActivityDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBFirstLimitedActivityMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBFirstLimitedActivityYear.BoxSquare.PositionerLeft
					%br
										
					%span.Number.Single.PositionerLeft 7
					%div.ContainerFit
						%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneBBCause" } Mohon menjelaskan secara rinci pada kolom di bawah ini menurut Dokter apa penyebab diagnosis  gangguan tulang belakang tersebut? (Kecelakaan, Proses penuaan, kecelakaan sewaktu berolahraga, dan sebagainya).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBCause.Full.Single.Item{ :type => "text" }
					%br					
					%section#SectionFooter{ :style => "margin-top: 160px;" }=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					%header
						%section#SectionHeader{ :style => "margin-top: 70px; position: relative; top: 70px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%span.Number.Single.PositionerLeft{ :style => "margin-top: 60px;" } 8.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneBBXRayYes", :style => "margin-top: 60px;" } Apakah Anda pernah menjalani X-ray, MRI, atau pemeriksaan lainnya?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBXRayNo", :style => "margin-top: 60px;" } Tidak
						%input#RadioButtonPolicyHolderBackboneBBXRayNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBXRay", :value => "false", :style => "margin-top: 60px;" }
						%div.BoxRound.PositionerRight{ :style => "margin-top: 60px;" }
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBXRayYes", :style => "margin-top: 60px;" } Ya
						%input#RadioButtonPolicyHolderBackboneBBXRayYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBXRay", :value => "true", :style => "margin-top: 60px;" }
						%div.BoxRound.PositionerRight{ :style => "margin-top: 60px;" }
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon berikan tanggal pemeriksaan
					%table#DatePolicyHolderBackboneBBXRayDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBXRayMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBXRayYear.BoxSquare.PositionerLeft
					%br
					%label.NumberIndent.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBXRayYes"} Mohon jelaskan secara rinci pada kolom di bawah ini hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan tulang belakang ini. (Lampirkan fotokopi hasil pemeriksaan)
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBXRayDescription.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 9.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneWalkingStickYes" } Apakah Anda menggunakan tongkat untuk berjalan atau alat bantu lainnya?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneWalkingStickNo" } Tidak
						%input#RadioButtonPolicyHolderBackboneWalkingStickNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneWalkingStick", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneWalkingStickYes" } Ya
						%input#RadioButtonPolicyHolderBackboneNNWalkingStickYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneWalkingStick", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBWalkingStickDescription" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBWalkingStickDescription.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 10
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneSuggestSurgery" } Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneSuggestSurgeryNo" } Tidak
						%input#RadioButtonPolicyHolderBackboneSuggestSurgeryNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneSuggestSurgery", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneSuggestSurgeryYes" } Ya
						%input#RadioButtonPolicyHolderBackboneSuggestSurgeryYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneSuggestSurgery", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Medium.Single.PositionerLeft Jika “Ya”, mohon berikan tanggal operasi:
					%table#DatePolicyHolderBackboneSuggestSurgeryDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneSuggestSurgeryMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneSuggestSurgeryYear.BoxSquare.PositionerLeft
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBDoctorName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderBackboneBBTOPDoctorName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBDoctorTelephone"} No. Telepon/Handphone:
						%input#TextPolicyHolderBackboneBBTOPDoctorTelephone.Full.Single.Item{ :type => "text" }
					%br

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBClinicName"} Nama Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneBBTOPClinicName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBClinicAddress"} Alamat Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneBBTOPClinicAddress.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 11.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneWhenLast" } Mohon jelaskan dengan rinci jenis pengobatan Anda saat ini dan dahulu pada kolom di bawah ini.
					%br
					%label.NumberIndent.Single.PositionerLeft Apakah diberi suntikan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBInjectionNo" } Tidak
						%input#RadioButtonPolicyHolderBackboneBBInjectionNo.PositionerRight{ :type => "radio",
						:name => "RadioButtonPolicyHolderBackboneBBInjection", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBInjectionYes" } Ya
						%input#RadioButtonPolicyHolderBackboneBBInjectionYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBInjection", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Tanggal Berobat
						%label.Short.Single.Item1.Center Nama Obat
						%label.Short.Single.Item1.Center Dosis
						%label.Short.Single.Item1.Center Frekuensi

					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBMIDDLEDateTreatment1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDrugName1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDose1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEFrequency1.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBMIDDLEDateTreatment2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDrugName2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDose2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEFrequency2.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBMIDDLEDateTreatment3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDrugName3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDose3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEFrequency3.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBMIDDLEDateTreatment4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDrugName4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDose4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEFrequency4.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBMIDDLEDateTreatment5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDrugName5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEDose5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackboneBBMIDDLEFrequency5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBOTTOMDoctorName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderBackboneBBBOTTOMDoctorName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBOTTOMDoctorTelephone"} No. Telepon/Handphone:
						%input#TextPolicyHolderBackboneBBBOTTOMDoctorTelephone.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBOTTOMClinicName"} Nama Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneBBBOTTOMClinicName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBOTTOMClinicAddress"} Alamat Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneBBBOTTOMClinicAddress.Full.Single.Item{ :type => "text" }
					%br
					
					%section#SectionFooter{ :style => "margin-top: 160px;" }=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					%header
						%section#SectionHeader{ :style => "margin-top: 70px; position: relative; top: 70px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render
					
					%span.Number.Single.PositionerLeft{ :style => "margin-top: 70px;" } 12
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBottomDoctorName", :style => "margin-top: 70px;" } Saat ini dengan Dokter siapa Anda melakukan kontrol?
					%br

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBottom2DoctorName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderBackboneBBBottom2DoctorName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBottom2DoctorTelephone"} No. Telepon/Handphone:
						%input#TextPolicyHolderBackboneBBBottom2DoctorTelephone.Full.Single.Item{ :type => "text" }
					%br

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBottom2ClinicName"} Nama Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneBBBottom2ClinicName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBBottom2ClinicAddress"} Alamat Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneBBBottom2ClinicAddress.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 13
					%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneBBControlAmount" } Seberapa sering Anda kontrol?
					%input#TextPolicyHolderBackboneBBControlAmount.Short.Single.PositionerLeft{ :type => "text" }
					%label.Long.Separator.Single.PositionerLeft.NumberIndent kali per (hari/minggu/bulan/tahun*) *coret yang tidak perlu
					%br

					%span.Number.Single.PositionerLeft 14.
					%label.Full.Wrap.PositionerLeft{ :for => "DatePolicyHolderBackboneBBLastConsultDay" } Kapan terakhir kali Anda kontrol?
					%table#DatePolicyHolderBackboneBBLastConsultDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBLastConsultMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBLastConsultYear.BoxSquare.PositionerLeft
					%br
					
					%span.Number.Single.PositionerLeft 15
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneBBAbsent" } Apakah Anda pernah tidak masuk kerja dalam jangka waktu lama karena kondisi ini ?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBAbsentNo" } Tidak
						%input#RadioButtonPolicyHolderBackboneBBAbsentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBAbsent", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneBBAbsentYes" } Ya
						%input#RadioButtonPolicyHolderBackboneBBAbsentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneBBAbsent", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, kapan
					%table#DatePolicyHolderBackboneBBAbsentDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBAbsentMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneBBAbsentYear.BoxSquare.PositionerLeft
					%label.NumberIndent.Single.PositionerLeft Dan berapa lama ?
					%input#TextPolicyHolderBackboneBBAbsentAmount.Tiny.Single.PositionerLeft{ :type => "text" }
					%label.Single.PositionerLeft Hari
					%br

					%span.Number.Single.PositionerLeft 16
					%div.ContainerFit
						%label.Full.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneBBAdditionalInformation" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderBackboneBBAdditionalInformation.Full.Single.Item{ :type => "text" }
					%br
				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
