!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypePDF;


			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredFullName", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredFullName2nd", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				boxGenerator("#DatePolicyHolderRespiratoryDetailFirstTimeAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailFirstTimeAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailFirstTimeAriseYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderRespiratoryDetailLastAttackDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailLastAttackMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailLastAttackYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderRespiratoryDetailAttackCauseHospitalDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailAttackCauseHospitalMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailAttackCauseHospitalYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderRespiratoryDetailConsultDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailConsultMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderRespiratoryDetailConsultYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// FOOTER

				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Gangguan Pernapasan");
			});

	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset.fieldset.WithoutDoubleDot
					%span.Number.Single.PositionerLeft 1
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruption" } Apakah gangguan pernapasan yang Anda derita?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderRespiratoryDetailDisruptionAsthma.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailDisruption", :value => "asthma" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailDisruptionAsthma" } Asma
						%input#RadioButtonPolicyHolderRespiratoryDetailDisruptionBronchitis.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailDisruption", :value => "bronchitis" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionBronchitis" } Bronchitis
						%input#RadioButtonPolicyHolderRespiratoryDisruptionTBC.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailDisruption", :value => "tbc" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDisruptionTBC" } TBC
						%br
						%input#RadioButtonPolicyHolderRespiratoryDetailDisruptionOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailDisruption", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailDisruptionOtherDesc"} Lainnya, sebutkan
						%input#TextPolicyHolderRespiratoryDetailDisruptionOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 2.
					%label.Single.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailFirstTimeAriseDay" } Kapan pertama kali Anda merasakan gejala-gejala tersebut?
					%table#DatePolicyHolderRespiratoryDetailFirstTimeAriseYear.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailFirstTimeAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailFirstTimeAriseDay.BoxSquare.PositionerRight
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Single.PositionerLeft{ :for => "NumberPolicyHolderRespiratoryDetailLastTwoYearsAttack" } a. Berapa kali serangan dalam 2 (dua) tahun terakhir?
					%input#TextPolicyHolderRespiratoryDetailLastTwoYearsAttack.Short.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailLastAttackDay" } b. Kapan serangan terakhir?
					%table#DatePolicyHolderRespiratoryDetailLastAttackYear.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailLastAttackMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderRespiratoryDetailLastAttackDay.BoxSquare.PositionerRight
					%br

					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryAttackCause" } Berapa kali serangan-serangan tersebut menyebabkan Anda:
					%br
					%span.Single.NumberIndent.PositionerLeft (Mohon melampirkan resume perawatan yang Anda miliki)
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderRespiratoryDetailAttackCauseAbsent.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailAttackCause", :value => "absent" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailAttackCauseAbsent" } Tidak masuk kerja, selama
					%label.Single.PositionerRight{ :for => "NumberPolicyHolderRespiratoryDetailAttackCauseAbsentYear"} Tahun
					%input#NumberPolicyHolderRespiratoryDetailAttackCauseAbsentYear.Tiny.Single.PositionerRight{ :type => "number" }
					%label.Single.PositionerRight{ :for => "NumberPolicyHolderRespiratoryDetailAttackCauseAbsentMonth"} Bulan
					%input#NumberPolicyHolderRespiratoryDetailAttackCauseAbsentMonth.Tiny.Single.PositionerRight{ :type => "number" }
					%label.Single.PositionerRight{ :for => "NumberPolicyHolderRespiratoryDetailAttackCauseAbsentWeek"} Minggu
					%input#NumberPolicyHolderRespiratoryDetailAttackCauseAbsentWeek.Tiny.Single.PositionerRight{ :type => "number" }
					%label.Single.PositionerRight{ :for => "NumberPolicyHolderRespiratoryDetailAttackCauseAbsentDay"} Hari
					%input#NumberPolicyHolderRespiratoryDetailAttackCauseAbsentDay.Tiny.Single.PositionerRight{ :type => "number" }
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderRespiratoryDetailAttackCauseHospital.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailAttackCause", :value => "hospital" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailAttackCauseHospital" } Dirawat di Rumah Sakit
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailAttackCauseHospitalDay" } Tanggal perawatan:
					%table#DatePolicyHolderRespiratoryDetailAttackCauseHospitalDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderRespiratoryDetailAttackCauseHospitalMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderRespiratoryDetailAttackCauseHospitalYear.BoxSquare.PositionerLeft
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailAttackCauseHospitalDuration"} Lama perawatan:
					%input#TextPolicyHolderRespiratoryDetailAttackCauseHospitalDuration.Long.Single.PositionerLeft{ :type => "text" }
					%label.Single.PositionerLeft{ :for => "NumberPolicyHolderRespiratoryNumberOfAttackCauseHospitalDuration"} (hari/minggu/bulan*) *coret yang tidak perlu
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderRespiratoryDetailAttackCauseDoctorName"} Nama Lengkap Dokter
						%input#TextPolicyHolderRespiratoryDetailAttackCauseDoctorName.Full.Single.Item{ :type => "text" }
					%br

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderRespiratoryDetailAttackCauseHospitalTelephone"} No. Telepon/Handphone:
						%input#TextPolicyHolderRespiratoryDetailAttackCauseHospitalTelephone.Full.Single.Item{ :type => "text" }
					%br

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderRespiratoryDetailAttackCauseHospitalName"} Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderRespiratoryDetailAttackCauseHospitalName.Full.Single.Item{ :type => "text" }
					%br

					%section#SectionFooter=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render

					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%div.ContainerFit.NumberIndent{ :style => "margin-top: 30px;"}
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailAttackCauseHospitalAddress"} Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderRespiratoryDetailAttackCauseHospitalAddress.Full.Single.PositionerLeft{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailAttackCauseHospitalAddress"}
						%input#TextPolicyHolderRespiratoryDetailAttackCauseHospitalAddress2nd.Full.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 5.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryComplainCaugh" } Sewaktu tidak ada serangan, apakah ada keluhan-keluhan berikut?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderRespiratoryDetailComplainCaugh.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailComplain", :value => "caugh" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailComplainCaugh" } Batuk
						%input#RadioButtonPolicyHolderRespiratoryDetailComplainShortnessBreath.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailComplain", :value => "shortnessbreath" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailComplainShortnessBreath" } Nafas Pendek
						%input#RadioButtonPolicyHolderRespiratoryDetailComplainNgikSound.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailComplain", :value => "ngiksound" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailComplainNgikSound" } Berbunyi “ngik”
					%br

					%span.Single.Number.PositionerLeft 6.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailTherapy" } a.	Pengobatan apakah yang digunakan untuk mengatasi gangguan pernapasan?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderRespiratoryDetailTherapyInhaler.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailTherapy", :value => "inhaler" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailTherapyInhaler" } Inhaler
						%input#RadioButtonPolicyHolderRespiratoryDetailTherapyDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailTherapy", :value => "drugs" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailTherapyDrug" } Obat-obatan (Jelaskan nama obat, dosis dan frekuensi penggunaannya pada kolom di bawah ini).
					%br

					-#
						%table.Square.NumberIndent.PositionerLeft#TablePolicyHolderRespiratoryDetail
							%thead
								%tr
									%th Nama Obat
									%th Dosis
									%th Frekuensi
						%br

					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Nama Obat
						%label.Short.Single.Item1.Center Dosis
						%label.Short.Single.Item1.Center Frekuensi

					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugName1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugDose1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugFrequency1.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugName2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugDose2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugFrequency2.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugName3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugDose3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugFrequency3.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugName4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugDose4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugFrequency4.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugName5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugDose5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailRRUPDrugFrequency5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailConsumption" } b. Kapan obat-obatan tersebut dikonsumsi?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderRespiratoryDetailConsumptionEveryDay.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailConsumption", :value => "everyday" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailConsumptionEveryDay" } Setiap hari
						%input#RadioButtonPolicyHolderRespiratoryDetailConsumptionWhenAttacked.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailConsumption", :value => "whenattacked" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderRespiratoryDetailConsumptionWhenAttacked" } Hanya saat serangan
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailStillConsumed" } c. Apakah obat-obatan tersebut masih dikonsumsi sampai sekarang?
					%div.RadioButton.NumberIndent.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderRespiratoryDetailStillConsumedNo" } Tidak
						%input#RadioButtonPolicyHolderRespiratoryDetailStillConsumedNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailStillConsumed", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderRespiratoryDetailStillConsumedYes" } Ya
						%input#RadioButtonPolicyHolderRespiratoryDetailStillConsumedYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderRespiratoryDetailStillConsumed", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%label.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryStillConsumedDesc"} Mohon menjelaskan alasannya secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRespiratoryDetailStillConsumedDesc.Full.Single.PositionerLeft{ :type => "text" }
					%br

					%div.ContainerFit
						%span.NumberFix.Single.Item 7.
						%label.Wrap.Item Sehubungan dengan gangguan pernapasan, kapan dan bagaimana hasil pemeriksaan darah, rontgen dada, spirometri lainnya? (Mohon dilampirkan fotokopi hasil pemeriksaan).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRespiratoryDetailMedicalCheckResult.Full.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 8.
					%label.Single.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailConsultDay" } Mohon lengkapi data Dokter dan Rumah Sakit yang biasa dikunjungi untuk gangguan pernapasan.
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderRespiratoryDetailConsultDay" } Tanggal terakhir konsultasi:
					%table#DatePolicyHolderRespiratoryDetailConsultDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderRespiratoryDetailConsultMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderRespiratoryDetailConsultYear.BoxSquare.PositionerLeft
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailConsultDiagnose" } Diagnosa:
						%input#TextPolicyHolderRespiratoryDetailConsultDiagnose.Full.Single.PositionerLeft{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailConsultDoctorName" } Nama Lengkap Dokter:
						%input#TextPolicyHolderRespiratoryDetailConsultDoctorName.Full.Single.PositionerLeft{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailConsultPhone" } No. Telepon/Handphone:
						%input#TextPolicyHolderRespiratoryDetailConsultPhone.Full.Single.PositionerLeft{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailConsultHospitalName" } Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderRespiratoryDetailConsultHospitalName.Full.Single.PositionerLeft{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Multi.PositionerLeft{ :for => "TextPolicyHolderRespiratoryDetailConsultHospitalAddress" } Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderRespiratoryDetailConsultHospitalAddress.Full.Single.PositionerLeft{ :type => "text" }
					%br
					%section#SectionFooter{ :style => "margin-top: -30px;"}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render

					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%div.ContainerFit
						%span.NumberFix.Single.Item 9.
						%label.Wrap.Item Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderRespiratoryDetailAdditionalInfo.Full.Single.PositionerLeft{ :type => "text" }
					%br



				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
