!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				
				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseYear", 4, boxTypeWithoutLabel, null);								
				boxGenerator("#DatePolicyHolderTumorWhenStartDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorWhenStartMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorWhenStartYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DatePolicyHolderTumorOperationDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorOperationMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorOperationYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorConsultLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorConsultLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorConsultLastYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorLastTherapyDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLastTherapyMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLastTherapyYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorLeaveDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLeaveMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLeaveYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// FOOTER
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Tumor");
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.Single.PositionerLeft 1.
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorFirstDiagnoseDay" } Kapan pertama kali diketahui adanya tumor?
					%table#DatePolicyHolderTumorFirstDiagnoseYear.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorFirstDiagnoseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorFirstDiagnoseDay.BoxSquare.PositionerRight
					%br
					
					%span.Number.Single.PositionerLeft 2.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorWhere" } Pada bagian tubuh mana tumor tersebut tumbuh?
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorWhere.Full.Single.Item{ :type => "text" }
						%br
					  
					%span.Number.Single.PositionerLeft 3.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorDiagnose" } Mohon sebutkan diagnosis pasti dari tumor tersebut.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorDiagnose.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 4.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTaken" } Apakah tumor tersebut telah diangkat/dioperasi?					
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorTakenNo" } Tidak					
						%input#RadioButtonPolicyHolderTumorTakenNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTaken", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorTakenYes" } Ya						
						%input#RadioButtonPolicyHolderTumorTakenYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTaken", :value => "true" }
						%div.BoxRound.PositionerRight
					%br								

					%label.Wrap.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTumorOperationDay" } a. Tanggal operasi					
					%table#DatePolicyHolderTumorOperationDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorOperationMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorOperationYear.BoxSquare.PositionerLeft
					%br
					
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTumorOperationMethod"} b. Metode operasi (anestesi local, bedah beku/cryosurgery, operasi dengan anestesi umum, dan sebagainya). Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorOperationMethod.Line.Full.Single.Item{ :type => "text" }		
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTumorConsultLastDay" } c. Mohon lengkapi data Dokter dan Rumah Sakit yang biasa dikunjungi untuk gangguan pernapasan.
					%br
					
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTumorConsultLastDay" } Tanggal terakhir konsultasi				
					%table#DatePolicyHolderTumorConsultLastDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorConsultLastMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorConsultLastYear.BoxSquare.PositionerLeft
					%br	

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorConsultDoctorName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderTumorConsultLastDoctorName.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorConsultTelephone"} No. Telepon/Handphone:
						%input#TextPolicyHolderTumorConsultLastTelephone.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorConsultLastClinic"} Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderTumorConsultLastClinic.Full.Single.Item{ :type => "text" }
					%br					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorConsultLastAddress"} Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderTumorConsultLastAddress.Full.Single.Item{ :type => "text" }
					%br
					
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapy" } d. Pengobatan/tindakan apa yang diberikan setelah dilakukan operasi tumor?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderTumorTherapyAssDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapyAss", :value => "drug" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyAssDrug" } Obat tablet
												
						%input#RadioButtonPolicyHolderTumorTherapyAssRadio.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapyAss", :value => "radiotherapy" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyAssRadio" } Radioterapi
												
						%input#RadioButtonPolicyHolderTumorTherapyAssChemo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapyAss", :value => "chemotherapy" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyAssChemo" } Kemoterapi
					
																		
						%input#RadioButtonPolicyHolderTumorTherapyAssOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapyAss", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyAssOthers" } Lainnya, Sebutkan.
						%input#TextPolicyHolderTumorTherapyAssOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Wrap.NumberIndent.PositionerLeft Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorTherapyAssOtherDesc.Line.Full.Single.Item{ :type => "text" }
					%br					
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorPrognosa" } e. Apakah anda pernah diberi informasi tentang prognosa (ramalan) atas tumor tersebut?
					%div.RadioButton
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorPrognosaNo" } Tidak
						%input#RadioButtonPolicyHolderTumorPrognosaNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorPrognosa", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorPrognosaYes" } Ya
						%input#RadioButtonPolicyHolderTumorPrognosaYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorPrognosa", :value => "true" }
						%div.BoxRound.PositionerRight
					%br			

					%label.Wrap.NumberIndent.PositionerLeft Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderTumorPrognosa.Line.Full.Single.Item{ :type => "text" }
					%br												
					
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TablePolicyHolderTumorCheckup" } f. Pemeriksaan-pemeriksaan apa saja yang telah dilakukan, termasuk tanggal dan hasil pemeriksaan tersebut.
					%br
					
					-#
						%div.ContainerFit.NumberIndent
							%table#TablePolicyHolderTumorCheckup
								%thead
									%tr
										%th Jenis Pemeriksaan
										%th Tanggal Pemeriksaan
										%th Hasil Pemeriksaan							
						%br
						
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Jenis Pemeriksaan  
						%label.Short.Single.Item1.Center Tanggal Pemeriksaan
						%label.Short.Single.Item1.Center Hasil Pemeriksaan						
												
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailCheckupType1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailCheckupDate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailCheckupResult1.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailDrugName2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDrugDose2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDrugFrequency2.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailDrugName3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDrugDose3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDrugFrequency3.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailDrugName4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDrugDose4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDrugFrequency4.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailDrugName5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDrugDose5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDrugFrequency5.Short.Single.Item1.Margin{ :type => "text" }															
					%br
						
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTumorActionDesc"} g. Pengobatan atau tindakan operasi apa saja yang pernah dianjurkan?
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorActionDesc.Line.Full.Single.Item{ :type => "text" }
					%br									
					
					%span.Number.Single.PositionerLeft 5.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorCurrent" } Apakah sampai saat ini masih dalam pengobatan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorCurrentNo" } Tidak
						%input#RadioButtonPolicyHolderTumorCurrentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorCurrent", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorCurrentYes" } Ya				
						%input#RadioButtonPolicyHolderTumorCurrentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorCurrent", :value => "true" }
						%div.BoxRound.PositionerRight
						%br								

					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTumorLastTherapyDay" } Tanggal terakhir perawatan:
					%table#DatePolicyHolderTumorLastTherapyDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorLastTherapyMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorLastTherapyYear.BoxSquare.PositionerLeft
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorReason"} Alasan
						%input#TextPolicyHolderTumorReason.Full.Single.Item{ :type => "text" }
					%br

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorTreatment"} Pengobatan
						%input#TextPolicyHolderTumorTreatment.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorHowOften"} Berapa kali dalam 1 (satu) tahun
						%input#TextPolicyHolderTumorHowOften.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorDocterName"} Nama Lengkap Dokter
						%input#TextPolicyHolderTumorDocterName.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorTelephone"} No. Telepon/Handphone:
						%input#TextPolicyHolderTumorTelephone.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorClinicName"} Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderTumorClinicName.Full.Single.Item{ :type => "text" }
					%br				
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorClinicAddress"} Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderTumorClinicAddress.Full.Single.Item{ :type => "text" }
					%br
					
					
					%span.Number.Single.PositionerLeft 6.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorLeaveYes" } Apakah Anda pernah tidak masuk kerja karena kondisi ini?				
					%div.RadioButton
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorLeaveNo" } Tidak					
						%input#RadioButtonPolicyHolderTumorLeaveNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorLeave", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorLeaveYes" } Ya
						%input#RadioButtonPolicyHolderTumorLeaveYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorLeave", :value => "true" }
						%div.BoxRound.PositionerRight
					%br								

					%label.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTumorLeaveDay" } Jika “Ya”, kapan
					
					%table#DatePolicyHolderTumorLeaveDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorLeaveMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorLeaveYear.BoxSquare.PositionerLeft
					
					%label.Separator.Single.PositionerLeft Dan berapa lama?
					%input#TextPolicyHolderTumorLeaveDuration.Line.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft Hari
					%br

					%br
					%span.Number.Single.PositionerLeft 7.
					%label.Wrap.PositionerLeft Sebutkan kapan terakhir kali Anda melakukan konsultasi dengan dokter? Mohon lengkapi pertanyaan pada kolom di bawah ini dan mohon dilampirkan fotokopi hasil pemeriksaan.
					%br
					
					-#
						%div.ContainerFit.NumberIndent
							%table#TablePolicyHolderTumorLastConsult
								%thead
									%tr
										%th Jenis Pemeriksaan
										%th Tanggal Pemeriksaan
										%th Hasil Pemeriksaan						
						%br
				
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Jenis Pemeriksaan  
						%label.Short.Single.Item1.Center Tanggal Pemeriksaan
						%label.Short.Single.Item1.Center Hasil Pemeriksaan
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailKindOfChecking1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDateOfChecking1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailResultOfChecking1.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailKindOfChecking2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDateOfChecking2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailResultOfChecking2.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailKindOfChecking3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDateOfChecking3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailResultOfChecking3.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailKindOfChecking4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDateOfChecking4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailResultOfChecking4.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderRespiratoryDetailKindOfChecking5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailDateOfChecking5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderRespiratoryDetailResultOfChecking5.Short.Single.Item1.Margin{ :type => "text" }															
					%br
					
					%br
					%span.Number.Single.PositionerLeft 8.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorAdditionalInfo.Full.Single.Item{ :type => "text"}
					%br 
					
				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render