!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL				
				boxGenerator("#TextPolicyHolderFlightFullName", 24, boxTypeWithoutLabel, null);				
				boxGenerator("#DatePolicyHolderFlightBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderFlightBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderFlightBirthdayYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFlightSPAJNumber", 24, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				
				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Penerbangan");
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1 KUESIONER PENERBANGAN
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render
			
		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_activitypolicyholder.haml")).render					
				/ FIELDSET
				
				%fieldset
					%span.Number.Single.PositionerLeft 1. 						
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderFlightJob" } Apakah Anda terbang sebagai pilot atau navigator?
					%br		
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightJob.Full.Single.Item
					%br
					
					%span.Number.Single.PositionerLeft 2.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightPassengerYes" } Apakah Anda terbang sebagai penumpang?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderFlightPassengerYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightPassenger", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightPassengerYes" } Ya
						%input#RadioButtonPolicyHolderFlightPassengerNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightPassenger", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightPassengerNo" } Tidak
					%br	
						
					%span.Number.Single.PositionerLeft 3.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightHavePlane" } Apakah Anda memiliki pesawat sendiri?
					%br
					%div.RadioButton.NumberIndent

						%input#RadioButtonPolicyHolderFlightHavePlaneYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightHavePlane", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightHavePlaneYes" } Ya

						%input#RadioButtonPolicyHolderFlightHavePlaneNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightHavePlane", :value => "falsek" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightHavePlaneNo" } Tidak
					%br	
						
					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderFlightPlaneType" } Sebutkan jenis pesawat apakah yang Anda terbangkan?
					%br

					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightPlaneType.Full.Single.Item.PositionerLeft
					%br

					%span.Number.Single.PositionerLeft 5.
					%label.Single.PositionerLeft{ :for => "TablePolicyHolderFlightLicenseList" } Mohon sebutkan Lisensi/ Sertifikat yang Anda miliki:
					%br
					-#
						%div.ContainerFit							
							%table#TablePolicyHolderFlightLicense.NumberIndent
								%thead
									%tr
										%th Lisensi/Sertifikat
										%th Tanggal Perolehan
										%th Tanggal Perpanjangan
						%br	
					
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Lisensi/Sertifikat
						%label.Short.Single.Item1.Center Tanggal Perolehan
						%label.Short.Single.Item1.Center Tanggal Perpanjangan
					%div.ContainerFit.NumberIndent						
						%input#TextPolicyHolderFlightLicenseCertificate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention1.Short.Single.Item1.Margin{ :type => "text" }					
					%div.ContainerFit.NumberIndent						
						%input#TextPolicyHolderFlightLicenseCertificate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention2.Short.Single.Item1.Margin{ :type => "text" }					
					%div.ContainerFit.NumberIndent						
						%input#TextPolicyHolderFlightLicenseCertificate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention3.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent						
						%input#TextPolicyHolderFlightLicenseCertificate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention4.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent						
						%input#TextPolicyHolderFlightLicenseCertificate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateObtain5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderFlightLicenseCertificateExtention5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 6.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightScope" } Apakah Anda berencana untuk merubah cakupan lisensi yang saat ini Anda miliki?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonPolicyHolderFlightScopeYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightScope", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightScopeYes" } Ya
						%input#RadioButtonPolicyHolderFlightScopeNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightScope", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightScopeNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightScopeDesc" } Jika ya, mohon jelaskan secara rinci :
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightScopeDesc.Full.Single.Item.PositionerLeft
					%br

					%span.Number.Single.PositionerLeft 7.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightClub" } Apakah Anda anggota suatu klub atau asosiasi kegiatan menerbang?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonPolicyHolderFlightClubYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightClub", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightClubYes" } Ya
						%input#RadioButtonPolicyHolderFlightClubNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightClub", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightClubNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightIsClubDesc" } Jika ya, mohon jelaskan secara rinci :
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightIsClubDesc.Full.Single.Item.PositionerLeft
					%br

					%span.Number.Single.PositionerLeft 8.
					%label.Single.PositionerLeft{ :for => "TablePolicyHolderFlightCondition" } Mohon sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan Anda yang mungkin dapat membantu proses pengajuan Asuransi ini
					%br
					-#
						%div.ContainerFit
							%table#TablePolicyHolderFlightCondition.NumberIndent
								%thead
									%tr
										%th 
										%th Tujuan
										%th Total
										%th 12 bulan terakhir
										%th 12 bulan y.a.d
										%th Total
										%th 12 bulan terakhir
										%th 12 bulan y.a.d

								%tbody
									%tr
										%td Penerbangan berjadwal
										%td 
										%td
										%td 
										%td
										%td 
										%td	
										%td									
									%tr
										%td Penerbangan tdk berjadwal
										%td
										%td								
										%td 
										%td
										%td 
										%td	
										%td																	
									%tr
										%td Penerbangan komersial
										%td
										%td
										%td 
										%td
										%td 
										%td	
										%td																	
									%tr
										%td Penerbangan Pribadi
										%td
										%td
										%td 
										%td
										%td 
										%td	
										%td									

									%tr
										%td Helikopter
										%td
										%td
										%td 
										%td
										%td 
										%td	
										%td									

									%tr
										%td Terbang layang
										%td
										%td
										%td 
										%td
										%td 
										%td	
										%td									

									%tr
										%td Lainnya
										%td
										%td	
										%td 
										%td
										%td 
										%td	
										%td	
						%br
					
					%span.Number.Single.PositionerLeft 9.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderFlightFrom" } Darimana Anda Terbang?
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightFrom.Full.Single.Item.PositionerLeft
					%br

					%span.Number.Single.PositionerLeft 10.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAirportControl" } Apakah Anda terbang dari bandara control?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonPolicyHolderFlightAirportControlYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightAirportControl", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAirportControlYes" } Ya
						%input#RadioButtonPolicyHolderFlightAirportControlNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightAirportControl", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAirportControlNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightPilotAirportControlDesc" } Jika ya, mohon jelaskan secara rinci:
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightAirportControlDesc.Full.Single.Item.PositionerLeft
					%br
						
					%span.Number.Single.PositionerLeft 11.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAccident" } Pernahkan Anda mengalami kecelakaan terbang atau pelanggaran pengunaan/ pencabutan lisensi?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonPolicyHolderFlightAccidentYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightAccident", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAccidentYes" } Ya
						%input#RadioButtonPolicyHolderFlightAccidentNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightAccident", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightAccidentNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightAccidentDesc" } Jika ya, mohon jelaskan secara rinci :
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightAccidentDesc.Full.Single.Item
					%br

					%span.Number.Single.PositionerLeft 12.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightNoFly" } Apakah Anda memiliki larangan dalam penerbangan yang dianjurkan dalam surat keterangan medis?
					%div.RadioButton.NumberIndent 	
						%input#RadioButtonPolicyHolderFlightNoFlyYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightNoFly", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightNoFlyYes" } Ya
						%input#RadioButtonPolicyHolderFlightNoFlyNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderFlightNoFly", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderFlightNoFlyNo" } Tidak
					%br
					%label.Wrap.Long.NumberIndent{ :for => "TextPolicyHolderFlightNoFlyDesc" } Jika ya, mohon jelaskan secara rinci :
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightNoFlyDesc.Full.Single.Item
					%br

					%span.Number.Single.PositionerLeft 13.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderFlightOtherInfo" } Mohon sebutkan bila ada informasi lain sehubungan dengan kondisi kesehatan Anda yang mungkin dapat membantu proses pengajuan Asuransi ini:
					%br	
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderFlightOtherInfo.Full.Single.Item
					%br
					
				%section#SectionDeclaration{ :style => "margin-top: 30px;"}
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render