!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypePDF;
			var jsonDummy = '{"result":{"readFromDB":[{"elementID":"DatePolicyHolderAlcoholALStart1","Value":"01/02/1990"}]}}'

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredFullName", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredFullName2nd", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextProspectiveInsuredBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateProspectiveInsuredBirthYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderAlcoholALOnLeavePeriodDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderAlcoholALOnLeavePeriodMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderAlcoholALOnLeavePeriodYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);


				// SECTION MANDATORY

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// FOOTER

				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("KUESIONER ALKOHOL DAN PENGGUNAAN OBAT-OBATAN");

				// TEST

				// var objectContent = JSON.parse(jsonDummy);
				// getFromDatabaseForHealthQuestionnaire(objectContent.result.readFromDB, stringPageTypePDF);
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset.fieldset.WithoutDoubleDot
					%span.Number.Single.PositionerLeft 1.
					%label.Full.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderAlcoholALConsume" } Apakah saat ini Anda mengkonsumsi alkohol/obat-obatan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholALConsumeNo" } Tidak
						%input#RadioButtonPolicyHolderAlcoholALConsumeNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholALConsume", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholALConsumeYes" } Ya
						%input#RadioButtonPolicyHolderAlcoholALConsumeYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholALConsume", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Wrap.PositionerLeft Jika “Ya”, mohon mengisi kolom di bawah ini.
					%br

					-#
						%div.NumberIndent{ :style => "border-color: blue; border-width: thin; border-style: solid;" }
							%table{ :style => "width: 100%;" }
								%thead
									%tr
										%td.MediumFix{ :rowspan => "2" } Jenis
										%td.Short{ :rowspan => "2" } Frekuensi
										%td.Short{ :rowspan => "2" } Dosis
										%td.Short{ :colspan => "2" } Waktu Penggunaan
									%tr
										%td.Short Mulai (Tgl/Bln/Thn)
										%td.Short Berhenti (Tgl/Bln/Thn)
					%div.TableHeader.NumberIndent
						%div.ContainerFit
							%label.MediumFix.Item1.Center Jenis
							%label.Short.Item1.Center Frekuensi
							%label.Short.Item1.Center Dosis
							%label.Item2.Center{ :style => "min-width: 260px; padding-left: 20px; padding-right: 20px;" } Waktu Penggunaan
						%div.ContainerFit
							%label.MediumFix.Item1.Center
							%label.Short.Item1.Center
							%label.Short.Item1.Center
							%label.Short.Item1.Center Mulai (Tgl/Bln/Thn)
							%label.Short.Item1.Center Berhenti (Tgl/Bln/Thn)

					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Alkohol
						%input#TextPolicyHolderAlcoholALFrequency1.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose1.Short.Single.Item1{ :type => "text" }
						%input#DatePolicyHolderAlcoholALStart1.Short.Single.Item1{ :type => "text" }
						%input#DatePolicyHolderAlcoholALEnd1.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Narkotika
						%input#TextPolicyHolderAlcoholALFrequency2.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose2.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart2.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd2.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Amphetamine
						%input#TextPolicyHolderAlcoholALFrequency3.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose3.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart3.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd3.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Ganja, marijuana
						%input#TextPolicyHolderAlcoholALFrequency4.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose4.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart4.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd4.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Cocaine
						%input#TextPolicyHolderAlcoholALFrequency5.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose5.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart5.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd5.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Halusinogen
						%input#TextPolicyHolderAlcoholALFrequency6.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose6.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart6.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd6.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Penenang/obat tidur
						%input#TextPolicyHolderAlcoholALFrequency7.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose7.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart7.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd7.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Zat tertentu (lem, thinner)
						%input#TextPolicyHolderAlcoholALFrequency8.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose8.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart8.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd8.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Obat penghilang rasa sakit
						%input#TextPolicyHolderAlcoholALFrequency9.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose9.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart9.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd9.Short.Single.Item1{ :type => "text" }
					%div.ContainerFit.NumberIndent.TableItem
						%label.MediumFix.Single.Item Lainnya, sebutkan
						%input#TextPolicyHolderAlcoholALFrequency10.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDose10.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALStart10.Short.Single.Item1{ :type => "text" }
						%input#TextPolicyHolderAlcoholALEnd10.Short.Single.Item1{ :type => "text" }
					%br

					%section#SectionFooter{ :style => "margin-top: 100px; position: relative; top: 100px; display: block;"}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render

					%header
						%section#SectionHeader{ :style => "margin-top: 60px; position: relative; top: 60px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%span.Number.Single.PositionerLeft{ :style => "margin-top: 40px;"} 2.
					%label.Full.Wrap.PositionerLeft{ :for => "TextPolicyHolderAlcoholSober", :style => "margin-top: 40px;" } Jika Anda telah berhenti menggunakan alkohol/obat-obatan tersebut diatas.
					%br
					%label.NumberIndent.Full.Wrap.PositionerLeft{ :for => "TextPolicyHolderAlcoholSober" }	Mohon menjelaskan secara rinci pada kolom di bawah ini atas saran/permintaan siapa dan sejak kapan Anda berhenti.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderAlcoholSober.Full.Multi.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Full.Wrap.PositionerLeft Apakah Anda pernah melakukan konsultasi atau mendapatkan terapi dari dokter karena penggunaan alkohol/obat-obatan?
					%br
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Nama Dokter
						%label.Short.Single.Item1.Center Alamat
						%label.Short.Single.Item1.Center Waktu Konsultasi
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderAlcoholALDoctorName1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDoctorAddress1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderAlcoholALConsultTime1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderAlcoholALDoctorName2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDoctorAddress2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderAlcoholALConsultTime2.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderAlcoholALDoctorName3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderAlcoholALDoctorAddress3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderAlcoholALConsultTime3.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 4.
					%label.Full.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderAlcoholMedicalCondition" } Pernahkah Anda mengalami kondisi medis atau gangguan yang berhubungan dengan penggunaan alkohol/obat-obatan?
					%br
					%label.NumberIndent.Full.Wrap.PositionerLeft (Misal hepatitis, HIV, kesehatan mental, dan lain-lain)
					%div.RadioButton.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholMedicalConditionNo" } Tidak
						%input#RadioButtonPolicyHolderAlcoholMedicalConditionNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholMedicalCondition", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholMedicalConditionYes" } Ya
						%input#RadioButtonPolicyHolderAlcoholMedicalConditionYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholMedicalCondition", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Single.PositionerLeft{ :for => "TextPolicyHolderAlcoholMedicalConditionDescription" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderAlcoholMedicalConditionDescription.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 5.
					%label.Full.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderAlcoholALMedicalTreatment" } Apakah Anda menjalani perawatan di rumah sakit karena penggunaan alkohol/obat-obatan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholALMedicalTreatmentNo" } Tidak
						%input#RadioButtonPolicyHolderAlcoholALMedicalTreatmentNo.PositionerRight{ :type => "radio",
						:name => "RadioButtonPolicyHolderAlcoholALMedicalTreatment", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholALMedicalTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderAlcoholALMedicalTreatmentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholALMedicalTreatment", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon mengisi secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderAlcoholALTreatmentDoctorName"} a. Nama Dokter
						%input#TextPolicyHolderAlcoholALTreatmentDoctorName.Full.Single.Item{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderAlcoholALTreatmentDoctorTelephone"} b. No. Telp/Hp
						%input#TextPolicyHolderAlcoholALTreatmentDoctorTelephone.Full.Single.Item{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderAlcoholTreatmentDoctorAddress"} c. Alamat Dokter
						%input#TextPolicyHolderAlcoholALTreatmentDoctorAddress.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 6.
					%label.Full.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderAlcoholContinueTreatment" } Apakah Anda saat ini masih mendapatkan perawatan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholContinueTreatmentNo" } Tidak
						%input#RadioButtonPolicyHolderAlcoholContinueTreatmentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholContinueTreatment", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholContinueTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderAlcoholContinueTreatmentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholContinueTreatment", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon mengisi secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderAlcoholALContinueTreatmentDoctorName"} a. Nama Dokter
						%input#TextPolicyHolderAlcoholALContinueTreatmentDoctorName.Full.Single.Item{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderAlcoholALContinueTreatmentDoctorTelephone"} b. No. Telp/Hp
						%input#TextPolicyHolderAlcoholALContinueTreatmentDoctorTelephone.Full.Single.Item{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderAlcoholALContinueTreatmentDoctorAddress"} c. Alamat Dokter
						%input#TextPolicyHolderAlcoholALContinueTreatmentDoctorAddress.Full.Single.Item{ :type => "text" }
					%b

					%span.Number.Single.PositionerLeft{ :style => "margin-top: 30px;" } 7.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderAlcoholALOnLeave", :style => "margin-top: 30px;" } Apakah Anda pernah tidak masuk kerja karena kondisi ini?
					%div.RadioButton.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholALOnLeaveNo", :style => "margin-top: 30px;" } Tidak
						%input#RadioButtonPolicyHolderAlcoholALOnLeaveNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholALOnLeave", :value => "false", :style => "margin-top: 30px;" }
						%div.BoxRound.PositionerRight{ :style => "margin-top: 30px;" }
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholALOnLeaveYes", :style => "margin-top: 30px;" } Ya
						%input#RadioButtonPolicyHolderAlcoholALOnLeaveYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholALOnLeave", :value => "true", :style => "margin-top: 30px;" }
						%div.BoxRound.PositionerRight{ :style => "margin-top: 30px;" }
					%br

					%label.NumberIndent.Single.PositionerLeft{ :for => "DatePolicyHolderAlcoholALOnLeave" } Jika “Ya”, kapan:
					%table#DatePolicyHolderAlcoholALOnLeavePeriodDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderAlcoholALOnLeavePeriodMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderAlcoholALOnLeavePeriodYear.BoxSquare.PositionerLeft

					%div.ContainerFit.NumberIndent.PositionerRight
						%label.NumberIndent.Single.PositionerRight{ :for => "TextPolicyHolderAlcoholOnLeavePeriod" } Dan berapa lama
						%input#TextPolicyHolderAlcoholOnLeavePeriod.Short.Single.Item{ :type => "text" }
						%label.NumberIndent.Single.PositionerRight Hari
					%br

					%span.Number.Single.PositionerLeft 8.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderAlcoholALCheckUp" } Apakah pernah melakukan pemeriksaan kesehatan sehubungan penggunaan alkohol/obat-obatan?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholALCheckUpNo" } Tidak
						%input#RadioButtonPolicyHolderAlcoholALCheckUpNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholALCheckUp", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderAlcoholALCheckUpYes" } Ya
						%input#RadioButtonPolicyHolderAlcoholALCheckUpYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderAlcoholALCheckUp", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci dan berapa lama terjadinya pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderAlcoholALCheckUp.Full.Single.Item{ :type => "text" }
					%br

					%section#SectionFooter=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%div.ContainerFit
						%span.NumberFix.Single.Item{ :style => "margin-top: 40px;" } 9.
						%label.Full.Wrap.Item{ :for => "TextPolicyHolderAlcoholALAddtionalInformation", :style => "margin-top: 40px;" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderAlcoholALAddtionalInformation.Full.Single.Item{ :type => "text" }

				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
