!!! 5

%html

    / HEAD
    
    %head
        = Haml::Engine.new(File.read("include_spajpdf_header.haml")).render
        %title BCA Life - BLESS, SPAJ PDF

        / JQUERY
        
        :javascript
        
            // IOS FUNCTION
        
            __functionIndexMap = {};
            <!-- core wrapper to client -->
            function calliOSFunction(functionName, successCallback, errorCallback, callInfo)
            {
                var url = 'js-frame:';
                callInfo.functionname = functionName;
                
                if (successCallback)
                {
                    if (typeof successCallback == 'function')
                    {
                        var callbackFuncName = createCallbackFunction(functionName + '_' + 'successCallback', successCallback);
                        callInfo.success = callbackFuncName;
                    }
                    else
                        callInfo.success = successCallback;
                }
                if (errorCallback)
                {
                    if (typeof errorCallback == 'function')
                    {
                        var callbackFuncName = createCallbackFunction(functionName + '_' + 'errorCallback', errorCallback);
                        callInfo.error = callbackFuncName;
                    }
                    else
                        callInfo.error = errorCallback;
                }
                
                url += JSON.stringify(callInfo);
                var iFrame = createIFrame(url);
                //remove the frame now
                iFrame.parentNode.removeChild(iFrame);
            }
            
            function createCallbackFunction (funcName, callbackFunc)
            {
                if (callbackFunc && callbackFunc.name != null && callbackFunc.name.length > 0)
                {
                    return callbackFunc.name;
                }
                
                if (typeof window[funcName+0] != 'function')
                {
                    window[funcName+0] = callbackFunc;
                    __functionIndexMap[funcName] = 0;
                    return funcName+0
                } else
                {
                    var maxIndex = __functionIndexMap[funcName];
                    var callbackFuncStr = callbackFunc.toString();

                    for (var i = 0; i <= maxIndex; i++)
                    {
                        var tmpName = funcName + i;
                        if (window[tmpName].toString() == callbackFuncStr)
                        return tmpName;
                    }

                    var newIndex = ++__functionIndexMap[funcName];
                    window[funcName+newIndex] = callbackFunc;
                    return funcName+newIndex;
                }
            }
            
            function createIFrame(src)
            {
                var rootElm = document.documentElement;
                var newFrameElm = document.createElement('IFRAME');
                newFrameElm.setAttribute('src',src);
                rootElm.appendChild(newFrameElm);
                return newFrameElm;
            }
            
            function onSuccess (ret)
            {
                if (ret)
                {
                    var returnRet = JSON.parse(ret);			

                    theTypeIs = Object.keys(returnRet.result)[0];

                    if (theTypeIs == 'readFromDB')
                    {					
                        boxSetter("#BoxSPAJNumber", returnRet.result.readFromDB[0].SPAJNumber);
                    }
                }
            }
            
            function onError (ret)
            {
                if (ret)
                {
                var returnRet = JSON.parse(ret);
                alert(returnRet.error);
                }
            }
            
            function readfromDB() 
            {
                var callInfo = {};
                callInfo.data = {};
                callInfo.data.CFFAnswers = {};
                callInfo.data.CFFAnswers.columns = 'elementID,Value,CFFID,CustomerID';
                callInfo.data.CFFAnswers.where = '';
                calliOSFunction('readfromDB:',onSuccess,onError, callInfo);					

                /*var dummyAll = '{"result":{"readFromDB":[{"NamaLengkap":"Iwan False","JenisIdentitas":"KTP","NomorIdentitasDiri":"1234567890","MasaBerlaku":"12-02-2019","TempatLahir":"Lhokseumawe","TanggalLahir":"09-01-1987","Usia":"29","Kewarganegaraan":"Indonesia","JenisKelamin":"P","Agama":"Kristen","PekerjaanUtama":"Karyawan Swasta","AlamatTinggal1":"Jalan","AlamatTinggal2":"Apa aja","AlamatTinggal3":"Disini Juga bisa","KotaTinggal":"Bekasi","KodePosTinggal":"17114","NomorTeleponPribadi":"021-299388171","NomorHPUtama":"08122234567","Email":"yosioliver@gmail.com","AlamatKantor1":"Thamrin Residence Office Park","AlamatKantor2":"Ruko A.12","KotaKantor":"Jakarta","KodePosKantor":"13776","TelpKantor":"021-12345654","HubunganDenganCalonTertanggung":"Suami","NomorNPWP":"1223334444"}]}}'

                var obj = JSON.parse(dummyAll);

                theTypeIs = Object.keys(obj.result)[0];

                if (theTypeIs == 'readFromDB')
                {
                    boxSetter("#BoxSPAJNumber", obj.result.readFromDB[0].NamaLengkap);				
                }
                else
                {
                    alert('No Data Available');
                }*/
            }

            function ReadData()
            {
                readfromDB();
            }
        
        
            // DOCUMENT READY
        
            $(document).ready(function()
            {
                // SECTION GENERAL

                boxGenerator("#BoxSPAJNumber", 11, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyNumber", 11, boxTypeWithoutLabel, null);
                boxGenerator("#BoxVANumber", 16, boxTypeWithoutLabel, null);

                // SECTION AGENT PROFILE

                boxGenerator("#BoxAgentName", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxAgentCode", 11, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProductCode", 11, boxTypeWithoutLabel, null);
                boxGenerator("#BoxLicenseNumber", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxActiveDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxActiveDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxActiveDateYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxProductName", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxReferenceName", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxBranchName", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxBranchCode", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxArea", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxAgentID", 13, boxTypeWithoutLabel, null);
                boxGenerator("#BoxReferenceDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxReferenceDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxReferenceDateYear", 4, boxTypeWithBottomLabel, labelYear);

                // SECTION POLICY HOLDER

                boxGenerator("#BoxPolicyHolderCIN", 7, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderFullName", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderID", 16, boxTypeWithoutLabel, null);
                lineGenerator("#LinePolicyHolderOtherID", 11);
                boxGenerator("#BoxPolicyHolderActiveDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderActiveDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderActiveDateYear", 4, boxTypeWithBottomLabel, labelYear);
                lineGenerator("#LinePolicyHolderPlace", 8);
                boxGenerator("#BoxPolicyHolderDateOfBirthDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderDateOfBirthMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderDateOfBirthYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxPolicyHolderAge", 2, boxTypeWithoutLabel, null);
                lineGenerator("#LinePolicyHolderWNA", 4);
                boxGenerator("#BoxPolicyHolderCompany", 25, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderMainJob", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderWorkScope", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderPosition", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderJobDescription", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderSideJob", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderHomeAddress1", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderHomeAddress2", 30, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderHomeCity", 2)
                boxGenerator("#BoxPolicyHolderHomeCity", 19, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderHomePostalCode", 3)
                boxGenerator("#BoxPolicyHolderHomePostalCode", 6, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderHomeTelephonePrefix", 2)
                boxGenerator("#BoxPolicyHolderHomeTelephonePrefix", 4, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderHomeTelephoneInfix", 1)
                boxGenerator("#BoxPolicyHolderHomeTelephoneInfix", 9, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderOfficeAddress1", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderOfficeAddress2", 30, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderOfficeCity", 2)
                boxGenerator("#BoxPolicyHolderOfficeCity", 19, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderOfficePostalCode", 3)
                boxGenerator("#BoxPolicyHolderOfficePostalCode", 6, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderOfficeTelephonePrefix", 2)
                boxGenerator("#BoxPolicyHolderOfficeTelephonePrefix", 4, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderOfficeTelephoneInfix", 1)
                boxGenerator("#BoxPolicyHolderOfficeTelephoneInfix", 9, boxTypeWithoutLabel, null);
                lineGenerator("#LinePolicyHolderOtherRelationship", 5);
                lineGenerator("#LinePolicyHolderOtherPurpose", 5);
                boxGenerator("#BoxPolicyHolderEmail", 30, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderTelephone1", 1)
                boxGenerator("#BoxPolicyHolderTelephone1", 9, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderTelephone2", 1)
                boxGenerator("#BoxPolicyHolderTelephone2", 9, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderNPWP", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderNPWPActiveDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderNPWPActiveDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderNPWPActiveDateYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxPolicyHolderSalary", 17, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderRevenue", 17, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderOtherIncome", 17, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderSource", 30, boxTypeWithoutLabel, null);
                
                // SECTION POLICY HOLDER

                // SUB A

                boxGenerator("#BoxInsuranceHolderCIN", 7, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderFullName", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderID", 16, boxTypeWithoutLabel, null);
                lineGenerator("#LineInsuranceHolderOtherID", 11);
                boxGenerator("#BoxInsuranceHolderActiveDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxInsuranceHolderActiveDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxInsuranceHolderActiveDateYear", 4, boxTypeWithBottomLabel, labelYear);
                lineGenerator("#LineInsuranceHolderPlace", 8);
                boxGenerator("#BoxInsuranceHolderDateOfBirthDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxInsuranceHolderDateOfBirthMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxInsuranceHolderDateOfBirthYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxInsuranceHolderAge", 2, boxTypeWithoutLabel, null);
                lineGenerator("#LineInsuranceHolderWNA", 4);
                boxGenerator("#BoxInsuranceHolderCompany", 25, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderMainJob", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderWorkScope", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderPosition", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderJobDescription", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderSideJob", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderHomeAddress1", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderHomeAddress2", 30, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderHomeCity", 2)
                boxGenerator("#BoxInsuranceHolderHomeCity", 19, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderHomePostalCode", 3)
                boxGenerator("#BoxInsuranceHolderHomePostalCode", 6, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderHomeTelephonePrefix", 2)
                boxGenerator("#BoxInsuranceHolderHomeTelephonePrefix", 4, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderHomeTelephoneInfix", 1)
                boxGenerator("#BoxInsuranceHolderHomeTelephoneInfix", 9, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderOfficeAddress1", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderOfficeAddress2", 30, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderOfficeCity", 2)
                boxGenerator("#BoxInsuranceHolderOfficeCity", 19, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderOfficePostalCode", 3)
                boxGenerator("#BoxInsuranceHolderOfficePostalCode", 6, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderOfficeTelephonePrefix", 2)
                boxGenerator("#BoxInsuranceHolderOfficeTelephonePrefix", 4, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderOfficeTelephoneInfix", 1)
                boxGenerator("#BoxInsuranceHolderOfficeTelephoneInfix", 9, boxTypeWithoutLabel, null);
                lineGenerator("#LineInsuranceHolderOtherRelationship", 5);
                lineGenerator("#LineInsuranceHolderOtherPurpose", 5);
                boxGenerator("#BoxInsuranceHolderEmail", 30, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderTelephone1", 1)
                boxGenerator("#BoxInsuranceHolderTelephone1", 9, boxTypeWithoutLabel, null);
                labelGenerator("#LabelInsuranceHolderTelephone2", 1)
                boxGenerator("#BoxInsuranceHolderTelephone2", 9, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderNPWP", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderNPWPActiveDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxInsuranceHolderNPWPActiveDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxInsuranceHolderNPWPActiveDateYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxInsuranceHolderSalary", 17, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderRevenue", 17, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderOtherIncome", 17, boxTypeWithoutLabel, null);
                boxGenerator("#BoxInsuranceHolderSource", 30, boxTypeWithoutLabel, null);
                
                // SUB B
                
                boxGenerator("#BoxPolicyHolderCompanyName", 30, boxTypeWithoutLabel, null);
                lineGenerator("#LinePolicyHolderCompanyOther", 11);
                boxGenerator("#BoxPolicyHolderCompanyNoAnggaranDasar", 21, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanyAnggaranDateOfExpiredDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderCompanyAnggaranDateOfExpiredMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderCompanyAnggaranDateOfExpiredYear", 4, boxTypeWithBottomLabel, labelYear); 
                boxGenerator("#BoxPolicyHolderCompanyNoSuratIjinUsaha", 21, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanySIUPDateOfExpiredDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderCompanySIUPDateOfExpiredMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderCompanySIUPDateOfExpiredYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxPolicyHolderCompanyNoTDP", 21, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanyTDPDateOfExpiredDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderCompanyTDPDateOfExpiredMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderCompanyTDPDateOfExpiredYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxPolicyHolderCompanyNoSKDP", 21, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanySKDPDateOfExpiredDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderCompanySKDPDateOfExpiredMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderCompanySKDPDateOfExpiredYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxPolicyHolderCompanyNoNPWP", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanyNoNPWPDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderCompanyNoNPWPDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderCompanyNoNPWPDateYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxPolicyHolderCompanySector", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanyAddress", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanyCity", 19, boxTypeWithoutLabel, null);
                labelGenerator("#LabelPolicyHolderCompanyPostalCode", 3);
                boxGenerator("#BoxPolicyHolderCompanyPostalCode", 6, boxTypeWithoutLabel, null);
                
                // SECTION COMPANY REPRESENTATIVE
                boxGenerator("#BoxPolicyHolderCompanyRepresentativeFullName", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanyRepresentativePosition", 28, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanyRepresentativeID", 16, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderCompanyRepresentativeActiveDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxPolicyHolderCompanyRepresentativeActiveDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxPolicyHolderCompanyRepresentativeActiveDateYear", 4, boxTypeWithBottomLabel, labelYear);
                lineGenerator("#LinePolicyHolderCompanyRepresentativeOtherRelationship", 19);
                lineGenerator("#LinePolicyHolderCompanyRepresentativeOtherPurpose", 6);

                // SECTION ILLUSTRATION
                
                boxGenerator("#BoxIllustrationAgentName", 30, boxTypeWithoutLabel, null);
                boxGenerator("#BoxIllustrationNumber", 10, boxTypeWithoutLabel, null);
                boxGenerator("#BoxIllustrationDateDay", 2, boxTypeWithBottomLabel, labelDay);
                boxGenerator("#BoxIllustrationDateMonth", 2, boxTypeWithBottomLabel, labelMonth);
                boxGenerator("#BoxIllustrationDateYear", 4, boxTypeWithBottomLabel, labelYear);
                boxGenerator("#BoxIllustrationAgentCode", 13, boxTypeWithoutLabel, null);
                
                // SECTION PREMI PAYMENT
                
                labelGenerator("#LabelPremiPaymentFrequencyYear", 5)
                labelGenerator("#LabelPremiPaymentFrequencySemester", 4)
                labelGenerator("#LabelPremiPaymentFrequencyTriwulan", 4)
                labelGenerator("#LabelPremiPaymentFrequencyMonth", 4)
                labelGenerator("#LabelPremiPaymentFrequencyFull", 4)
                labelGenerator("#LabelPremiPaymentPolicyHolder", 5)
                labelGenerator("#LabelPremiPaymentPolicyHolderCompany", 12)
                labelGenerator("#LabelPremiPaymentPolicyHolderTertanggung", 5)
                labelGenerator("#LabelPremiPaymentPolicyHolderThirdParty", 18)
                labelGenerator("#LabelPremiPaymentDebitAccount", 5)
                labelGenerator("#LabelPremiPaymentCreditCardAccount", 9)  
                labelGenerator("#LabelPremiPaymentOtherAccount", 5) 
                lineGenerator("#LinePremiPaymentOtherAccount", 9);
                boxGenerator("#BoxPremiDescriptionCreditCardHolderName", 27, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPremiDescriptionDebitCreditNumber", 27, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPremiDescriptionBankName", 27, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPremiDescriptionBankBranch", 27, boxTypeWithoutLabel, null);

                // SECTION HEALTH
                
                boxGenerator("#BoxProspectiveInsuredHeight", 3, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderHeight", 3, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsuredWeight", 3, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderWeight", 3, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsuredSmokeAmount", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolderSmokeAmount", 2, boxTypeWithoutLabel, null);
                
                boxGenerator("#BoxProspectiveInsured1Month", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsured1Year", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsured2Month", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsured2Year", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsured3Month", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsured3Year", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolder1Month", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolder1Year", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolder2Month", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolder2Year", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolder3Month", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxPolicyHolder3Year", 2, boxTypeWithoutLabel, null);
                
                boxGenerator("#BoxProspectiveInsuredBabyHeight", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsuredBabyWeight", 2, boxTypeWithoutLabel, null);
                boxGenerator("#BoxProspectiveInsuredPregnancyAge", 2, boxTypeWithoutLabel, null);

                // SECTION AGREEMENT
                
                lineGenerator("#LineSignedPlace", 8);
                lineGenerator("#LineSignedDateDay", 2);
                lineGenerator("#LineSignedDateMonth", 2);
                lineGenerator("#LineSignedDateYear", 4);

                // SET TEXT

                boxSetter("SPAJNumber", "Andy Phan", boxTypeStraight);
                boxSetter("Active", "13-08-2016", boxTypeDate);
                boxSetter("PolicyHolderOfficeTelephone", "021-7358326", boxTypeTelephone);

                // GET TEXT

                alert(boxGetter("#BoxSPAJNumber", 11));
            });


    / BODY

    %body#A4

        / HEADER

        %header
            %h1 SURAT PENGAJUAN ASURANSI JIWA (SPAJ)
            %img{:src => "../../Resource/Logo/logo_bcalife.svg"}
            %br

        / MAIN

        %main
            %section#SectionGeneral
                = Haml::Engine.new(File.read("include_spajpdf_general.haml")).render
            %section#SectionAgentProfile
                = Haml::Engine.new(File.read("include_spajpdf_salesprofile.haml")).render
            %section#SectionPolicyHolder
                = Haml::Engine.new(File.read("include_spajpdf_policyholder.haml")).render
            %section#SectionCompanyRepresentative
                = Haml::Engine.new(File.read("include_spajpdf_companyrepresentative.haml")).render
            %section#SectionInsuranceHolder
                = Haml::Engine.new(File.read("include_spajpdf_prospectiveinsured.haml")).render
            %section#SectionProspectiveBeneficiariesList
                = Haml::Engine.new(File.read("include_spajpdf_prospectivebeneficiarieslist.haml")).render
            %section#SectionIllustration
                = Haml::Engine.new(File.read("include_spajpdf_illustration.haml")).render
            %section#SectionIPremiPayment
                = Haml::Engine.new(File.read("include_spajpdf_premipayment.haml")).render
            %section#SectionProspectiveHealth
                = Haml::Engine.new(File.read("include_spajpdf_health.haml")).render
            %section#DeclarationAgreement
                = Haml::Engine.new(File.read("include_spajpdf_declaration.haml")).render
            %section#SectionAgreement
                = Haml::Engine.new(File.read("include_spajpdf_agreement.haml")).render