!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextPolicyHolderSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#DatePolicyHolderDiabetesFirstKnownDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDiabetesFirstKnownMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDiabetesFirstKnownYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#DatePolicyHolderDiabetesLastCheckUrineDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDiabetesLastCheckUrineMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderDiabetesLastCheckUrineYear", 4, boxTypeWithoutLabel, null);	
		
				boxGenerator("#DatePolicyHolderSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedYear", 4, boxTypeWithoutLabel, null);	
						
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// FOOTER
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Diabetes");
			});


	/ BODY

	%body

		/ HEADER		

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderDiabetesFirstKnown" } Kapan pertama kali diketahui menderita diabetes?
					%table#DatePolicyHolderDiabetesFirstKnownDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDiabetesFirstKnownMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderDiabetesFirstKnownYear.BoxSquare.PositionerRight
					%br

					%span.Number.PositionerLeft 2
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDiabetesFrequencyControlNumber" } a. Berapa kali frekuensi kontrol ke dokter?
					%input#TextPolicyHolderDiabetesFrequencyControlNumber.Short.Single.PositionerLeft{ :type => "text" }
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderDiabetesFrequencyControlPerWeek" } kali    per
					%input#TextPolicyHolderDiabetesFrequencyControlPerWeek.Short.Single.PositionerLeft{ :type => "text" } minggu
					%br
					b. Mohon melengkapi kolom di bawah ini dengan nama dan alamat lengkap dokter yang biasa dikunjungi untuk kontrol?
					%br
					
					%table#TableTextPolicyHolderDiabetesDoctor
						%thead
							%tr
								%th Nama Dokter
								%th Alamat Dokter
								%th Tanggal Pemeriksaan Terakhir
						%tbody
							%tr
								%td 
								%td
								%td
							%tr
								%td
								%td
								%td								
					
					%br	

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderPainLocation" } c. Pengobatan apa saja yang Anda diperoleh?

					%div.RadioButton					
						%input#RadioButtonPolicyHolderDiabetesTherapyInsulin.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesTherapy", :value => "insulin" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesTherapyInsulin" } Insulin										
						%input#TextPolicyHolderDiabetesTherapyInsulinDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderDiabetesTherapyInsulinDesc" } unit/hari
						%br
	
						%input#RadioButtonPolicyHolderDiabetesTherapyDiet.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesTherapy", :value => "diet" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesTherapyDiet" } Diet khusus, jelaskan										
						%input#TextPolicyHolderDiabetesTherapyDietDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br							
	
						%input#RadioButtonPolicyHolderDiabetesTherapyOral.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesTherapy", :value => "oral" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesTherapyOral" } Oral/tablet.
						%br
						
						Mohon menjelaskan secara rinci pada kolom di bawah ini (nama obat, dosis, frekuensi penggunaan dan lain-lain).
						%input#TextPolicyHolderDiabetesTherapyOralDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
					%br
					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderPainLocation" } a. Bagaimana frekuensi melakukan pemeriksaan kadar gula dalam urine?

					%div.RadioButton
					
						%input#RadioButtonPolicyHolderDiabetesCheckUrineDay.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesCheckUrine", :value => "everyday" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesCheckUrineDay" } Setiap hari									
						
						%input#RadioButtonPolicyHolderDiabetesCheckUrineWeek.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesCheckUrine", :value => "everyweek" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesCheckUrineWeek" } Setiap minggu
						
						%input#RadioButtonPolicyHolderDiabetesCheckUrineMonth.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesCheckUrine", :value => "everymonth" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesCheckUrineMonth" } Setiap bulan	
						
						%input#RadioButtonPolicyHolderDiabetesCheckNever.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesCheckUrine", :value => "never" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesCheckNever" } Tidak pernah	
						%br							
						
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderDiabetesLastCheckUrineDay" } b. Kapan terakhir melakukan pemeriksaan kadar gula dalam urine?
					
					%span.Separator.Single.PositionerLeft ,
					%table#DatePolicyHolderDiabetesLastCheckUrineDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderDiabetesLastCheckUrineMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderDiabetesLastCheckUrineYear.BoxSquare.PositionerLeft
					%br
					
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesUrineInfoPlus" } Bagaimana hasilnya?
					%div.RadioButton
					
						%input#RadioButtonPolicyHolderDiabetesUrineInfoPlus.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesUrineInfo", :value => "+" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesUrineInfoPlus" } +															
						%input#RadioButtonPolicyHolderDiabetesUrineInfo2Plus.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesUrineInfo", :value => "++" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesUrineInfo2Plus" } ++
						
						%input#RadioButtonPolicyHolderDiabetesUrineInfo3Plus.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesUrineInfo", :value => "+++" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesUrineInfo3Plus" } +++	
						
						%input#RadioButtonPolicyHolderDiabetesUrineInfo4Plus.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesUrineInfo", :value => "++++" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesUrineInfo4Plus" } ++++	
						%br
						
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderPainLocation" } c. Mohon melengkapi kolom di bawah ini dengan hasil 3 (tiga) pemeriksaan terakhir?
					
					
					%table#TextPolicyHolderDiabetesResult
						%thead
							%tr
								%th Jenis Pemeriksaan
								%th I
								%th II
								%th III								
						%tbody
							%tr
								%th Kadar gula darah
								%td
								%td					
								%td					

							%tr
								%th Tanggal pemeriksaan terakhir
								%td
								%td					
								%td					
					%br
						
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesContainAlbuminNo" } 	d.	Apakah pernah didapatkan adanya protein/albumin dalam test urine?

					%div.RadioButton					
						%input#RadioButtonPolicyHolderDiabetesContainAlbuminNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesContainAlbumin", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesContainAlbuminNo" } Ya
	
						%input#RadioButtonPolicyHolderDiabetesContainAlbuminYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesContainAlbumin", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesContainAlbuminYes" } Tidak	
						%br
						
						Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
						%br
						%input#TextPolicyHolderDiabetesContainAlbuminDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderPainLocation" } 	e.	Apakah dilakukan pemeriksaan glycosylated haemoglobin (HbA1c)?

					%div.RadioButton
						%input#RadioButtonPolicyHolderDiabetesContainHaemoglobinNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesContainHaemoglobin", :value => "tidak" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesContainHaemoglobinNo" } Tidak
	
						%input#RadioButtonPolicyHolderDiabetesContainHaemoglobinYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesContainHaemoglobin", :value => "ya" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesContainHaemoglobinYes" } Ya
						%br
						Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
						%br
						%input#TextPolicyHolderDiabetesContainHaemoglobinDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br						
					%br						
						
						
					%span.Number.PositionerLeft 4
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderPainLocation" } 	Apakah pernah mengalami perawatan di rumah sakit karena diabetes?
					%div.RadioButton			
						%input#RadioButtonPolicyHolderDiabetesEverHospitalNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesEverHospital", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesEverHospitalNo" } Tidak
	
						%input#RadioButtonPolicyHolderDiabetesEverHospitalYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesEverHospital", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesEverHospitalYes" } Ya
						%br
						Jika “Ya”, mohon melengkapi kolom di bawah ini.
						%br
						%table#TextPolicyHolderDiabetesEverHospitalIfYes
							%thead
								%tr
									%th Alasan Perawatan
									%th Nama Dokter
									%th Alamat Dokter
									%th Tanggal Perawatan
									%th Jangka Waktu Perawatan									
							%tbody
								%tr
									%td
									%td
									%td
									%td
									%td
								%tr
									%td
									%td
									%td
									%td
									%td
						%br						
					%br		
					
					%span.Number.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderVomitingBlood" } Apakah kondisi Diabetes Mellitus ini disertai komplikasi organ lain sebagai berikut?
					%div.RadioButton
						%label.Wrap.Single.PositionerLef{ :for => "RadioButtonPolicyHolderDiabetesWithComplicationsVision" } Gangguan penglihatan   
						%input#RadioButtonPolicyHolderDiabetesWithComplicationsVision.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesWithComplications", :value => "visiondistruption" }
						%div.BoxRound.PositionerLeft

						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesWithComplicationsBloodPressure" } Tekanan darah tinggi
						%input#RadioButtonPolicyHolderDiabetesWithComplicationsBloodPressure.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesWithComplications", :value => "hypertension" }
						%div.BoxRound.PositionerLeft
						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDiabetesWithComplicationsKidney" } Gangguan ginjal dan/ saluran kemih
						%input#RadioButtonPolicyHolderDiabetesWithComplicationsKidney.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesWithComplications", :value => "kidneyproblem" }
						%div.BoxRound.PositionerRight
						
						%label.Wrap.Single.PositionerLef{ :for => "RadioButtonPolicyHolderDiabetesWithComplicationsSensor" } Gangguan sensorik, termasuk kebas dan panas di kaki
						%input#RadioButtonPolicyHolderDiabetesWithComplicationsSensor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesWithComplications", :value => "censorikproblem" }
						%div.BoxRound.PositionerLeft

						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderDiabetesWithComplicationsBloodDisorders" } Kelainan darah
						%input#RadioButtonPolicyHolderDiabetesWithComplicationsBloodDisorders.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesWithComplications", :value => "bloodproblem" }
						%div.BoxRound.PositionerLeft
						
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDiabetesWithComplicationsDiabeticComa" } Koma diabetikum
						%input#RadioButtonPolicyHolderDiabetesWithComplicationsDiabeticComa.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesWithComplications", :value => "diabetikum" }
						%div.BoxRound.PositionerRight	
												
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDiabetesWithComplicationsHeartDisorders" } Gangguan jantung dan/pembuluh darah
						%input#RadioButtonPolicyHolderDiabetesWithComplicationsHeartDisorders.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesWithComplications", :value => "heartproblem" }
						%div.BoxRound.PositionerRight							
												
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderDiabetesWithComplicationsOthers" } Lainnya, sebutkan
						%input#RadioButtonPolicyHolderDiabetesWithComplicationsOthers.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderDiabetesWithComplications", :value => "other" }
						%div.BoxRound.PositionerRight	
						%input#TextPolicyHolderDiabetesWithComplicationsOthersDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }		
					%br
					
					%span.Number.PositionerLeft 6
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderPainLocation" } 	Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.                                                         
					%br								
					%input#TextPolicyHolderPainLocationOtherDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br								

				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render