!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypePDF;

			// DOCUMENT READY

			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// FOOTER

				footerSetterForHealthQuestionnairePDF("OP/UW/0125/061601", 3);
				titleSetterForHealthQuestionnairePDF("FOREIGNER'S QUESTIONNAIRE");
				// getSignatureAttribute();
				// setSignatureImage(["../../Resource/Logo/logo_bcalife_primary.png", null, "../../Resource/Logo/logo_bcalife.png"]);
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_foreignerpdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_foreignerpdf_policyholder.haml")).render

				%h2 II. REQUIRED BY (PROPOSED) INSURED
				%fieldset.WithoutDoubleDot
					%span.Number.Single.PositionerLeft 1.
					%label.Single.PositionerLeft{ :for => "SelectPolicyHolderForeignerFRNationality" } What is your Nationality?									
					%br
					%div.ContainerFit.NumberIndent
						%input#SelectPolicyHolderForeignerFRNationality.Full.Single.Item{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 2.					
					%label.Medium.Single.PositionerLeft How long have you been staying in Indonesia?
					%input#TextPolicyHolderForeignerFRStayInIndonesiaYear.Tiny.Single.PositionerLeft{ :type => "text" }
					%label.Single.Margin.PositionerLeft{ :for => "TextPolicyHolderForeignerFRStayInIndonesiaYear" } Year(s)
					%input#TextPolicyHolderForeignerFRStayInIndonesiaMonth.Tiny.Single.PositionerLeft{ :type => "text" }
					%label.Single.Margin.PositionerLeft{ :for => "TextPolicyHolderForeignerFRStayInIndonesiaMonth" } Month(s)
					%br
					
					%span.Number.Single.PositionerLeft 3.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderForeignerFRBusinessAddress"} a. Please state name and address of your employer in Indonesia.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRBusinessAddress.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderForeignerFRBusinessTypeOfIndustry"} b. Type of industry your employer in involved in.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRBusinessTypeOfIndustry.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderForeignerFRBusinessCurrentLocation"} c. Current location.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRBusinessCurrentLocation.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderForeignerFRBusinessResponsibility"} d. Please elaborate your responsibility(es).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRBusinessResponsibility.Line.Full.Single.Item{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderForeignerFRMultipleJobs" } Do you have multiple jobs?***
					%div.RadioButton.NumberIndent.PositionerLeft
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderForeignerFRMultipleJobsNo" } No    (If “Yes”, please explain in detail in the column below).
						%input#RadioButtonPolicyHolderForeignerFRMultipleJobsNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderForeignerFRMultipleJobs", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderForeignerFRMultipleJobsYes" } Yes
						%input#RadioButtonPolicyHolderForeignerFRMultipleJobsYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderForeignerFRMultipleJobs", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderForeignerFRWorkAddress"} a. Please state name and address of your employer in Indonesia.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRWorkAddress.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderForeignerFRWorkTypeOfIndustry"} b. Type of industry your employer in involved in.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRWorkTypeOfIndustry.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderForeignerFRWorkCurrentLocation"} c. Current location.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRWorkCurrentLocation.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderForeignerFRWorkResponsibility"} d. Please elaborate your responsibility(es).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRWorkResponsibility.Line.Full.Single.Item{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 5.					
					%label.Long.Single.PositionerLeft How long are you planning to stay in Indonesia? 
					%input#TextPolicyHolderForeignerFRPlanningStayInIndonesiaYear.Tiny.Single.PositionerLeft{ :type => "text" }
					%label.Single.Margin.PositionerLeft{ :for => "TextPolicyHolderForeignerFRPlanningStayInIndonesiaYear" } Year(s)
					%input#TextPolicyHolderForeignerFRPlanningStayInIndonesiaMonth.Tiny.Single.PositionerLeft{ :type => "text" }
					%label.Single.Margin.PositionerLeft{ :for => "TextPolicyHolderForeignerFRPlanningStayInIndonesiaMonth" } Month(s)
					%br
					
					%span.Number.Single.PositionerLeft 6.					
					%label.Wrap.PositionerLeft 
						Have you ever stayed or have plans to stay in any country other than Indonesia for a duration of 1 month or greater
						%br
						in the 	past 12 months or next 12 months?
					%div.RadioButton.NumberIndent.PositionerLeft
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderForeignerFRStayDuration" } No    (If “Yes”, please explain in detail in the column below).
						%input#RadioButtonPolicyHolderForeignerFRStayDurationNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderForeignerFRStayDuration", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderForeignerFRStayDurationYes" } Yes
						%input#RadioButtonPolicyHolderForeignerFRStayDurationYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderForeignerFRStayDuration", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Countries
						%label.Short.Single.Item1.Center Years
						%label.Short.Single.Item1.Center Duration
						%label.Short.Single.Item1.Center Purpose
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRListCountries1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListYears1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListDuration1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListPurpose1.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRListCountries2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListYears2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListDuration2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListPurpose2.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRListCountries3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListYears3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListDuration3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListPurpose3.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRListCountries4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListYears4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListDuration4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListPurpose4.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderForeignerFRListCountries5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListYears5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListDuration5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderForeignerFRListPurpose5.Short.Single.Item1.Margin{ :type => "text" }
					%br
					
				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_foreignerpdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render