!!! 5 

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Perjalanan Ke Luar Negeri/Tinggal di Luar Negeri");
			});


	/ BODY

	%body#Main

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1 KUESIONER UNTUK PERJALANAN KE LUAR NEGERI/TINGGAL DI LUAR NEGERI
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				/ FIELDSET

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG

				%fieldset
					%span.Number.Single.PositionerLeft 1.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTravelingTVReason" } Apakah alasan utama untuk melakukan perjalanan atau bertempat tinggal di luar negeri ?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderTravelingTVReasonBusiness.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTravelingTVReason", :value => "business" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTravelingTVReasonBusiness" } Bisnis
						%input#RadioButtonPolicyHolderTravelingTVReasonVacation.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTravelingTVReason", :value => "vacation" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTravelingTVReasonVacation" } Liburan
						%input#RadioButtonPolicyHolderTravelingTVReasonOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTravelingTVReason", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTravelingTVReasonOthers" } Lainnya, sebutkan
						%input#TextPolicyHolderTravelingTVReasonOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 2.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpread" } Sebutkan dengan rinci tujuan rencana bepergian dalam 12 (dua belas) bulan yang akan datang pada kolom di bawah ini ?
					%br

					-#
						%div.ContainerFit.NumberIndent
							%table#TablePolicyHolderTumorCheckup
								%thead
									%tr
										%th Jenis Pemeriksaan
										%th Tanggal Pemeriksaan
										%th Hasil Pemeriksaan
						%br

					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Negara
						%label.Short.Single.Item1.Center Kota
						%label.Short.Single.Item1.Center Tanggal Tiba
						%label.Short.Single.Item1.Center Tanggal Berangkat
						%label.Short.Single.Item1.Center Tipe Visa

					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVDestinationCountry1.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDestinationCity1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVArrivalDate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDepartureDate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVVisaType1.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVDestinationCountry2.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDestinationCity2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVArrivalDate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDepartureDate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVVisaType2.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVDestinationCountry3.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDestinationCity3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVArrivalDate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDepartureDate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVVisaType3.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVDestinationCountry4.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDestinationCity4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVArrivalDate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDepartureDate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVVisaType4.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVDestinationCountry5.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDestinationCity5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVArrivalDate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVDepartureDate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVVisaType5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpread" } Sebutkan dengan rinci tujuan perjalanan yang telah dilakukan dalam 12 (dua belas) bulan yang akan datang pada kolom di bawah ini ?
					%br

					-#
						%div.ContainerFit.NumberIndent
							%table#TablePolicyHolderTumorCheckup
								%thead
									%tr
										%th Jenis Pemeriksaan
										%th Tanggal Pemeriksaan
										%th Hasil Pemeriksaan
						%br

					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Negara
						%label.Short.Single.Item1.Center Kota
						%label.Short.Single.Item1.Center Tanggal Tiba
						%label.Short.Single.Item1.Center Tanggal Berangkat
						%label.Short.Single.Item1.Center Tipe Visa

					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVNextDestinationCountry1.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDestinationCity1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextArrivalDate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDepartureDate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextVisaType1.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVNextDestinationCountry2.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDestinationCity2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextArrivalDate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDepartureDate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextVisaType2.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVNextDestinationCountry3.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDestinationCity3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextArrivalDate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDepartureDate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextVisaType3.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVNextDestinationCountry4.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDestinationCity4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextArrivalDate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDepartureDate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextVisaType4.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVNextDestinationCountry5.Short.Single.Item.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDestinationCity5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextArrivalDate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextDepartureDate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderTravelingTVNextVisaType5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderTravelingMyNationality" } Sebutkan kewarganegaraan Anda.
					%br
					%label.Full.Single.PositionerLeft.NumberIndent{ :for => "TextPolicyHolderTravelingMyNationality" } (Jika lebih dari 1 kewarganegaraan mohon sebutkan seluruhnya pada kolom di bawah ini).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingMyNationality.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 5.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTravelingAbroadAsset" } Sebutkan dengan rinci aset atau perumahan yang dimiliki/dikontrol oleh Anda di negara yang Anda kunjungi atau negara tempat Anda tinggal, pada kolom di bawah ini:
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingAbroadAsset.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 6.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTravelingTVStay" } Jika Anda berencana untuk berada di negara manapun selama lebih dari 21 hari, harap memberikan rincian sebagai berikut:
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVStay"} a. Jenis tempat tinggal Anda:
					%br
					%label.Full.Single.PositionerLeft.NumberIndent (Misal: apartemen, rumah, hotel, tempat penampungan sementara, dan lain lain)
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVStay.Line.Full.Single.Item{ :type => "text" }
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVAddress"} b. Alamat lengkap tempat tinggal Anda:
					%br
					%label.Full.Single.PositionerLeft.NumberIndent (Termasuk nama jalan dan nomor, kota, kode pos, negara)
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVAddress.Line.Full.Single.Item{ :type => "text" }
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVHospitalDistance"} c. Seberapa jauh jarak fasilitas medis dari tempat tinggal Anda:
					%br
					%label.Full.Single.PositionerLeft.NumberIndent (Jarak menuju praktek dokter dan/atau rumah sakit).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVHospitalDistance.Line.Full.Single.Item{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 7.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTravelingTVBusinessTrip" } Jika perjalanan Anda untuk tujuan bisnis, harap memberikan rincian sebagai berikut:
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVCompanyBusinessName"} a. Nama perusahaan/tempat usaha:
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVCompanyBusinessName.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVBusinessType"} b. Jenis usaha:
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVBusinessType.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVJobDescription"} c. Tugas dan tanggung jawab:
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVJobDescription.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTravelingTVTripStarted"} d. Tanggal mulai perjalan bisnis :
					%br
					%div.ContainerFit.NumberIndent
						%input#DatePolicyHolderTravelingTVTripStarted.Line.Full.Single.Item{ :type => "text", "data-field" => "date" }
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVAnnualRemuneration"} e. Remunerasi tahunan:
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVAnnualRemuneration.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVInjuryProcedure"} f. Sebutkan dengan rinci cara mendapatkan perawatan kesehatan dan cara atau prosedur dalam kasus penyakit berat atau cedera:
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVInjuryProcedure.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVTransportation"} g. Sarana transportasi yang tersedia di negara tersebut:
					%br
					%label.Full.Single.PositionerLeft.NumberIndent (Misal: angkutan umum atau pribadi, pesawat pribadi, dan lain-lain).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVTransportation.Line.Full.Single.Item{ :type => "text" }
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelintTVSafetyEquipment" } h. Sebutkan alat/perangkat pengaman yang disiapkan/dipergunakan oleh pemberi kerja pada saat melakukan pekerjaan:
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVSafetyEquipment.Line.Full.Single.Item{ :type => "text" }
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTravelingTVContract" } i. Apakah Anda terikat dengan suatu kontrak atau perjanjian?
					%br
					%label.Full.Single.PositionerLeft.NumberIndent{ :for => "TextPolicyHolderTravelingTVContract" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%label.Full.Single.PositionerLeft.NumberIndent{ :for => "TextPolicyHolderTravelingTVContract" } (Tanggal mulai, durasi dan lain-lain serta memberikan fotokopi kontrak atau perjanjian jika tersedia).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVContract.Line.Full.Single.Item{ :type => "text" }
					%br

					%div.ContainerFit
						%span.NumberFix.Single.Item 8.
						%label.Single.Item{ :for => "TextPolicyHolderTravelingTVAdditionalInformation" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTravelingTVAdditionalInformation.Full.Single.Item{ :type => "text" }
					%br

				%section#SectionDeclaration{ :style => "margin-top: 30px;"}
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
