!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				
				boxGenerator("#TextPolicyHolderSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorFirstDiagnoseYear", 4, boxTypeWithoutLabel, null);								
				boxGenerator("#DatePolicyHolderTumorWhenStartDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorWhenStartMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorWhenStartYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DatePolicyHolderTumorOperationDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorOperationMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorOperationYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorConsultLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorConsultLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorConsultLastYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorLastTherapyDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLastTherapyMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLastTherapyYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DatePolicyHolderTumorLeaveDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLeaveMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderTumorLeaveYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DatePolicyHolderSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedYear", 4, boxTypeWithoutLabel, null);		
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// FOOTER
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Tumor");
			});


	/ BODY

	%body

		/ HEADER		

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.Single.PositionerLeft 1.
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorFirstDiagnoseDay" } Kapan pertama kali diketahui adanya tumor?
					%table#DatePolicyHolderTumorFirstDiagnoseYear.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorFirstDiagnoseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorFirstDiagnoseDay.BoxSquare.PositionerRight
					%br
					
					%span.Number.Single.PositionerLeft 2.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorWhere" } Pada bagian tubuh mana tumor tersebut tumbuh?
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorWhere.Full.Single.Item{ :type => "text" }
						%br
					  
					%span.Number.Single.PositionerLeft 3.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorDiagnose" } Mohon sebutkan diagnosis pasti dari tumor tersebut.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorDiagnose.Full.Single.Item{ :type => "text" }
						%br

					%span.Number.Single.PositionerLeft 4.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTaken" } Apakah tumor tersebut telah diangkat/dioperasi?					
					%div.RadioButton
						%input#RadioButtonPolicyHolderTumorTakenNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTaken", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorTakenNo" } Tidak
						
						%input#RadioButtonPolicyHolderTumorTakenYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTaken", :value => "true" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderTumorTakenYes" } Ya
					%br								

					%label.Wrap.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTumorOperationDay" } a. Tanggal operasi					
					%table#DatePolicyHolderTumorOperationDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorOperationMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorOperationYear.BoxSquare.PositionerLeft
					%br
					
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderTumorOperationMethod"} b. Metode operasi (anestesi local, bedah beku/cryosurgery, operasi dengan anestesi umum, dan sebagainya). Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderTumorOperationMethod.Line.Full.Single.Item{ :type => "text" }					
					%br
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTumorLastDay" } c. Mohon lengkapi data Dokter dan Rumah Sakit yang biasa dikunjungi untuk gangguan pernapasan.
					%br
					
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderTumorConsultLastDay" } Tanggal terakhir konsultasi				
					%table#DatePolicyHolderTumorConsultLastDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorConsultLastMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderTumorConsultLastYear.BoxSquare.PositionerLeft
					%br	

					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorConsultDoctName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderTumorConsultDoctName.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorConsultPhone"} No. Telepon/Handphone:
						%input#TextPolicyHolderTumorConsultPhone.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorConsultClinic"} Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderTumorConsultClinic.Full.Single.Item{ :type => "text" }
					%br					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderTumorConsultAddress"} Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderTumorConsultAddress.Full.Single.Item{ :type => "text" }
					%br
					
					%label.Wrap.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapy" } d. Pengobatan/tindakan apa yang diberikan setelah dilakukan operasi tumor?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderTumorTherapyDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapy", :value => "drug" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyDrug" } Obat tablet
												
						%input#RadioButtonPolicyHolderTumorTherapyRadio.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapy", :value => "radiotherapy" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyRadio" } Radioterapi
												
						%input#RadioButtonPolicyHolderTumorTherapyChemo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapy", :value => "chemotherapy" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyChemo" } Kemoterapi
					
																		
						%input#RadioButtonPolicyHolderTumorTherapyOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorTherapy", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorTherapyOthers" } Lainnya, Sebutkan.
						%br
						%input#TextPolicyHolderTumorTherapyOtherDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
					%br
					
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorPrognosa" } e. Apakah anda pernah diberi informasi tentang prognosa (ramalan) atas tumor tersebut?
					%div.RadioButton
						%input#RadioButtonPolicyHolderTumorPrognosaYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorPrognosa", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorPrognosaYes" } Ya
												
						%input#RadioButtonPolicyHolderTumorPrognosaNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorPrognosa", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorPrognosaNo" } Tidak
						%br			
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorPrognosa"}
						Mohon menjelaskan secara rinci pada kolom di bawah ini.
						%br
						%input#TextPolicyHolderTumorPrognosa.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br												
					
					%label.Wrap.Single.PositionerLeft{ :for => "TablePolicyHolderTumorCheckup" } f. Pemeriksaan-pemeriksaan apa saja yang telah dilakukan, termasuk tanggal dan hasil pemeriksaan tersebut.
					%br
						
						%table#TablePolicyHolderTumorCheckup
						%thead
							%tr
								%th Jenis Pemeriksaan
								%th Tanggal Pemeriksaan
								%th Hasil Pemeriksaann										
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td 
								%td
								%td								
					%br
						
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorActionDesc"} g. Pengobatan atau tindakan operasi apa saja yang pernah dianjurkan?
					%br
					%input#TextPolicyHolderTumorActionDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br									
					
					%span.Number.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorCurrent" } Apakah sampai saat ini masih dalam pengobatan?
					%br
					
					%div.RadioButton					
						%input#RadioButtonPolicyHolderTumorCurrentYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorCurrent", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorCurrentYes" } Ya
						
						%input#RadioButtonPolicyHolderTumorCurrentNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorCurrent", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorCurrentNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorLastTherapyDay" } Tanggal terakhir perawatan:
					
					%table#DatePolicyHolderTumorLastTherapyDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLastTherapyMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLastTherapyYear.BoxSquare.PositionerRight
					%br
					
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorReason"} Alasan
					%input#TextPolicyHolderTumorReason.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorTreatment"} Pengobatan
					%input#TextPolicyHolderTumorTreatment.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorHowOften"} Berapa kali dalam 1 (satu) tahun:
					%input#TextPolicyHolderTumorHowOften.Line.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorDocterName"} Nama Lengkap Dokter:
					%input#TextPolicyHolderTumorDocterName.Line.Long.Single.PositionerLeft{ :type => "text" }					
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorTelephone"} No. Telepon/Handphone:
					%input#TextPolicyHolderTumorTelephone.Line.Long.Single.PositionerLeft{ :type => "text" }

					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorClinicName"} Nama Klinik/Rumah Sakit:
					%input#TextPolicyHolderTumorClinicName.Line.Long.Single.PositionerLeft{ :type => "text" }
					
					%br					
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorClinicAddrs"} Alamat Klinik/Rumah Sakit:
					%input#TextPolicyHolderTumorClinicAddrs.Full.Single.Item{ :type => "text" }
					%br
					
					%br
					%span.Number.PositionerLeft 6
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorWhenLast" } Apakah Anda pernah tidak masuk kerja karena kondisi ini?					
					%div.RadioButton					
						%input#RadioButtonPolicyHolderTumorLeaveYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorLeave", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorLeaveYes" } Ya
						
						%input#RadioButtonPolicyHolderTumorLeaveNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderTumorLeave", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTumorLeaveNo" } Tidak
						%br								

					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderTumorLeaveDay" } Jika “Ya”, kapan:
					
					%table#DatePolicyHolderTumorLeaveDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLeaveMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderTumorLeaveYear.BoxSquare.PositionerRight
					%br
					%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderTumorHowLong"} Dan berapa lama?
					%input#TextPolicyHolderTumorHowLong.Line.Short.Single.PositionerLeft{ :type => "text" } Hari
					%br

					%br
					%span.Number.PositionerLeft 7
					Sebutkan kapan terakhir kali Anda melakukan konsultasi dengan dokter? Mohon lengkapi pertanyaan pada kolom di bawah ini dan mohon dilampirkan fotokopi hasil pemeriksaan.

					%table#TablePolicyHolderTumorLastConsult
						%thead
							%tr
								%th Jenis Pemeriksaan
								%th Tanggal Pemeriksaan
								%th Hasil Pemeriksaann										
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td 
								%td
								%td
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td								
						%br
						
					%br
					%span.Number.PositionerLeft 8
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderTumorAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextPolicyHolderTumorAdditionalInfo.Line.Long.Single.PositionerLeft{ :type => "text"}
					%br 
					
				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render