!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				var jsonDummy = '{"result":{"readFromDB":[{"elementID":"DatePolicyHolderChestPainFirstAttack","Value":"01/02/1990"},{"elementID":"DatePolicyHolderChestPainAttackDuration","Value":"01:02:03"},{"elementID":"TextPolicyHolderChestPainCharacterOtherDesc","Value":"nyeri"},{"elementID":"RadioButtonPolicyHolderChestPainNextAttack","Value":"true"},{"elementID":"NumberPolicyHolderChestPainCurrentAttackTimes","Value":"2"},{"elementID":"TextPolicyHolderFullName","Value":"Ariani Jollanda Pondaag"},{"elementID":"TextSPAJNumber","Value":"123456789012"}]}}'
			
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 11, boxTypeWithoutLabel, null);				
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				
				boxGenerator("#DatePolicyHolderChestPainLastAttackDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainLastAttackMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainLastAttackYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainFirstAttackDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainFirstAttackMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainFirstAttackYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainLastAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainLastAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainLastAriseYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainConsulToDoctorLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainConsulToDoctorLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainConsulToDoctorLastYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainTakeLeaveIfYesDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainTakeLeaveIfYesMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainTakeLeaveIfYesYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// SETUP
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Nyeri Dada");
				
				var objectContent = JSON.parse(jsonDummy);
				getFromDatabaseForHealthQuestionnaire(objectContent.result.readFromDB, stringPageTypePDF);
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer					 				
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. Wajib Dilengkapi (Calon) Tertanggung
				%fieldset
					%span.Number.Single.PositionerLeft 1.					
					%label.Medium.Wrap.PositionerLeft{ :for => "DatePolicyHolderChestPainFirstAttackDay" } Kapan pertama kali Anda merasakan nyeri dada?
					%table#DatePolicyHolderChestPainFirstAttackDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainFirstAttackMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainFirstAttackYear.BoxSquare.PositionerRight
					%br

					%span.Number.Single.PositionerLeft 2.
					%label.Medium.Wrap.PositionerLeft{ :for => "DatePolicyHolderChestPainAttackDurationSecond" } Berapa lama serangan tersebut berlangsung?
					%input#DatePolicyHolderChestPainAttackDurationSecond.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainAttackDurationSecond" } Detik /
					%input#DatePolicyHolderChestPainAttackDurationMinute.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainAttackDurationMinute" } Menit /
					%input#DatePolicyHolderChestPainAttackDurationHour.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainAttackDurationHour" } Jam
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Medium.Wrap.PositionerLeft{ :for => "TextPolicyHolderChestPainNextAttackNo" } Apakah ada serangan lanjutan sesudahnya?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainNextAttackNo" } Tidak
						%input#RadioButtonPolicyHolderChestPainNextAttackNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainNextAttack", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainNextAttackYes" } Ya
						%input#RadioButtonPolicyHolderChestPainNextAttackYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainNextAttack", :value => "true" }
						%div.BoxRound.PositionerRight
					%br

					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderChestPainLastAttackDay" } Tanggal serangan terakhir:
					%table#DatePolicyHolderChestPainLastAttackDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainLastAttackMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainLastAttackYear.BoxSquare.PositionerRight
					%br

					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderChestPainLastAttackDurationSecond" } Berapa lama serangan tersebut berlangsung?
					%input#DatePolicyHolderChestPainLastAttackDurationSecond.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainLastAttackDurationSecond" } Detik /
					%input#DatePolicyHolderChestPainLastAttackDurationMinute.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainLastAttackDurationMinute" } Menit /
					%input#DatePolicyHolderChestPainLastAttackDurationHour.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainLastAttackDurationHour" } Jam
					%br

					%label.Medium.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderChestPainCurrentAttackTimes" } Hingga saat ini serangan sudah terjadi sebanyak:					
					%input#TextPolicyHolderChestPainCurrentAttackTimes.Short.Single.PositionerLeft{ :type => "text" }
					%label.Separator.Single.PositionerLeft{ :for => "NumberPolicyHolderChestPainCurrentAttackTimes" } Kali
					%br					
										
					%span.Number.Single.PositionerLeft 4.
					%label.Medium.Single.PositionerLeft{ :for => "DatePolicyHolderChestPainLastAriseDay" } Kapan terakhir kali nyeri dada terjadi?
					%table#DatePolicyHolderChestPainLastAriseDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainLastAriseMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderChestPainLastAriseYear.BoxSquare.PositionerRight
					%br
					
					%span.Number.Single.PositionerLeft 5.
					%label.Long.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacter" } Bagaimana sifat nyeri dada yang Anda rasakan?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderChestPainCharacterOutOfBreath.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainCharacter", :value => "outofbreath" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacterOutOfBreath" } Sesak Nafas
						%input#RadioButtonPolicyHolderChestPainCharacterSqueezed.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainCharacter", :value => "squeezed" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacterSqueezed" } Dada terasa diremas
						%input#RadioButtonPolicyHolderChestPainCharacterDepressed.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainCharacter", :value => "depressed" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacterDepressed" } Dada terasa tertekan
						%input#RadioButtonPolicyHolderChestPainCharacterHot.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainCharacter", :value => "hot" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacterHot"} Dada terasa panas
						%br
						%input#RadioButtonPolicyHolderChestPainCharacterChestTightness.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainCharacter", :value => "chesttightness" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacterChestTightness" } Dada terasa berat
						%input#RadioButtonPolicyHolderChestPainCharacterChestPunctured.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainCharacter", :value => "chestpunctured" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacterChestPunctured" } Dada terasa ditusuk-tusuk
						%input#RadioButtonPolicyHolderChestPainCharacterVaguelyUncomfortable.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainCharacter", :value => "vaguelyuncomfortable" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacterVaguelyUncomfortable" } Samar-samar tidak nyaman
						%br
						%input#RadioButtonPolicyHolderChestPainCharacterOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainCharacter", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainCharacterOthers"} Lainnya, sebutkan
						%input#TextPolicyHolderChestPainCharacterOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 6.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainPainLocation" } Dimanakah letak nyeri dada tersebut?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainLocationRight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainLocation", :value => "right" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainLocationRight" } Di sisi kanan dada
						%input#RadioButtonPolicyHolderChestPainLocationRightMiddle.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainLocation", :value => "middle" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainLocationRightMiddle" } Di tengah dada
						%input#RadioButtonPolicyHolderChestPainLocationLeft.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainLocation", :value => "left" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainLocationLeft" } Di sisi kiri dada
						%br
						%input#RadioButtonPolicyHolderChestPainLocationOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainLocation", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainLocationOthers"} Di bagian lain dari dada, sebutkan						
						%input#TextPolicyHolderChestPainLocationOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					

					%span.Number.Single.PositionerLeft 7.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpread" } Apakah nyeri dada tersebut menjalar?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainSpreadToShoulder.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainSpread", :value => "shoulder" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpreadToShoulder" } Ke bahu
						%input#RadioButtonPolicyHolderChestPainSpreadToArm.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainSpread", :value => "arm" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpreadToArm" } Ke lengan
						%input#RadioButtonPolicyHolderChestPainSpreadToJaw.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainSpread", :value => "jaw" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpreadToJaw" } Ke rahang
						%input#RadioButtonPolicyHolderChestPainSpreadToBelly.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainSpread", :value => "belly" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpreadToBelly" } Ke perut
						%br
						%input#RadioButtonPolicyHolderChestPainSpreadToBack.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainSpread", :value => "back" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpreadToBack" } Ke punggung
						%input#RadioButtonPolicyHolderChestPainSpreadToOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainSpread", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainSpreadToOthers"} Di bagian lain, sebutkan: 
						%input#TextPolicyHolderChestPainSpreadToOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br
					%section#SectionFooter=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					
					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%span.Number.Single.PositionerLeft{ :style => "margin-top: 30px;"} 8.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainHowHappened", :style => "margin-top: 30px;"  } Bagaimana terjadinya nyeri dada tersebut?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainHowHappenedSudden.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainHowHappened", :value => "sudden" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainHowHappenedSudden" } Mendadak
						%input#RadioButtonPolicyHolderChestPainHowHappenedGradually.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainHowHappened", :value => "gradually" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainHowHappenedGradually" } Bertahap
						%input#RadioButtonPolicyHolderChestPainHowHappenedWhenRest.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainHowHappened", :value => "whenrest" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainHowHappenedWhenRest" } Di waktu istirahat
						%br
						%input#RadioButtonPolicyHolderChestPainHowHappenedCertainPostur.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainHowHappened", :value => "certainpostur" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainHowHappenedCertainPostur" } Hanya pada postur tertentu
						%input#RadioButtonPolicyHolderChestPainHowHappenedAfterSport.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainHowHappened", :value => "aftersport" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainHowHappenedAfterSport" } Hanya pada istirahat sehabis olah raga
						%input#RadioButtonPolicyHolderChestPainHowHappenedDeepBreath.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainHowHappened", :value => "deepbreath" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainHowHappenedDeepBreath" } Diperburuk dengan nafas dalam
						%br
						%input#RadioButtonPolicyHolderChestPainHowHappenedOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainHowHappened", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainHowHappenedOthers"} Di bagian lain dari dada, sebutkan: 
						%input#TextPolicyHolderChestPainHowHappenedOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					
					
					%span.Number.Single.PositionerLeft 9.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainGettingWorse" } Kondisi bagaimana yang memperburuk nyeri dada?
					%br
					%div.RadioButton.NumberIndent						
						%input#RadioButtonPolicyHolderChestPainGettingWorseWhenTired.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainGettingWorse", :value => "whentired" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainGettingWorseWhenTired" } Kelelahan/emosi
						%input#RadioButtonPolicyHolderChestPainGettingWorseWhenPressureOnChest.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainGettingWorse", :value => "whenpressureonchest" }
						%div.BoxRound.PositionerLeft											
						%label.Short.Single.PositionerLeft{ :for =>			"RadioButtonPolicyHolderChestPainGettingWorseWhenPressureOnChest" } Tekanan pada dada
						%input#RadioButtonPolicyHolderChestPainGettingWorseWhenCoughing.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainGettingWorse", :value => "whencoughing" }
						%div.BoxRound.PositionerLeft
						%label.Short.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainGettingWorseWhenCoughing" } Batuk menghirup nafas dalam
						%br
						%input#RadioButtonPolicyHolderChestPainGettingWorseOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainGettingWorse", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainGettingWorseOthers"} Lainnya, sebutkan 						
						%input#TextPolicyHolderChestPainGettingWorseOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					
					
					%span.Number.Single.PositionerLeft 10.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainReducedWhenRest" } Kondisi bagaimana yang mengurangi nyeri dada?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderChestPainReducedWhenRest.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainReduced", :value => "whenrest" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainReducedWhenRest" } Istirahat
						%input#RadioButtonPolicyHolderChestPainReducedWhenDrinkMilk.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainReduced", :value => "whendrinkmilk" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainReducedWhenDrinkMilk" } Minum susu
						%br
						%input#RadioButtonPolicyHolderChestPainReducedWhenDrinkDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainReduced", :value => "whendrinkdrug" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainReducedWhenDrinkDrug" } Minum obat maag
						%input#RadioButtonPolicyHolderChestPainReducedOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainReduced", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainReducedOthers"} Lainnya, sebutkan
						%input#TextPolicyHolderChestPainReducedOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
						%input#RadioButtonPolicyHolderChestPainReducedAfterDrinkDrug.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainReduced", :value => "afterdrinkdrug" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainReducedAfterDrinkDrug" } Setelah minum obat (Jelaskan secara rinci nama obat, dosis dan frekuensi penggunaannya pada kolom di bawah ini).
						%br
						%input#TextPolicyHolderChestPainReducedOtherDescAdd.Full.Single.PositionerLeft{ :type => "text" }
					%br				
					
					%span.Number.Single.PositionerLeft 11.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainConsulToDoctorNo" } Apakah keluhan nyeri dada tersebut pernah dikonsultasikan ke Dokter?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainConsulToDoctorNo" } Tidak
						%input#RadioButtonPolicyHolderChestPainConsulToDoctorNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainConsulToDoctor", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainConsulToDoctorYes" } Ya
						%input#RadioButtonPolicyHolderChestPainConsulToDoctorYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainConsulToDoctor", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderChestPainConsulToDoctorReason" } Jika “Ya”, mohon berikan alasannya?
						%input#TextPolicyHolderChestPainConsulToDoctorReason.Full.Single.Item{ :type => "text" }
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderChestPainConsulToDoctorLast" } Tanggal terakhir konsultasi:
					%table#DatePolicyHolderChestPainConsulToDoctorLastDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderChestPainConsulToDoctorLastMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderChestPainConsulToDoctorLastYear.BoxSquare.PositionerLeft
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainConsulToDoctorDiagnosis" } Diagnosa:
						%input#TextPolicyHolderChestPainConsulToDoctorDiagnosis.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainConsulToDoctorFullNameDoctor" } Nama lengkap dokter:
						%input#TextPolicyHolderChestPainConsulToDoctorFullNameDoctor.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainConsulToDoctorPhone" } No. Telepon/Handphone:
						%input#TextPolicyHolderChestPainConsulToDoctorPhone.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainConsulToDoctorHospitalName" } Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderChestPainConsulToDoctorHospitalName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderChestPainConsulToDoctorHospitalAddress" } Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderChestPainConsulToDoctorHospitalAddress.Full.Single.Item{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 12.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainTreatment" } Apakah ada pengobatan yang diberikan sehubungan nyeri dada?
					%div.RadioButton.NumberIndent.PositionerRight					
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainTreatmentNo" } Tidak						
						%input#RadioButtonPolicyHolderChestPainTreatmentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainTreatment", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderChestPainTreatmentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainTreatment", :value => "true" }
						%div.BoxRound.PositionerRight												
					%br		
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderChestPainTreatmentReason" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderChestPainTreatmentReason.Full.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 13.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainEverCheck" } Apakah pernah melakukan pemeriksaan sebagai berikut?
					%div.RadioButton.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainEverCheckNo" } Tidak
						%input#RadioButtonPolicyHolderChestPainEverCheckNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainEverCheck", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainEverCheckYes" } Ya
						%input#RadioButtonPolicyHolderChestPainEverCheckYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainEverCheck", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.RadioButton.NumberIndent.PositionerLeft					
						%input#RadioButtonPolicyHolderChestPainChekUpEverEkg.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "ekgecg" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverEkg" } EKG/ ECG
						%input#RadioButtonPolicyHolderChestPainChekUpEverRontgen.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "rontgen" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverRontgen" } Rontgen dada
						%input#RadioButtonPolicyHolderChestPainChekUpEverEchocardiogram.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "echocardiogram" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverEchocardiogram" } Echocardiogram
						%input#RadioButtonPolicyHolderChestPainChekUpEverTreadmill.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "treadmill" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverTreadmill" } Treadmill
						%input#RadioButtonPolicyHolderChestPainChekUpEverLaboratorium.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "laboratory" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverLaboratorium" } Laboratorium
						%br
						%input#RadioButtonPolicyHolderChestPainChekUpEverOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainChekUpEver", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainChekUpEverOthers"} Lainnya, sebutkan 
						%input#TextPolicyHolderChestPainCheckUpEverOthersDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br					
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderChestPainEverCheckDesc" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderChestPainEverCheckDesc.Full.Single.PositionerLeft{ :type => "text" }
					%br
					
					%section#SectionFooter=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					
					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render
	
					%span.Number.Single.PositionerLeft{ :style => "margin-top: 30px;"}  14.
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderChestPainTakeLeave", :style => "margin-top: 30px;" } Apakah Anda pernah tidak masuk kerja dalam jangka waktu lama karena kondisi ini ?
					%div.RadioButton
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainTakeLeaveNo" } Tidak						
						%input#RadioButtonPolicyHolderChestPainTakeLeaveNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainTakeLeave", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderChestPainTakeLeaveYes" } Ya
						%input#RadioButtonPolicyHolderChestPainTakeLeaveYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderChestPainTakeLeave", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.Medium.Wrap.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderChestPainTakeLeaveIfYesDay" } Jika “Ya”, kapan	
					%table#DatePolicyHolderChestPainTakeLeaveIfYesDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderChestPainTakeLeaveIfYesMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderChestPainTakeLeaveIfYesYear.BoxSquare.PositionerLeft
					%label.Medium.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderChestPainTakeLeaveDesc" } Berapa lama					
					%input#NumberPolicyHolderChestPainTakeLeaveHowLong.Short.Single.PositionerLeft{ :type => "number"}
					%br
					
					%span.Number.Single.PositionerLeft 15
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderChestPainAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini?
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderChestPainAdditionalInfo.Full.Single.PositionerLeft{ :type => "text" }
					%br

				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render