!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				
				boxGenerator("#TextPolicyHolderSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName1", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthdayPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthdayYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				boxGenerator("#DatePolicyHolderHypertensionFirstTimeDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderHypertensionFirstTimeMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderHypertensionFirstTimeYear", 4, boxTypeWithoutLabel, null);
								
				boxGenerator("#DatePolicyHolderHypertensionWhenStartDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderHypertensionWhenStartMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderHypertensionWhenStartYear", 4, boxTypeWithoutLabel, null)
				
				boxGenerator("#DatePolicyHolderSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderSignedYear", 4, boxTypeWithoutLabel, null);			
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// FOOTER
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Tekanan Darah Tinggi");
			});

	/ BODY

	%body		

		/ HEADER		

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form				
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render
					
				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderHypertensionFirstTime" } a. Kapan pertama kali Anda mengetahui menderita tekanan darah tinggi?
					%table#DatePolicyHolderHypertensionFirstTimeDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderHypertensionFirstTimeMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderHypertensionFirstTimeYear.BoxSquare.PositionerRight
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionNumOfBloodPressure" } b. Berapa tekanan darah Anda saat itu
					%input#TextPolicyHolderHypertensionNumOfBloodPressure.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%label.Wrap.PositionerLeft mmHg
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionPainLocation" } c. Mengapa Anda saat itu melakukan pemeriksaan tekanan darah?

					%div.RadioButton					
						%input#RadioButtonPolicyHolderHypertensionCheckReasonRoutine.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckReason", :value => "routine" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckReasonRoutine" } Pemeriksaan Rutin															
						%input#RadioButtonPolicyHolderHypertensionCheckReasonOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckReason", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckReasonOthers" } Keluhan Lainnya   
						%br														
					
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionPainLocationOthers"}   (mohon jelaskan secara rinci pada kolom di bawah ini).
						%br
						%input#TextPolicyHolderHypertensionCheckReasonDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
					%br										
					
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionPainLocation" } d. Apakah dikonsultasikan ke Dokter?

					%div.RadioButton											
						%input#RadioButtonPolicyHolderHypertensionDoctorConsultYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionDoctorConsult", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionDoctorConsultYes" } Ya															
						%input#RadioButtonPolicyHolderHypertensionDoctorConsultNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionDoctorConsult", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionDoctorConsultNo" } Tidak 
						%br														
					
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft Jika “Ya”, mohon mengisi kolom di bawah ini.
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionDoctorName"}  Nama Lengkap Dokter: 
						%input#TextPolicyHolderHypertensionDoctorName.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br	
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionDoctorAddress"}  Alamat Lengkap Dokter: 
						%input#TextPolicyHolderHypertensionDoctorAddress.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br	

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionHowOftenCheckupToDoctor" } e. Berapa sering Anda kontrol ke Dokter
					%input#TextPolicyHolderHypertensionHowOftenCheckupToDoctor.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%label.Wrap.PositionerLeft kali per (hari/minggu/bulan/tahun*) *coret yang tidak perlu
					%br							
							
					%span.Number.PositionerLeft 2
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionWhen" } Apakah kenaikan tekanan darah Anda tersebut berhubungan dengan penyakit sebagai berikut:
					%div.RadioButton
						%input#RadioButtonPolicyHolderHypertensionRelatedToHeart.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionRelatedTo", :value => "heart" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionRelatedToHeart" } Jantung
											
						%input#RadioButtonPolicyHolderHypertensionRelatedToBrain.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionRelatedTo", :value => "brain" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionRelatedToBrain" } Otak
											
						%input#RadioButtonPolicyHolderHypertensionRelatedToKidney.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionRelatedTo", :value => "kidney" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionRelatedToKidney" } Ginjal

						%input#RadioButtonPolicyHolderHypertensionRelatedToOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionRelatedTo", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionRelatedToOthers" } Lainnya, sebutkan									
						%input#TextPolicyHolderHypertensionRelatedToOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }											
					%br
					
					%span.Number.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderHypertensionWhenStartDay" } a.	Kapan Anda memulai pengobatan kenaikan tekanan darah tersebut
					%table#DatePolicyHolderHypertensionWhenStartDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderHypertensionWhenStartMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderHypertensionWhenStartYear.BoxSquare.PositionerRight
					%br
					
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionWhenLast" } b.	Apakah Anda pernah berhenti minum obat?
					
					%div.RadioButton
						%input#RadioButtonPolicyHolderHypertensionStopDrugYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionStopDrug", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionStopDrugYes" } Ya
						
						%input#RadioButtonPolicyHolderHypertensionStopDrugNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionStopDrug", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionStopDrugNo" } Tidak
						%br		
						
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionSpreadToOthers"} Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
						%br
						%input#TextPolicyHolderHypertensionStopDrugIfYesDesc.Line.Short.Single.PositionerLeft{ :type => "text" }					
						%br				

					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionWhenLast" } c.	Apakah Anda saat ini masih dalam pengobatan?
					
					%div.RadioButton
						%input#RadioButtonPolicyHolderHypertensionInTherapyYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionInTherapy", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionInTherapyYes" } Ya
						
						%input#RadioButtonPolicyHolderHypertensionInTherapyNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionInTherapy", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionInTherapyNo" } Tidak
						%br		
						
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionSpreadToOthers"} Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
						%br

						%table#TextPolicyHolderHypertensionInTherapyDrug
						%thead
							%tr
								%th Nama Obat
								%th Dosis
								%th Frekuensi
						%tbody
							%tr
								%td
								%td
								%td
							%tr
								%td
								%td
								%td		
							%tr
								%td
								%td
								%td		
							%tr
								%td
								%td
								%td										
						%br	
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionInTherapyDocterName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderHypertensionInTherapyDocterName.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionInTherapyPhone"} No. Telepon/Handphone:
						%input#TextPolicyHolderHypertensionInTherapyPhone.LineDot.Long.Single.PositionerLeft{ :type => "text" }

						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionInTherapyHospital"} Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderHypertensionInTherapyHospital.LineDot.Long.Single.PositionerLeft{ :type => "text" }					

						%br
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionInTherapyHospitalAddress"} Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderHypertensionInTherapyHospitalAddress.LineDot.Long.Single.PositionerLeft{ :type => "text" }
						%br
					
					%br
					%span.Number.PositionerLeft 4
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionFeel" } Apakah Anda pernah melakukan pemeriksaan sebagai berikut?
					%div.RadioButton
						%input#RadioButtonPolicyHolderHypertensionCheckupOneYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckupOne", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupOneYes" } Ya
												
						%input#RadioButtonPolicyHolderHypertensionCheckupOneNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckupOne", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupOneNo" } Tidak
												
						%input#RadioButtonPolicyHolderHypertensionCheckupOneEkg.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckupOne", :value => "ekgecg" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupOneEkg" } EKG/ ECG
						%br	
																		
						%input#RadioButtonPolicyHolderHypertensionCheckupOneRontgen.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckupOne", :value => "chestrontgen" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupOneRontgen" } Rontgen dada
						%br	
																		
						%input#RadioButtonPolicyHolderHypertensionCheckupOneEchocardiogram.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckupOne", :value => "echocardiogram" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupOneEchocardiogram" } Echocardiogram
						%br	
																		
						%input#RadioButtonPolicyHolderHypertensionCheckupOneTreadmill.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckupOne", :value => "treadmill" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupOneTreadmill" } Treadmill
						%br	
											
						%input#RadioButtonPolicyHolderHypertensionCheckupOneLaboratorium.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckupOne", :value => "laboratory" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupOneLaboratorium" } Laboratorium
						%br	
											
						%input#RadioButtonPolicyHolderHypertensionCheckupOneOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckupOne", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupOneOthers" } Lainnya, sebutkan
						%input#TextPolicyHolderHypertensionCheckupOtherName.Line.PositionerLeft
						%br	
						
						%label.Wrap.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionCheckupOneOtherDesc"}
						Mohon menjelaskan secara rinci pada kolom di bawah ini.
						(Kapan dan bagaimana hasilnya serta melampirkan fotokopi hasil pemeriksaan).
						%br
						%input#TextPolicyHolderHypertensionCheckupOneOtherDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
					%br					
					%span.Number.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionVomitingBlood" }Apakah Anda pernah mendapat perawatan rumah sakit sehubungan dengan tekanan darah tinggi?
					%div.RadioButton
						%label.Wrap.Single.PositionerLef{ :for => "RadioButtonPolicyHolderHypertensionTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderHypertensionTreatmentYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionTreatment", :value => "true" }
						%div.BoxRound.PositionerLeft

						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionTreatmentNo" } Tidak
						%input#RadioButtonPolicyHolderHypertensionTreatmentNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionTreatment", :value => "false" }
						%div.BoxRound.PositionerLeft
						
						%label.Wrap.Single.PositionerRight{ :for => "TablePolicyHolderHypertensionTreatment" } Jika “Ya”, mohon melengkapi kolom di bawah ini.
						
						%table#TablePolicyHolderHypertensionTreatment
						%thead
							%tr
								%th Alasan Perawatan
								%th Nama Dokter
								%th Alamat Dokter
								%th Tanggal Perawatan
								%th Jangka Waktu Perawatan										
						%tbody
							%tr
								%td
								%td
								%td
								%td
								%td	
							%tr
								%td 
								%td
								%td		
								%td 
								%td								
						%br	
					%br
					
					%span.Number.PositionerLeft 6
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplication" } Apakah tekanan darah tinggi yang Anda derita disertai komplikasi organ lain sebagai berikut?

					%div.RadioButton
						%input#RadioButtonPolicyHolderHypertensionComplicationNothing.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "nothing" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationNothing" } Tidak ada				
						
						%input#RadioButtonPolicyHolderHypertensionComplicationKidney.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "kidney" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationKidney" } Ginjal
						
						%input#RadioButtonPolicyHolderHypertensionComplicationBrain.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "brain" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationBrain" } Otak
						
						%input#RadioButtonPolicyHolderHypertensionComplicationVision.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "impairedvision" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationVision" } Gangguan Penglihatan
						
						%input#RadioButtonPolicyHolderHypertensionComplicationLiver.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "liver" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationLiver" } Hati
						
						%input#RadioButtonPolicyHolderHypertensionComplicationOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationOthers" } Lainnya, sebutkan 
						%input#TextPolicyHolderHypertensionComplicationOtherDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
						
					%br
					%span.Number.PositionerLeft 7
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionAverageBloodPressure" } Jelaskan rata-rata tekanan darah dalam 12 (dua belas) bulan terakhir (termasuk tanggal pemeriksaannya) pada kolom di bawah ini.
					%br
					%input#TextPolicyHolderHypertensionAverageBloodPressure.Line.Long.Single.PositionerLeft{ :type => "text"}
					%br
					
					%br
					%span.Number.PositionerLeft 8
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderHypertensionAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextPolicyHolderHypertensionAdditionalInfo.Line.Long.Single.PositionerLeft{ :type => "text"}
					%br

				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render