!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypeAmandment;
			var stringPageInfixTypeCurrent = stringPolicyHolderPrefix;


			// DOCUMENT READY

			$(document).ready(function()
			{
				var jsonDummy = '{"result":{"readFromDB":[{"elementID":"AreaPolicyHolderRespiratoryAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderCardiacAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderDigestAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderNerveAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderLiverAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderMotionAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderGlandAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderCellAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderClaimAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderDiagnosticAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderPregnancyIllnessAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"AreaPolicyHolderFemaleAbnormalityAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"TextPolicyHolderPapSmearAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"TextPolicyHolderHeartDissorderAmandmentDetail","Value":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."},{"elementID":"TextPolicyHolderVisionDiseaseName","Value":"Belekan."},{"elementID":"DatePolicyHolderVisionDiseaseSickFrom","Value":"01/02/2016"},{"elementID":"TextPolicyHolderVisionDiseaseSickDuration","Value":"2 hari."},{"elementID":"TextPolicyHolderVisionDiseaseDoctorName","Value":"Yosi."},{"elementID":"TextPolicyHolderVisionDiseaseHospital","Value":"RSIB."},{"elementID":"TextPolicyHolderVisionDiseaseAddress","Value":"Bintaro."},{"elementID":"TextPolicyHolderVisionDiseaseTelephone","Value":"123456"},{"elementID":"TextBeneficiariesListFullName1","Value":"Erwin"},{"elementID":"TextBeneficiariesListBirthday1","Value":"01/02/1990"},{"elementID":"RadioButtonBeneficiariesListSex1","Value":"male"},{"elementID":"SelectBeneficiariesListRelationship1","Value":"grandchild"},{"elementID":"SelectBeneficiariesListNationality1","Value":"indonesia"},{"elementID":"TextPolicyHolderSPAJProposalCompanyName1","Value":"InfoConnect"},{"elementID":"TextPolicyHolderSPAJProposalPolicyNumber1","Value":"123456"},{"elementID":"DatePolicyHolderSPAJProposalPublished1","Value":"01/02/1990"},{"elementID":"TextPolicyHolderSPAJProposalBasicSumAssured1","Value":"10000"},{"elementID":"TextPolicyHolderSPAJProposalDecision1","Value":"Yes"},{"elementID":"TextBeneficiariesListFullName2","Value":"Johan"},{"elementID":"TextBeneficiariesListBirthday2","Value":"02/03/1990"},{"elementID":"RadioButtonBeneficiariesListSex2","Value":"female"},{"elementID":"SelectBeneficiariesListRelationship2","Value":"child"},{"elementID":"SelectBeneficiariesListNationality2","Value":"malaysia"},{"elementID":"TextPolicyHolderSPAJProposalCompanyName2","Value":"BCA Life"},{"elementID":"TextPolicyHolderSPAJProposalPolicyNumber2","Value":"654321"},{"elementID":"DatePolicyHolderSPAJProposalPublished2","Value":"04/05/1990"},{"elementID":"TextPolicyHolderSPAJProposalBasicSumAssured2","Value":"12000"},{"elementID":"TextPolicyHolderSPAJProposalDecision2","Value":"Oke"},{"elementID":"RadioButtonPolicyHolderImmune","Value":"true"}]}}'

				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				// SETTER

				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 2);
				titleSetterForHealthQuestionnairePDF("Amandemen");

				// TEST

				// var objectContent = JSON.parse(jsonDummy);
				// getFromDatabaseForAmandment(objectContent.result.readFromDB, stringPolicyHolderPrefix, "FieldsetAmandment");
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 Amandemen
				%fieldset#FieldsetAmandment

				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
