!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				var jsonDummy = '{"result":{"readFromDB":[{"elementID":"TextPolicyHolderHypertensionMedicationName0","Value":"Decolgen."},{"elementID":"TextPolicyHolderHypertensionMedicationDose0","Value":"15 mg."},{"elementID":"TextPolicyHolderHypertensionMedicationFrequency0","Value":"1 kali sehari."},{"elementID":"TextPolicyHolderHypertensionMedicationName1","Value":"Panadol."},{"elementID":"TextPolicyHolderHypertensionMedicationDose1","Value":"20 mg."},{"elementID":"TextPolicyHolderHypertensionMedicationFrequency1","Value":"2 kali sehari."},{"elementID":"TextPolicyHolderHypertensionMedicationName2","Value":"Vitamin C."},{"elementID":"TextPolicyHolderHypertensionMedicationDose2","Value":"100 mg."},{"elementID":"TextPolicyHolderHypertensionMedicationFrequency2","Value":"1 kali sehari."}]}}'

				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY

				boxGenerator("#DatePolicyHolderHypertensionFirstTimeDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderHypertensionFirstTimeMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderHypertensionFirstTimeYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderHypertensionWhenStartDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderHypertensionWhenStartMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderHypertensionWhenStartYear", 4, boxTypeWithoutLabel, null)

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);			

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// SETTER

				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Tekanan Darah Tinggi");
				tablePDFStaticGeneralGenerator("TablePolicyHolderHypertensionMedication", ["Name", "Dose", "Frequency"], 5);

				// var objectContent = JSON.parse(jsonDummy);
				// getFromDatabaseForHealthQuestionnaire(objectContent.result.readFromDB, stringPageTypePDF);
			});

	/ BODY

	%body		

		/ HEADER		

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form				
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.Single.PositionerLeft 1.
					%label.Long.Wrap.PositionerLeft{ :for => "DatePolicyHolderHypertensionFirstTime" } a. Kapan pertama kali Anda mengetahui menderita tekanan darah tinggi?
					%table#DatePolicyHolderHypertensionFirstTimeDay.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderHypertensionFirstTimeMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderHypertensionFirstTimeYear.BoxSquare.PositionerRight
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "NumberPolicyHolderHypertensionSystolic" } b. Berapa tekanan darah Anda saat itu
					%label.Single.PositionerRight mmHg
					%input#NumberPolicyHolderHypertensionDiastolic.Short.Single.PositionerRight{ :type => "number" }
					%span.Separator.PositionerRight /
					%input#NumberPolicyHolderHypertensionSystolic.Short.Single.PositionerRight{ :type => "number" }
					%br

					%label.Wrap.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderHypertensionCheckReason" } c. Mengapa Anda saat itu melakukan pemeriksaan tekanan darah?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft					
						%input#RadioButtonPolicyHolderHypertensionCheckReasonRoutine.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckReason", :value => "routine" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckReasonRoutine" } Pemeriksaan Rutin
						%input#RadioButtonPolicyHolderHypertensionCheckReasonOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckReason", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckReasonOthers" } Keluhan Lainnya (mohon jelaskan secara rinci pada kolom di bawah ini).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionCheckReasonOtherDesc.Full.Single.Item{ :type => "text" }
					%br										

					%label.Wrap.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionDoctorConsult" } d. Apakah dikonsultasikan ke Dokter?
					%div.RadioButton.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionDoctorConsultNo" } Tidak 
						%input#RadioButtonPolicyHolderHypertensionDoctorConsultNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionDoctorConsult", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionDoctorConsultYes" } Ya
						%input#RadioButtonPolicyHolderHypertensionDoctorConsultYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionDoctorConsult", :value => "true" }
						%div.BoxRound.PositionerRight
					%br

					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon mengisi kolom di bawah ini.
					%br	
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderHypertensionDoctorName"}  Nama Lengkap Dokter: 
						%input#TextPolicyHolderHypertensionDoctorName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderHypertensionDoctorAddress"}  Alamat Lengkap Dokter: 
						%input#TextPolicyHolderHypertensionDoctorAddress.Full.Single.Item{ :type => "text" }
					%br	

					%label.Single.NumberIndent.PositionerLeft{ :for => "NumberPolicyHolderHypertensionHowOftenCheckupToDoctor" } e. Berapa sering Anda kontrol ke Dokter					
					%input#NumberPolicyHolderHypertensionHowOftenCheckupToDoctor.Short.Single.PositionerLeft{ :type => "number" }
					%label.Single.Margin.PositionerLeft kali per (hari/minggu/bulan/tahun*) *coret yang tidak perlu
					%br							

					%span.Number.Single.PositionerLeft 2.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionWhen" } Apakah kenaikan tekanan darah Anda tersebut berhubungan dengan penyakit sebagai berikut:
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHypertensionRelatedToHeart.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionRelatedTo", :value => "heart" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionRelatedToHeart" } Jantung
						%input#RadioButtonPolicyHolderHypertensionRelatedToBrain.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionRelatedTo", :value => "brain" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionRelatedToBrain" } Otak

						%input#RadioButtonPolicyHolderHypertensionRelatedToKidney.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionRelatedTo", :value => "kidney" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionRelatedToKidney" } Ginjal
						%br
						%input#RadioButtonPolicyHolderHypertensionRelatedToOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionRelatedTo", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionRelatedToOthers" } Lainnya, sebutkan
						%input#TextPolicyHolderHypertensionRelatedToOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }											
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Single.PositionerLeft{ :for => "DatePolicyHolderHypertensionWhenStartDay" } a. Kapan Anda memulai pengobatan kenaikan tekanan darah tersebut
					%table#DatePolicyHolderHypertensionWhenStartYear.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderHypertensionWhenStartMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderHypertensionWhenStartDay.BoxSquare.PositionerRight
					%br

					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderHypertensionWhenLast" } b.	Apakah Anda pernah berhenti minum obat?
					%div.RadioButton.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionStopDrugNo" } Tidak
						%input#RadioButtonPolicyHolderHypertensionStopDrugNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionStopDrug", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionStopDrugYes" } Ya
						%input#RadioButtonPolicyHolderHypertensionStopDrugYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionStopDrug", :value => "true" }
						%div.BoxRound.PositionerRight
					%br		

					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon mengisi kolom di bawah ini. rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionStopDrugIfYesDesc.Full.Single.Item{ :type => "text" }
					%br				
					
					%section#SectionFooter=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					
					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionInTherapy" ,:style => "margin-top: 30px" } c.	Apakah Anda saat ini masih dalam pengobatan?
					%div.RadioButton.PositionerRight{ :style => "margin-top: 30px;"}
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionInTherapyNo" } Tidak
						%input#RadioButtonPolicyHolderHypertensionInTherapyNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionInTherapy", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionInTherapyYes" } Ya
						%input#RadioButtonPolicyHolderHypertensionInTherapyYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionInTherapy", :value => "true" }
						%div.BoxRound.PositionerRight
					%br		

					%label.NumberIndent.Single.PositionerLeft Jika "Ya", mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					-#
						%table#TablePolicyHolderHypertensionMedication.Square.NumberIndent.PositionerLeft
							%thead
								%tr
									%th Nama Obat
									%th Dosis
									%th Frekuensi
						%br
						
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Nama Obat  
						%label.Short.Single.Item1.Center Dosis
						%label.Short.Single.Item1.Center Frekuensi 
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderHypertensionMedicationName1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationDose1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationFrequency1.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionMedicationName2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationDose2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationFrequency2.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionMedicationName3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationDose3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationFrequency3.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionMedicationName4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationDose4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationFrequency4.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionMedicationName5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationDose5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionMedicationFrequency5.Short.Single.Item1.Margin{ :type => "text" }
					%br
						
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderHypertensionInTherapyDoctorName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderHypertensionInTherapyDoctorName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderHypertensionInTherapyDoctorPhone"} No. Telepon/Handphone:
						%input#TextPolicyHolderHypertensionInTherapyDoctorPhone.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderHypertensionInTherapyHospitalName"} Nama Klinik/Rumah Sakit:
						%input#TextPolicyHolderHypertensionInTherapyHospitalName.Full.Single.PositionerLeft{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderHypertensionInTherapyHospitalAddress"} Alamat Klinik/Rumah Sakit:
						%input#TextPolicyHolderHypertensionInTherapyHospitalAddress.Full.Single.Item{ :type => "text" }					
					%br							

					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckUp" } Apakah Anda pernah melakukan pemeriksaan sebagai berikut?
					%div.RadioButton.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionCheckUpNo" } Tidak
						%input#RadioButtonPolicyHolderHypertensionCheckUpNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckUp", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionCheckUpYes" } Ya
						%input#RadioButtonPolicyHolderHypertensionCheckUpYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckUp", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHypertensionCheckUpTypeEKGECG.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckUpType", :value => "ekgecg" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckupTipeEKGECG" } EKG/ ECG
						%input#RadioButtonPolicyHolderHypertensionCheckUpTypeChestRontgen.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckUpType", :value => "chestrontgen" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckUpTypeChestRontgen" } Rontgen dada
						%input#RadioButtonPolicyHolderHypertensionCheckUpTypeEchocardiogram.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckUpType", :value => "echocardiogram" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckUpTypeEchocardiogram" } Echocardiogram
						%input#RadioButtonPolicyHolderHypertensionCheckUpTypeTreadmill.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckUpType", :value => "treadmill" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckUpTypeTreadmill" } Treadmill
						%input#RadioButtonPolicyHolderHypertensionCheckUpTypeLaboratorium.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckUpType", :value => "laboratory" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionCheckUpTypeLaboratorium" } Laboratorium
						%br
						%input#RadioButtonPolicyHolderHypertensionCheckUpTypeOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionCheckUpType", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionCheckUpTypeOtherDesc" } Lainnya, sebutkan
						%input#TextPolicyHolderHypertensionCheckUpOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br																			
					%label.NumberIndent.Single.PositionerLeft Mohon menjelaskan secara rinci pada kolom di bawah ini. (Kapan dan bagaimana hasilnya serta melampirkan fotokopi hasil pemeriksaan).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionCheckUpTypeOtherDescAdd.Full.Single.Item{ :type => "text" }
					
					%br					
					%span.Number.Single.PositionerLeft 5.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderHypertensionTreatment" }Apakah Anda pernah mendapat perawatan rumah sakit sehubungan dengan tekanan darah tinggi?
					%div.RadioButton.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionTreatmentNo" } Tidak
						%input#RadioButtonPolicyHolderHypertensionTreatmentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionTreatment", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHypertensionTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderHypertensionTreatmentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionTreatment", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TablePolicyHolderHypertensionTreatment" } Jika “Ya”, mohon melengkapi kolom di bawah ini.
					-#
						%table#TablePolicyHolderHypertensionTreatment.Square.NumberIndent.PositionerLeft
							%thead
								%tr
									%th Alasan Perawatan
									%th Nama Dokter
									%th Alamat Dokter
									%th Tanggal Perawatan
									%th Jangka Waktu Perawatan
							%br
							
					%br
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Alasan Perawatan  
						%label.Short.Single.Item1.Center Nama Dokter
						%label.Short.Single.Item1.Center Alamat Dokter
						%label.Short.Single.Item1.Center Tanggal Perawatan
						%label.Short.Single.Item1.Center Jangka Waktu Perawatan
												
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderHypertensionTreatmentReason1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDoctor1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentAddress1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDuration1.Short.Single.Item1.Margin{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderHypertensionTreatmentReason2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDoctor2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentAddress2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDuration2.Short.Single.Item1.Margin{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderHypertensionTreatmentReason3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDoctor3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentAddress3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDuration3.Short.Single.Item1.Margin{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderHypertensionTreatmentReason4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDoctor4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentAddress4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDuration4.Short.Single.Item1.Margin{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderHypertensionTreatmentReason5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDoctor5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentAddress5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHypertensionTreatmentDuration5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 6
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplication" } Apakah tekanan darah tinggi yang Anda derita disertai komplikasi organ lain sebagai berikut?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHypertensionComplicationNothing.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "nothing" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationNothing" } Tidak ada				
						%input#RadioButtonPolicyHolderHypertensionComplicationKidney.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "kidney" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationKidney" } Ginjal
						%br
						%input#RadioButtonPolicyHolderHypertensionComplicationBrain.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "brain" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationBrain" } Otak
						%input#RadioButtonPolicyHolderHypertensionComplicationVision.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "impairedvision" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationVision" } Gangguan Penglihatan
						%br
						%input#RadioButtonPolicyHolderHypertensionComplicationLiver.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "liver" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationLiver" } Hati
						%input#RadioButtonPolicyHolderHypertensionComplicationOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHypertensionComplication", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHypertensionComplicationOthers" } Lainnya, sebutkan
						%input#TextPolicyHolderHypertensionComplicationOtherDesc.Line.Long.Single.PositionerLeft{ :type => "text" }
						%br
					%br
					
					%div.ContainerFit
						%span.NumberFix.Single.Item 7.
						%label.Wrap.Full.Item{ :for => "TextPolicyHolderHypertensionAverageBloodPressure" } Jelaskan rata-rata tekanan darah dalam 12 (dua belas) bulan terakhir (termasuk tanggal pemeriksaannya) pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionAverageBloodPressure.Line.Full.Single.PositionerLeft{ :type => "text"}
					%br
					
					%div.ContainerFit
						%span.NumberFix.Single.Item 8.
						%label.Wrap.Full.Item{ :for => "TextPolicyHolderHypertensionAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHypertensionAdditionalInfo.Line.Full.Single.PositionerLeft{ :type => "text"}
					%br
					
					%section#SectionFooter=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					
					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

				%section#SectionDeclaration{ :style => "margin-top: 30px;"}
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render