!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				var jsonDummy = '{"result":{"readFromDB":[{"elementID":"DatePolicyHolderChestPainFirstAttack","Value":"01/02/1990"},{"elementID":"DatePolicyHolderChestPainAttackDuration","Value":"01:02:03"},{"elementID":"TextPolicyHolderChestPainCharacterOtherDesc","Value":"nyeri"},{"elementID":"RadioButtonPolicyHolderChestPainNextAttack","Value":"true"},{"elementID":"NumberPolicyHolderChestPainCurrentAttackTimes","Value":"2"},{"elementID":"TextPolicyHolderFullName","Value":"Ariani Jollanda Pondaag"},{"elementID":"TextSPAJNumber","Value":"123456789012"}]}}'

				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 11, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY								

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// SETUP

				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Mendaki");

				// var objectContent = JSON.parse(jsonDummy);
				// getFromDatabaseForHealthQuestionnaire(objectContent.result.readFromDB, stringPageTypePDF);
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. Wajib Dilengkapi (Calon) Tertanggung
				%fieldset
					%div.ContainerFit
						%span.NumberFix.Single.Item 1.
						%label.Wrap.Item{ :for => "TextPolicyHolderHikingHKType" } Mohon sebutkan jenis kegiatan pendakian gunung/panjat tebing yang Anda lakukan misalnya bouldering, hiking, pendakian es, pendakian dalam ruangan, mountainnering, tracking, dan lain-lain?
					%br
					%label.Single.NumberIndent{ :for => "TextPolicyHolderHikingHKType" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKType.Full.Single{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 2.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderHikingHKHowLong" } Sudah berapa bulan/tahun Anda melakukan olah raga ini?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderHikingHKHowLong" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKHowLong.Full.Single{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 3.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderHikingHKFrequency" } Berapa kali dalam 1 (satu) bulan Anda melakukan olah raga ini?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderHikingHKFrequency" } Mohon jelaskan secara rinci pada kolom di bawah ini, termasuk jika olah raga ini Anda lakukan tidak rutin dalam 1 (satu) bulan.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKFrequency.Full.Single{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderHikingHKLocation" } Dimana/lokasi yang paling sering Anda datangi untuk melakukan olah raga ini?
					%br
					%label.Single.NumberIndent{ :for => "TextPolicyHolderHikingHKLocation" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKLocation.Full.Single{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 5.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderHikingHKUPLocation1" } Dimana/lokasi yang paling sering Anda datangi untuk melakukan olah raga ini?
					%br
					%label.Single.NumberIndent{ :for => "TextPolicyHolderHikingHKUPLocation1" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						/ %label.Short.Single.Item1.Center No.
						%label.Short.Single.Item1.Center Negara dan Lokasi
						%label.Short.Single.Item1.Center Waktu Pendakian
					%div.ContainerFit.NumberIndent
						/ %input#DatePolicyHolderHikingHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderHikingHKUPLocation1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKUPWhen1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						/ %input#DatePolicyHolderHikingHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderHikingHKUPLocation2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKUPWhen2.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						/ %input#DatePolicyHolderHikingHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderHikingHKUPLocation3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKUPWhen3.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						/ %input#DatePolicyHolderHikingHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderHikingHKUPLocation4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKUPWhen4.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						/ %input#DatePolicyHolderHikingHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderHikingHKUPLocation5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKUPWhen5.Short.Single.Item1.Margin{ :type => "text" }

					%span.Number.Single.PositionerLeft 6.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHaveOperation" } Mohon sebutkan peralatan apa saja yang digunakan sewaktu melakukan olah raga ini.
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHaveOperation" } Apakah diberi suntikan?
					%br
					%div.Checkbox.NumberIndent.PositionerLeft
						%input#CheckboxPolicyHolderHikingToolsAltimeter.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "altimeter" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsAltimeter" } Altimeter
						%input#CheckboxPolicyHolderHikingToolsGPS.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "GPS" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsGPS" } Global Positioning System (GPS)
						%input#CheckboxPolicyHolderHikingToolsHikingBoots.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "hikingboots" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsHikingBoots" } Sepatu Daki
					%br
					%div.Checkbox.NumberIndent.PositionerLeft
						%input#CheckboxPolicyHolderHikingToolsAnchor.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "anchor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsAnchor" } Jangkar
						%input#CheckboxPolicyHolderHikingToolsFlashlight.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "flashlight" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsOxygenThank" } Senter
						%input#CheckboxPolicyHolderHikingToolsOxygenTank.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "oxygentank" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsOxygenTank" } Oxygen Tank
					%br
					%div.Checkbox.NumberIndent.PositionerLeft
						%input#CheckboxPolicyHolderHikingToolsCam.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "cam" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsCam" } Cams, Camatots, Spring Loaded Cam Devices
						%input#CheckboxPolicyHolderHikingToolsHeavyWinterClothing.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "heavywinterclothing" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsHeavyWinterClothing" } Heavy Winter Clothing
						%input#CheckboxPolicyHolderHikingToolsPerlonRopesAndCarabiners.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "perlonropesandcarabiners" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsPerlonRopesAndCarabiners" } Perlon Ropes & Carabiners
					%br
					%div.Checkbox.NumberIndent.PositionerLeft
						%input#CheckboxPolicyHolderHikingToolsHandphone.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "handphone" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsHandphone" } Cellular / Mobile Telephone
						%input#CheckboxPolicyHolderHikingToolsHelmet.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "helmet" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsHelmet" } Helm
						%input#CheckboxPolicyHolderHikingToolsBeaks.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "beaks" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsBeaks" } Pitons or Toucans (beaks)
					%br
					%div.Checkbox.NumberIndent.PositionerLeft
						%input#CheckboxPolicyHolderHikingToolsChocksAndNutsHexes.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "chockandnutshexes" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsChocksAndNutsHexes" } Chocks and Nuts, Hexes
						%input#CheckboxPolicyHolderHikingToolsAxe.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "axe" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsAxe" } Kapak
						%input#CheckboxPolicyHolderHikingToolsPortaledge.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "portaledge" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsPortaledge" } Portaledge
					%br
					%div.Checkbox.NumberIndent.PositionerLeft
						%input#CheckboxPolicyHolderHikingToolsClimbingHarness.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "climbingharness" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsClimbingHarness" } Climbing Harness
						%input#CheckboxPolicyHolderHikingToolsIceScrews.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "icescrews" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsIceScrews" } Ice Screws
						%input#CheckboxPolicyHolderHikingToolsTwoWayRadio.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "twowayradio" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsTwoWayRadio" } Two Way Radio
					%br
					%div.Checkbox.NumberIndent.PositionerLeft
						%input#CheckboxPolicyHolderHikingToolsIceBoots.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "iceboots" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsIceBoots" } Sepatu Es
						%input#CheckboxPolicyHolderHikingToolsNavigation.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "navigation" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsNavigation" } Peta & Kompas
						%input#CheckboxPolicyHolderHikingToolsSnowPicket.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "snowpicket" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsSnowPicket" } Snow Picket
					%br
					%div.Checkbox.NumberIndent.PositionerLeft
						%input#CheckboxPolicyHolderHikingToolsLadders.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "etriersorwebladders" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsLadders" } Etriers or Web ladders
						%input#CheckboxPolicyHolderHikingToolsJumars.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "jumars" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsJumars" } Mechanical Ascenders (jumars)
						%input#CheckboxPolicyHolderHikingToolsStoppers.PositionerLeft{ :type => "checkbox", :name => "CheckboxPolicyHolderHikingTools", :value => "stoppers" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "CheckboxPolicyHolderHikingToolsStoppers" } Stoppers
					%br

					%span.Number.Single.PositionerLeft 7.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderHikingComplainDetail" } Dimana/lokasi yang paling sering Anda datangi untuk melakukan olah raga ini?
					%br
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Rata-rata tinggi dan derajat
						%label.Short.Single.Item1.Center Tinggi
						%label.Short.Single.Item1.Center Derajat
						%label.Short.Single.Item1.Center Tanggal
						%label.Short.Single.Item1.Center Rencana tinggi dan derajat pendakian
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKBOTTOMAverageHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMHeight1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#DatePolicyHolderHikingHKBOTTOMWhen1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMPlanHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKBOTTOMAverageHeightAndAngle2.Short.Single.Item1.Margin{ :type => "text" }						
						%input#TextPolicyHolderHikingHKBOTTOMHeight2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMAngle2.Short.Single.Item1.Margin{ :type => "text" }
						%input#DatePolicyHolderHikingHKBOTTOMWhen2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMPlanHeightAndAngle2.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKBOTTOMAverageHeightAndAngle3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMHeight3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMAngle3.Short.Single.Item1.Margin{ :type => "text" }
						%input#DatePolicyHolderHikingHKBOTTOMWhen3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMPlanHeightAndAngle3.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKBOTTOMAverageHeightAndAngle4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMHeight4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMAngle4.Short.Single.Item1.Margin{ :type => "text" }
						%input#DatePolicyHolderHikingHKBOTTOMWhen4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMPlanHeightAndAngle4.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKBOTTOMAverageHeightAndAngle5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMHeight5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMAngle5.Short.Single.Item1.Margin{ :type => "text" }
						%input#DatePolicyHolderHikingHKBOTTOMWhen5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderHikingHKBOTTOMPlanHeightAndAngle5.Short.Single.Item1.Margin{ :type => "text" }

					%div.ContainerFit
						%span.NumberFix.Single.Item 8.
						%label.Wrap.Item{ :for => "RadioButtonPolicyHolderHikingHKAssociationYes" } Apakah Anda seorang anggota suatu Perkumpulan Pendaki  Gunung/Panjat Tebing  atau Asosiasi Pendaki Gunung/Panjat Tebing?
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingHKAssociationNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKAssociation", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKAssociationNo" } Tidak
						%input#RadioButtonPolicyHolderHikingHKAssociationYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKAssociation", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHikingHKAssociationYes" } Ya
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKAssociationDesc" } Jika “Ya”, mohon menjelaskan secara rinci dengan melengkapi kolom di bawah ini (Nama asosiasi/perkumpulan, tanggal bergabung, lokasi perkumpulan dan aktivitas rutin).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKAssociationDesc.Full.Single{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 9.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKSelfOrNight" } Apakah Anda pernah mendaki seorang diri atau di malam hari?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKSelfOrNight" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.RadioButton.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHikingHKSelfOrNightNo" } Tidak
						%input#RadioButtonPolicyHolderHikingHKSelfOrNightNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKSelfOrNight", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHikingHKSelfOrNightYes" } Ya
						%input#RadioButtonPolicyHolderHikingHKSelfOrNightYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKSelfOrNight", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKSelfOrNightDesc.Full.Single{ :type => "text" }
					%br

					%div.ContainerFit
						%span.NumberFix.Single.Item 10.
						%label.Wrap.Item{ :for => "TextPolicyHolderHikingOtherInformation" } Apakah Anda mendaki hanya untuk sekedar?
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKSport" } Olah raga
					%div.RadioButton.PositionerLeft
						%input#RadioButtonPolicyHolderHikingHKSportNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKSport", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKSportNo" } Tidak
						%input#RadioButtonPolicyHolderHikingHKSportYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKSport", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHikingHKSportYes" } Ya
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKJob" } Pekerjaan
					%div.RadioButton.PositionerLeft
						%input#RadioButtonPolicyHolderHikingHKJobNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKJob", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKJobNo" } Tidak
						%input#RadioButtonPolicyHolderHikingHKJobYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKJob", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHikingHKJobYes" } Ya
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKJob" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKJob.Full.Single{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 11.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKAccident" } Pernahkah Anda mengalami kecelakaan sewaktu mendaki gunung/panjat tebing?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingHKAccident" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.RadioButton.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHikingHKAccidentNo" } Tidak
						%input#RadioButtonPolicyHolderHikingHKAccidentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKAccident", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderHikingHKAccidentYes" } Ya
						%input#RadioButtonPolicyHolderHikingHKAccidentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderHikingHKAccident", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKAccident.Full.Single{ :type => "text" }
					%br

					%div.ContainerFit
						%span.NumberFix.Single.Item 12.
						%label.Wrap.Item{ :for => "TextPolicyHolderHikingHKAdditionalInformation" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderHikingHKAdditionalInformation.Full.Single{ :type => "text" }
					%br

				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
