!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);


				boxGenerator("#DatePolicyHolderBackboneFirstGotDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneFirstGotMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneFirstGotYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderBackboneLastConsultDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastConsultMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastConsultYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateBackboneDateCheckupDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateBackboneDateCheckupMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateBackboneDateCheckupYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderBackboneLastCheckupDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupYear", 4, boxTypeWithoutLabel, null);


				boxGenerator("#DatePolicyHolderBackboneLastCheckupDay1", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupMonth1", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupYear1", 4, boxTypeWithoutLabel, null);


				boxGenerator("#DatePolicyHolderBackboneLastCheckupDay2", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupMonth2", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupYear2", 4, boxTypeWithoutLabel, null);


				boxGenerator("#DatePolicyHolderBackboneLastCheckupDay3", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupMonth3", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBackboneLastCheckupYear3", 4, boxTypeWithoutLabel, null);



				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);




				// SECTION MANDATORY
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// FOOTER				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("KUESIONER GANGGUAN TULANG BELAKANG");
			});


	/ BODY

	%body

		/ HEADER		

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset
					%span.Number.Single.PositionerLeft 1.
					%label.Full.Single.PositionerLeft{ :for => "DatePolicyHolderBackboneFirstGotDay" } Apakah Anda pernah menderita hernia/spondylosis/kelainan tulang belakang lainnya?
					%div.RadioButton	
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneLeaveNo" } Tidak					
						%input#RadioButtonPolicyHolderBackboneLeaveNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneLeave", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneLeaveYes" } Ya
						%input#RadioButtonPolicyHolderBackboneLeaveYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneLeave", :value => "true" }
						%div.BoxRound.PositionerRight


						%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderBackboneOperationMethod.Full.Single.Item{ :type => "text" }					
					%br					
					
					%span.Number.Single.PositionerLeft 2.
					%label.Full.Single.PositionerLeft{ :for => "DatePolicyHolderBackboneLastConsultDay" } Kapan pertama kali keluhan tersebut dirasakan?
					%table#DatePolicyHolderBackboneLastConsultDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneLastConsultMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneLastConsultYear.BoxSquare.PositionerLeft
				
		
		
					%br					
					%span.Number.Single.PositionerLeft 3
					%label.Full.Single.PositionerLeft{ :for => "DatePolicyHolderBackboneLastConsultDay" } Seberapa seringkah keluhan tersebut timbul dalam 12 bulan terakhir?
					%input#TextPolicyHolderBackboneConsultPhone.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 4
					%label.Full.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneTaken" } Mohon menjelaskan secara rinci pada kolom di bawah ini dan pada bagian tubuh mana?
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderBackboneOperationMethod.Full.Single.Item{ :type => "text" }							
					%br					
					%span.Number.Single.PositionerLeft 5
					%label.Full.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneTaken" } Apakah aktivitas Anda mengalami hambatan?
					%div.RadioButton					
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneLeave1No" } Tidak					
						%input#RadioButtonPolicyHolderBackboneLeave1No.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneLeave1", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneLeave1Yes" } Ya
						%input#RadioButtonPolicyHolderBackboneLeave1Yes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneLeave1", :value => "true" }
						%div.BoxRound.PositionerRight				
					%br					
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderBackboneOperationobstacleMethod.Full.Single.Item{ :type => "text" }					
					%br					
					
					%span.Number.Single.PositionerLeft 6.
					%label.Full.Single.PositionerLeft{ :for => "DatePolicyHolderBackboneLastConsultDay" } Kapan pertama kali keluhan tersebut dirasakan?
					%table#DatePolicyHolderBackboneLastCheckupDay1.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneLastCheckupMonth1.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneLastCheckupYear1.BoxSquare.PositionerLeft
					%br
					
					%span.Number.Single.PositionerLeft 7
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneTaken" } Mohon menjelaskan secara rinci pada kolom di bawah ini menurut Dokter apa penyebab diagnosis  gangguan tulang belakang tersebut? 
					%br
					%label.NumberIndent.Single.PositionerLeft (Kecelakaan, Proses penuaan, kecelakaan sewaktu berolahraga, dan sebagainya).
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderBackboneOperationCauseDiagnosisOfSpinalDisordersMethod.Full.Single.Item{ :type => "text" }							
					%br
					%span.Number.Single.PositionerLeft 8.
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneWhenLast" } Apakah Anda pernah menjalani X-ray, MRI, atau pemeriksaan lainnya?
					%div.RadioButton					
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneLeaveNo" } Tidak					
						%input#RadioButtonPolicyHolderBackboneUndergoCheckupNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneUndergoCheckup", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneUndergoCheckupYes" } Ya
						%input#RadioButtonPolicyHolderBackboneUndergoCheckupYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneUndergoCheckup", :value => "true" }
						%div.BoxRound.PositionerRight				
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon berikan tanggal pemeriksaan
					%table#DatePolicyHolderBackboneUndergoCheckupDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneUndergoCheckupMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneUndergoCheckupYear.BoxSquare.PositionerLeft
					%br
					%label.NumberIndent.Single.PositionerLeft Mohon jelaskan secara rinci pada kolom di bawah ini hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan tulang belakang ini. (Lampirkan fotokopi hasil pemeriksaan)
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderBackboneOperationCheckupResultMethod.Full.Single.Item{ :type => "text" }					
					%br						
					
					%span.Number.Single.PositionerLeft 9
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneTaken" } Apakah Anda menggunakan tongkat untuk berjalan atau alat bantu lainnya?
					%div.RadioButton					
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneUsingStickNo" } Tidak					
						%input#RadioButtonPolicyHolderBackboneUsingStickNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneUsingStick", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneUsingStickYes" } Ya
						%input#RadioButtonPolicyHolderBackboneLeaveYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneUsingStick", :value => "true" }
						%div.BoxRound.PositionerRight				
					%br		
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderBackboneOperationUsingStickMethod.Full.Single.Item{ :type => "text" }					
					%br
					
					%span.Number.Single.PositionerLeft 10
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneWhenLast" } Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
					%div.RadioButton					
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneSurgeryForAbnormalitiesNo" } Tidak					
						%input#RadioButtonPolicyHolderBackboneSurgeryForAbnormalitiesNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneSurgeryForAbnormalities", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackboneSurgeryForAbnormalitiesYes" } Ya
						%input#RadioButtonPolicyHolderBackboneSurgeryForAbnormalitiesYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackboneSurgeryForAbnormalities", :value => "true" }
						%div.BoxRound.PositionerRight				
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon berikan tanggal operasi:
					%table#DatePolicyHolderBackboneSurgeryForAbnormalitiesDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneSurgeryForAbnormalitiesMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneSurgeryForAbnormalitiesYear.BoxSquare.PositionerLeft
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} Nama Lengkap Dokter:
						%input#TextPolicyHolderBackboneConsultDoktorName.Full.Single.Item{ :type => "text" }
					%br		
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} No. Telepon/Handphone:
						%input#TextPolicyHolderBackboneConsultTelephone.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} Nama Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneConsultClinicName.Full.Single.Item{ :type => "text" }					
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultAddress"} Alamat Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneConsultClinicAddress.Full.Single.Item{ :type => "text" }
					%br					
					
					%span.Number.Single.PositionerLeft 11
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneWhenLast" } Mohon jelaskan dengan rinci jenis pengobatan Anda saat ini dan dahulu pada kolom di bawah ini.
					%label.NumberIndent.Single.PositionerLeft Apakah diberi suntikan?
					%div.RadioButton					
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackbonetypeOfTreatmentNo" } Tidak					
						%input#RadioButtonPolicyHolderBackbonetypeOfTreatmentNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackbonetypeOfTreatment", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderBackbonetypeOfTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderBackbonetypeOfTreatmentYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderBackbonetypeOfTreatment", :value => "true" }
						%div.BoxRound.PositionerRight				
					%br
					

						
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Tanggal Berobat
						%label.Short.Single.Item1.Center Nama Obat
						%label.Short.Single.Item1.Center Dosis		
						%label.Short.Single.Item1.Center Frekuensi	
												
					%div.ContainerFit.NumberIndent						
						%input#TextPolicyHolderBackBoneDateTreatment.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDrugName.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDose.Short.Single.Item1.Margin{ :type => "text" }	
						%input#TextPolicyHolderBackBoneFrequency.Short.Single.Item1.Margin{ :type => "text" }							
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderBackBoneDateTreatment2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDrugName2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDose2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneFrequency2.Short.Single.Item1.Margin{ :type => "text" }						
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderBackBoneDateTreatment3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDrugName3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDose3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneFrequency3.Short.Single.Item1.Margin{ :type => "text" }							
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderBackBoneDateTreatment4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDrugName4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDose4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneFrequency4.Short.Single.Item1.Margin{ :type => "text" }							
					%br
					%div.ContainerFit.NumberIndent					
						%input#TextPolicyHolderBackBoneDateTreatment5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDrugName5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneDose5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderBackBoneFrequency5.Short.Single.Item1.Margin{ :type => "text" }							
					%br					
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} Nama Lengkap Dokter:
						%input#TextPolicyHolderBackboneDokterNameTreatment.Full.Single.Item{ :type => "text" }
					%br		
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} No. Telepon/Handphone:
						%input#TextPolicyHolderBackbonePhoneNumberTreatment.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} Nama Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneClinicNameTreatment.Full.Single.Item{ :type => "text" }					
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultAddress"} Alamat Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneClinicAddressTreatment.Full.Single.Item{ :type => "text" }
					%br					
					
					%span.Number.Single.PositionerLeft 12
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneWhenLast" } Saat ini dengan Dokter siapa Anda melakukan kontrol?
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} Nama Lengkap Dokter:
						%input#TextPolicyHolderBackboneDokterNameCurrent.Full.Single.Item{ :type => "text" }
					%br		
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} No. Telepon/Handphone:
						%input#TextPolicyHolderBackbonePhoneNumberCurrent.Full.Single.Item{ :type => "text" }
					%br
					
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultClinic"} Nama Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneClinicNameCurrent.Full.Single.Item{ :type => "text" }					
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft{ :for => "TextPolicyHolderBackboneConsultAddress"} Alamat Klinik/Rumah Sakit
						%input#TextPolicyHolderBackboneClinicAddressCurrent.Full.Single.Item{ :type => "text" }
					%br				
			
					%span.Number.Single.PositionerLeft 13
					%label.Full.Single.PositionerLeft{ :for => "DatePolicyHolderBackboneLastConsultDay" } Seberapa sering Anda kontrol?
					%input#TextPolicyHolderBackboneControlTimes.Short.Single.PositionerLeft{ :type => "text" } 
					%label.Long.Separator.Single.PositionerLeft kali per (hari/minggu/bulan/tahun*) *coret yang tidak perlu
					%br
					
					%span.Number.Single.PositionerLeft 14.
					%label.Full.Single.PositionerLeft{ :for => "DatePolicyHolderBackboneLastConsultDay" } Kapan terakhir kali Anda kontrol?
					%table#DatePolicyHolderBackboneLastControlDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneLastControlMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderBackboneLastControlYear.BoxSquare.PositionerLeft
					%br
					
					%br
					%span.Number.Single.PositionerLeft 15
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderBackboneWhenLast" } Apakah Anda pernah tidak masuk kerja dalam jangka waktu lama karena kondisi ini ?
					%div.RadioButton					
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonBackboneAbsentfromWorkNo" } Tidak					
						%input#RadioButtonBackboneAbsentfromWorkNo.PositionerRight{ :type => "radio", :name => "RadioButtonBackboneAbsentfromWork", :value => "false" }
						%div.BoxRound.PositionerRight

						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonBackboneAbsentfromWorkYes" } Ya
						%input#RadioButtonBackboneAbsentfromWorkYes.PositionerRight{ :type => "radio", :name => "RadioButtonBackboneAbsentfromWork", :value => "true" }
						%div.BoxRound.PositionerRight				
					%br
					%label.NumberIndent.Single.PositionerLeft Jika “Ya”, mohon berikan tanggal pemeriksaan
					%table#DateBackboneDateMomentCheckupDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateBackboneDateMomentCheckupMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DateBackboneDateMomentCheckupYear.BoxSquare.PositionerLeft
					%br
					%label.NumberIndent.Single.PositionerLeft Mohon jelaskan secara rinci pada kolom di bawah ini hasil pemeriksaan kesehatan yang dilakukan sehubungan dengan gangguan tulang belakang ini. (Lampirkan fotokopi hasil pemeriksaan)
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderBackboneOperationMethod.Full.Single.Item{ :type => "text" }					
					%br							
					%span.Number.Single.PositionerLeft 16
					%label.Full.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderBackboneTaken" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.                                                                                                                                                                                             
					%br
					%div.ContainerFit.NumberIndent	
						%input#TextPolicyHolderBackboneImportantOperationMethod.Full.Single.Item{ :type => "text" }							
					%br								
				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render