!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// DOCUMENT READY

			$(document).ready(function()
			{
				var jsonDummy = '{"result":{"readFromDB":[{"elementID":"DatePolicyHolderChestPainFirstAttack","Value":"01/02/1990"},{"elementID":"DatePolicyHolderChestPainAttackDuration","Value":"01:02:03"},{"elementID":"TextPolicyHolderChestPainCharacterOtherDesc","Value":"nyeri"},{"elementID":"RadioButtonPolicyHolderChestPainNextAttack","Value":"true"},{"elementID":"NumberPolicyHolderChestPainCurrentAttackTimes","Value":"2"},{"elementID":"TextPolicyHolderFullName","Value":"Ariani Jollanda Pondaag"},{"elementID":"TextSPAJNumber","Value":"123456789012"}]}}'
			
				// SECTION GENERAL

				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 11, boxTypeWithoutLabel, null);				
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				
				boxGenerator("#DatePolicyHolderJointAtritisComplainDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderJointAtritisComplainMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderJointAtritisComplainYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainFirstAttackDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainFirstAttackMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainFirstAttackYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainLastAriseDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainLastAriseMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainLastAriseYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainConsulToDoctorLastDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainConsulToDoctorLastMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainConsulToDoctorLastYear", 4, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainTakeLeaveIfYesDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainTakeLeaveIfYesMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderChestPainTakeLeaveIfYesYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);
				
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);
				
				// SETUP
				
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("Kuesioner Mendaki");
				
				// var objectContent = JSON.parse(jsonDummy);
				// getFromDatabaseForHealthQuestionnaire(objectContent.result.readFromDB, stringPageTypePDF);
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer					 				
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. Wajib Dilengkapi (Calon) Tertanggung
				%fieldset
					%div.ContainerFit
						%span.NumberFix.Single.Item 1.
						%label.Wrap.Item{ :for => "TextPolicyHolderJointComplainDetail" } Mohon sebutkan jenis kegiatan pendakian gunung/panjat tebing yang Anda lakukan misalnya bouldering, hiking, pendakian es, pendakian dalam ruangan, mountainnering, tracking, dan lain-lain?
					%br
					%label.Single.NumberIndent{ :for => "TextPolicyHolderJointComplainDetail" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointComplainDetail.Full.Single{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 2.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderJointComplainDetail" } Sudah berapa bulan/tahun Anda melakukan olah raga ini?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderJointComplainDetail" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointComplainDetail.Full.Single{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 3.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderJointComplainDetail" } Berapa kali dalam 1 (satu) bulan Anda melakukan olah raga ini?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderJointComplainDetail" } Mohon jelaskan secara rinci pada kolom di bawah ini, termasuk jika olah raga ini Anda lakukan tidak rutin dalam 1 (satu) bulan.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointComplainDetail.Full.Single{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 4.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderJointComplainDetail" } Dimana/lokasi yang paling sering Anda datangi untuk melakukan olah raga ini?
					%br
					%label.Single.NumberIndent{ :for => "TextPolicyHolderJointComplainDetail" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointComplainDetail.Full.Single{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 5.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderJointComplainDetail" } Dimana/lokasi yang paling sering Anda datangi untuk melakukan olah raga ini?
					%br
					%label.Single.NumberIndent{ :for => "TextPolicyHolderJointComplainDetail" } Mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						/ %label.Short.Single.Item1.Center No.
						%label.Short.Single.Item1.Center Negara dan Lokasi
						%label.Short.Single.Item1.Center Waktu Pendakian
					%div.ContainerFit.NumberIndent										
						/ %input#DatePolicyHolderJointHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderJointHKUPLocation1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKUPWhen1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent										
						/ %input#DatePolicyHolderJointHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderJointHKUPLocation1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKUPWhen1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent										
						/ %input#DatePolicyHolderJointHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderJointHKUPLocation1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKUPWhen1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent										
						/ %input#DatePolicyHolderJointHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderJointHKUPLocation1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKUPWhen1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent										
						/ %input#DatePolicyHolderJointHKUPNomor1.Short.Single.Item1.Margin{ :type => "text", :value => "1. " }
						%input#TextPolicyHolderJointHKUPLocation1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKUPWhen1.Short.Single.Item1.Margin{ :type => "text" }
					
					%span.Number.Single.PositionerLeft 6. 
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Mohon sebutkan peralatan apa saja yang digunakan sewaktu melakukan olah raga ini.
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Apakah diberi suntikan?
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingToolsAltimeter.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "altimeter" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsAltimeter" } Altimeter
						%input#RadioButtonPolicyHolderHikingToolsGPS.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "GPS" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsGPS" } Global Positioning System (GPS)
						%input#RadioButtonPolicyHolderHikingToolsHikingShoes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "hikingshoes" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsHikingShoes" } Sepatu Daki
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingToolsAnchor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "anchor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsAnchor" } Jangkar
						%input#RadioButtonPolicyHolderHikingToolsFlashlight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "flashlight" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenThank" } Senter
						%input#RadioButtonPolicyHolderHikingToolsOxygenTank.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingToolsOxygenTank", :value => "oxygentank" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenTank" } Oxygen Tank
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingToolsAnchor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "anchor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsAnchor" } Jangkar
						%input#RadioButtonPolicyHolderHikingToolsFlashlight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "flashlight" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenThank" } Senter
						%input#RadioButtonPolicyHolderHikingToolsOxygenTank.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingToolsOxygenTank", :value => "oxygentank" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenTank" } Oxygen Tank
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingToolsAnchor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "anchor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsAnchor" } Jangkar
						%input#RadioButtonPolicyHolderHikingToolsFlashlight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "flashlight" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenThank" } Senter
						%input#RadioButtonPolicyHolderHikingToolsOxygenTank.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingToolsOxygenTank", :value => "oxygentank" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenTank" } Oxygen Tank
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingToolsAnchor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "anchor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsAnchor" } Jangkar
						%input#RadioButtonPolicyHolderHikingToolsFlashlight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "flashlight" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenThank" } Senter
						%input#RadioButtonPolicyHolderHikingToolsOxygenTank.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingToolsOxygenTank", :value => "oxygentank" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenTank" } Oxygen Tank
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingToolsAnchor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "anchor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsAnchor" } Jangkar
						%input#RadioButtonPolicyHolderHikingToolsFlashlight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "flashlight" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenThank" } Senter
						%input#RadioButtonPolicyHolderHikingToolsOxygenTank.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingToolsOxygenTank", :value => "oxygentank" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenTank" } Oxygen Tank
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingToolsAnchor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "anchor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsAnchor" } Jangkar
						%input#RadioButtonPolicyHolderHikingToolsFlashlight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "flashlight" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenThank" } Senter
						%input#RadioButtonPolicyHolderHikingToolsOxygenTank.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingToolsOxygenTank", :value => "oxygentank" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenTank" } Oxygen Tank
					%br
					%div.RadioButton.NumberIndent.PositionerLeft
						%input#RadioButtonPolicyHolderHikingToolsAnchor.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "anchor" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsAnchor" } Jangkar
						%input#RadioButtonPolicyHolderHikingToolsFlashlight.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingTools", :value => "flashlight" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenThank" } Senter
						%input#RadioButtonPolicyHolderHikingToolsOxygenTank.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderHikingToolsOxygenTank", :value => "oxygentank" }
						%div.BoxRound.PositionerLeft
						%label.Medium.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderHikingToolsOxygenTank" } Oxygen Tank
					%br
					
					%span.Number.Single.PositionerLeft 7.
					%label.Single.PositionerLeft{ :for => "TextPolicyHolderJointComplainDetail" } Dimana/lokasi yang paling sering Anda datangi untuk melakukan olah raga ini?
					%br
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Rata-rata tinggi dan derajat
						%label.Short.Single.Item1.Center Tinggi
						%label.Short.Single.Item1.Center Derajat
						%label.Short.Single.Item1.Center Tanggal
						%label.Short.Single.Item1.Center Rencana tinggi dan derajat pendakian
					%div.ContainerFit.NumberIndent										
						%input#DatePolicyHolderJointHKBOTTOMAverageHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMHeight1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMWhen1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMPlanHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent										
						%input#DatePolicyHolderJointHKBOTTOMAverageHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMHeight1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMWhen1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMPlanHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent										
						%input#DatePolicyHolderJointHKBOTTOMAverageHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMHeight1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMWhen1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMPlanHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent										
						%input#DatePolicyHolderJointHKBOTTOMAverageHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMHeight1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMWhen1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMPlanHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
					%div.ContainerFit.NumberIndent										
						%input#DatePolicyHolderJointHKBOTTOMAverageHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMHeight1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMAngle1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMWhen1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderJointHKBOTTOMPlanHeightAndAngle1.Short.Single.Item1.Margin{ :type => "text" }
					
					%div.ContainerFit
						%span.NumberFix.Single.Item 8.
						%label.Wrap.Item{ :for => "TextPolicyHolderJointOtherInformation" } Apakah Anda seorang anggota suatu Perkumpulan Pendaki  Gunung/Panjat Tebing  atau Asosiasi Pendaki Gunung/Panjat
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Tebing?
					%div.RadioButton.PositionerLeft
						%input#RadioButtonPolicyHolderJointHaveOperationNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperationNo" } Tidak
						%input#RadioButtonPolicyHolderJointHaveOperationYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderJointHaveOperationYes" } Ya
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Jika “Ya”, mohon menjelaskan secara rinci dengan melengkapi kolom di bawah ini (Nama asosiasi/perkumpulan, tanggal bergabung, lokasi perkumpulan dan aktivitas rutin).
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointWalkingStick.Full.Single{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 9. 
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Apakah Anda pernah mendaki seorang diri atau di malam hari?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.RadioButton.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderJointHaveOperationNo" } Tidak
						%input#RadioButtonPolicyHolderJointHaveOperationNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderJointHaveOperationYes" } Ya
						%input#RadioButtonPolicyHolderJointHaveOperationYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointWalkingStick.Full.Single{ :type => "text" }
					%br
					
					%div.ContainerFit
						%span.NumberFix.Single.Item 10.
						%label.Wrap.Item{ :for => "TextPolicyHolderJointOtherInformation" } Apakah Anda mendaki hanya untuk sekedar?
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Olah raga
					%div.RadioButton.PositionerLeft
						%input#RadioButtonPolicyHolderJointHaveOperationNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperationNo" } Tidak
						%input#RadioButtonPolicyHolderJointHaveOperationYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderJointHaveOperationYes" } Ya
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Pekerjaan
					%div.RadioButton.PositionerLeft
						%input#RadioButtonPolicyHolderJointHaveOperationNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperationNo" } Tidak
						%input#RadioButtonPolicyHolderJointHaveOperationYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderJointHaveOperationYes" } Ya
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointWalkingStick.Full.Single{ :type => "text" }
					%br
					
					%span.Number.Single.PositionerLeft 11. 
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Pernahkah Anda mengalami kecelakaan sewaktu mendaki gunung/panjat tebing?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "RadioButtonPolicyHolderJointHaveOperation" } Jika “Ya”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%div.RadioButton.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderJointHaveOperationNo" } Tidak
						%input#RadioButtonPolicyHolderJointHaveOperationNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderJointHaveOperationYes" } Ya
						%input#RadioButtonPolicyHolderJointHaveOperationYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderJointHaveOperation", :value => "true" }
						%div.BoxRound.PositionerRight
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointWalkingStick.Full.Single{ :type => "text" }
					%br
					
					%div.ContainerFit
						%span.NumberFix.Single.Item 12.
						%label.Wrap.Item{ :for => "TextPolicyHolderJointOtherInformation" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.                                                                                                                                                                                             
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderJointOtherInformation.Full.Single{ :type => "text" }
					%br
					
				%section#SectionDeclaration
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render