!!! 5

%html

	/ HEAD

	%head
		= Haml::Engine.new(File.read("include_healthquestionnairepdf_header.haml")).render
		%title BCA Life - BLESS, Health Questionnaire 1 Form

		/ JQUERY

		:javascript

			// INITIALIZATION

			var stringPageTypeCurrent = stringPageTypePDF;


			// DOCUMENT READY
			$(document).ready(function()
			{
				// SECTION GENERAL
				boxGenerator("#TextSPAJNumber", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderFullName2nd", 19, boxTypeWithoutLabel, null);
				boxGenerator("#TextPolicyHolderBirthPlace", 16, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderBirthYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderThyroidTHFirstGotDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderThyroidTHFirstGotMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderThyroidTHFirstGotYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderThyroidTHLastConsultDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderThyroidTHLastConsultMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderThyroidTHLastConsultYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DatePolicyHolderThyroidTHOperationDateDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderThyroidTHOperationDateMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DatePolicyHolderThyroidTHOperationDateYear", 4, boxTypeWithoutLabel, null);

				boxGenerator("#DateSignedDay", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedMonth", 2, boxTypeWithoutLabel, null);
				boxGenerator("#DateSignedYear", 4, boxTypeWithoutLabel, null);

				// SECTION MANDATORY
				boxGenerator("#TextAgentName", 16, boxTypeWithoutLabel, null);
				boxGenerator("#TextAgentCode", 11, boxTypeWithoutLabel, null);
				boxGenerator("#TextProductCode", 11, boxTypeWithoutLabel, null);

				// FOOTER
				footerSetterForHealthQuestionnairePDF("OP/UW/0114061601", 5);
				titleSetterForHealthQuestionnairePDF("KUESIONER KELAINAN KELENJAR GONDOK (TIROID)");
			});


	/ BODY

	%body

		/ HEADER

		%header
			%section#SectionHeader
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render

			%h1
			%br

			%section#SectionNote
				= Haml::Engine.new(File.read("header_healthquestionnairepdf_note.haml")).render

		/ MAIN

		%main
			%form
				%section#SectionCustomer
					= Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_policyholder.haml")).render

				%h2 II. WAJIB DILENGKAPI (CALON) TERTANGGUNG
				%fieldset.fieldset.WithoutDoubleDot
					%span.Number.Single.PositionerLeft 1
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderThyroidTHFirstGotDay" } Kapan pertama kali Anda mendapatkan gangguan pada kelenjar gondok (tiroid)?
					%table#DatePolicyHolderThyroidTHFirstGotYear.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderThyroidTHFirstGotMonth.BoxSquare.PositionerRight
					%span.Separator.Single.PositionerRight /
					%table#DatePolicyHolderThyroidTHFirstGotDay.BoxSquare.PositionerRight
					%br

					%span.Number.Single.PositionerLeft 2
					%label.Wrap.PositionerLeft{ :for => "TextPolicyHolderThyroidWhere" } Apa diagnosa Dokter untuk gangguan kelenjar gondok (tiroid) Anda?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderThyroidTherapyHyperthyroidisme.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHTherapy", :value => "hyperthyroidisme" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTherapyHyperthyroidisme" } Hipertiroidisme

						%input#RadioButtonPolicyHolderThyroidTHTherapyHypothyroidisme.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHTherapy", :value => "hypothyroidisme" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHTherapyHypothyroidisme" } Hipotiroidisme

						%input#RadioButtonPolicyHolderThyroidTHTherapyThyroiditis.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHTherapy", :value => "thyroiditis" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHTherapyThyroiditis" } Tiroiditis
						%br

						%input#RadioButtonPolicyHolderTHTherapyHasimoto.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHTherapy", :value => "hasimoto" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTHTherapyHasimoto" } Penyakit Hashimoto

						%input#RadioButtonPolicyHolderTHTherapyGoiter.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHTherapy", :value => "goiter" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTHTherapyGoiter" } Goiter

						%input#RadioButtonPolicyHolderTHTherapyGrave.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHTherapy", :value => "grave" }
						%div.BoxRound.PositionerLeft
						%label.Short.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderTHTherapyGrave" } Penyakit Grave
						%br

						%input#RadioButtonPolicyHolderThyroidTHTTherapyOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHTherapy", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHTTherapyOthers" } Lainnya, sebutkan.
						%input#TextPolicyHolderThyroidTHTherapyOtherDesc.LineDot.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%br
					%span.Number.Single.PositionerLeft 3
					%label.Wrap.PositionerLeft{ :for => "DatePolicyHolderThyroidLastConsultDay" } Mohon melengkapi pada kolom di bawah ini dengan data Dokter dan tempat Anda konsultasi?
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderThyroidTHLastConsultDay" }Tanggal terakhir konsultasi
					%table#DatePolicyHolderThyroidTHLastConsultDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderThyroidTHLastConsultMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderThyroidTHLastConsultYear.BoxSquare.PositionerLeft
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderThyroidTHConsultDoctName"} Nama Lengkap Dokter
						%input#TextPolicyHolderThyroidTHConsultDoctName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderThyroidTHConsultPhone"} No. Telepon/Handphone
						%input#TextPolicyHolderThyroidTHConsultPhone.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderThyroidTHConsultClinic"} Nama Klinik/Rumah Sakit
						%input#TextPolicyHolderThyroidTHConsultClinic.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderThyroidTHConsultAddress"} Alamat Klinik/Rumah Sakit
						%input#TextPolicyHolderThyroidTHConsultAddress.Full.Single.Item{ :type => "text" }
					%br
					
					%section#SectionFooter{ :style => "margin-top: 350px;"}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render

					%header
						%section#SectionHeader{ :style => "margin-top: 60px; position: relative; top: 60px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render
			
					%span.Number.Single.PositionerLeft{ :style => "margin-top: 70px;"} 4
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTaken", :style => "margin-top: 70px;" } Apakah Anda pernah atau saat ini sedang mengkonsumsi obat sehubungan kelainan kelenjar gondok (tiroid)?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderThyroidTHConsumeDrugYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHConsumeDrug", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHConsumeDrugYes" } Ya
						%input#RadioButtonPolicyHolderThyroidTHConsumeDrugNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHConsumeDrug", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHConsumeDrugNo" } Tidak (Jika “Ya”, mohon mengisi kolom di bawah ini).
					%br
					-#
						%table#TablePolicyHolderThyroidCheckup
							%thead
								%tr
									%th Tanggal Berobat
									%th Nama Obat
									%th Dosis
									%th Frekuensi
						%br
					%div.ContainerFit.NumberIndent
						%label.Short.Single.Item1.Center Tanggal Berobat
						%label.Short.Single.Item1.Center Nama Obat
						%label.Short.Single.Item1.Center Dosis
						%label.Short.Single.Item1.Center Frekuensi
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderThyroidTHMedicationDate1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationName1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationDose1.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationFrequency1.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderThyroidTHMedicationDate2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationName2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationDose2.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationFrequency2.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderThyroidTHMedicationDate3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationName3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationDose3.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationFrequency3.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderThyroidTHMedicationDate4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationName4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationDose4.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationFrequency4.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderThyroidTHMedicationDate5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationName5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationDose5.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationFrequency5.Short.Single.Item1.Margin{ :type => "text" }
					%br

					-#
						%table#TablePolicyHolderThyroidCheckup
						%thead
							%tr
								%th
								%th Tanggal
								%th Keterangan
						%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft
						%label.Short.Single.Item1.Center Tanggal
						%label.Short.Single.Item1.Center Keterangan
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft Kapan pengobatan dimulai
						%input#TextPolicyHolderThyroidTHMedicationStartDate.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationStartReason.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft Kapan pengobatan dihentikan
						%input#TextPolicyHolderThyroidTHMedicationStopDate.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTHMedicationStopReason.Short.Single.Item1.Margin{ :type => "text" }
					%br

					%label.Single.NumberIndent.PositionerLeft Mohon jelaskan secara rinci pada kolom di bawah ini alasan pengobatan diberhentikan.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderThyroidTHMedicationStopReasonDesc.Line.Full.Single.PositionerLeft{ :type => "text" }
					%br

					%label.Single.NumberIndent.PositionerLeft Mohon jelaskan secara rinci pada kolom di bawah ini jika ada pengobatan lainnya.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderThyroidTHMedicationStopReasonOtherMedicine.Line.Full.Single.PositionerLeft{ :type => "text" }
					%br

					%br
					%span.Number.Single.PositionerLeft 5
					%label.Wrap.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidDifferentTest" } Apakah Anda pernah melakukan pemeriksaan medis sehubungan kelainan kelenjar gondok (tiroid)?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderThyroidTHMedicalCheckYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHMedicalCheck", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHMedicalCheckYes" } Ya

						%input#RadioButtonPolicyHolderThyroidTHMedicalCheckNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHMedicalCheck", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHMedicalCheckNo" } Tidak
						%br

					%label.Single.NumberIndent.PositionerLeft (Jika “Ya”, mohon melengkapi hasil pemeriksaan pada kolom di bawah ini).
					%br
					-#
						%table#TablePolicyHolderThyroidCheckup
						%thead
							%tr
								%th Jenis Pemeriksaan
								%th Tanggal
								%th Hasil

						%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft Jenis Pemeriksaan
						%label.Short.Single.Item1.Center Tanggal
						%label.Short.Single.Item1.Center Hasil
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft T3
						%input#TextPolicyHolderThyroidT3Date.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidT3Result.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft T4
						%input#TextPolicyHolderThyroidT4Date.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidT4Result.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft TSH
						%input#TextPolicyHolderThyroidTSHDate.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidTSHResult.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft ECG
						%input#TextPolicyHolderThyroidECGDate.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidECGResult.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft Biopsi
						%input#TextPolicyHolderThyroidBiopsyDate.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidBiopsyResult.Short.Single.Item1.Margin{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.PositionerLeft Scan/MRI/USG
						%input#TextPolicyHolderThyroidScanMRIUSGDate.Short.Single.Item1.Margin{ :type => "text" }
						%input#TextPolicyHolderThyroidScanMRIUSGResult.Short.Single.Item1.Margin{ :type => "text" }
					%br
					
					%section#SectionFooter{ :style => "margin-top: 80px;"}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render

					%header
						%section#SectionHeader{ :style => "margin-top: 70px; position: relative; top: 70px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render
					
					%span.Number.Single.PositionerLeft{ :style => "margin-top: 70px;"} 6
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHOperation", :style => "margin-top: 70px;" } Apakah Anda pernah dioperasi atau dianjurkan operasi untuk kelainan ini?
					%div.RadioButton
						%input#RadioButtonPolicyHolderThyroidTHOperationNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHOperation", :value => "false", :style => "margin-top: 70px;" }
						%div.BoxRound.PositionerRight{ :style => "margin-top: 70px;" }
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderThyroidTHOperationNo", :style => "margin-top: 70px;" } Tidak
						%input#RadioButtonPolicyHolderThyroidTHOperationYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHOperation", :value => "true", :style => "margin-top: 70px;" }
						%div.BoxRound.PositionerRight{ :style => "margin-top: 70px;" }
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderThyroidTHOperationYes", :style => "margin-top: 70px;" } Ya
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "DatePolicyHolderThyroidTHOperationDateDay" } Jika “Ya”, mohon berikan tanggal operasi:
					%table#DatePolicyHolderThyroidTHOperationDateDay.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderThyroidTHOperationDateMonth.BoxSquare.PositionerLeft
					%span.Separator.Single.PositionerLeft /
					%table#DatePolicyHolderThyroidTHOperationDateYear.BoxSquare.PositionerLeft
					%br
					%label.Medium.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderThyroidTHHospitalTreatmentDuration"} Lama perawatan di Rumah Sakit:
					%input#TextPolicyHolderThyroidTHHospitalTreatmentDuration.Short.Single.PositionerLeft{ :type => "text" }
					%label.Medium.Single.NumberIndent.PositionerLeft Hari
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderThyroidTHOperationType"} Jenis Operasi:
						%input#TextPolicyHolderThyroidTHOperationType.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderThyroidTHDoctorName"} Nama Lengkap Dokter:
						%input#TextPolicyHolderThyroidTHDoctorName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Single.Item{ :for => "TextPolicyHolderThyroidTHHospitalTelephone"} No. Telepon/Handphone:
						%input#TextPolicyHolderThyroidTHHospitalTelephone.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderThyroidTHHospitalName"} Nama Klinik/Rumah Sakit
						%input#TextPolicyHolderThyroidTHHospitalName.Full.Single.Item{ :type => "text" }
					%br
					%div.ContainerFit.NumberIndent
						%label.Medium.Single.Item{ :for => "TextPolicyHolderThyroidTHHospitalAddress"} Alamat Klinik/Rumah Sakit
						%input#TextPolicyHolderThyroidTHHospitalAddress.Full.Single.Item{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft{ :for => "TextPolicyHolderThyroidAttachOperationResult" } Mohon melampirkan hasil Patologi Anatomi operasi tersebut
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderThyroidAttachOperationResultNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidAttachOperationResult", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderThyroidAttachOperationResultNo" } Tidak
						%input#RadioButtonPolicyHolderThyroidAttachOperationResultYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidAttachOperationResult", :value => "true" }
						%div.BoxRound.PositionerRight
						%label.Wrap.Single.PositionerRight{ :for => "RadioButtonPolicyHolderThyroidAttachOperationResultYes" } Ya
						%br
					%label.Single.NumberIndent.PositionerLeft Jika “Tidak”, mohon menjelaskan secara rinci pada kolom di bawah ini.
					%br
					%div.ContainerFit.NumberIndent
						%input#TextPolicyHolderThyroidExplainOperationResultNo.Full.Single.PositionerLeft{ :type => "text" }
					%br
					%label.Single.NumberIndent.PositionerLeft Menurut Dokter Anda, bagaimana hasil Patologi Anatomi tersebut?
					%br
					%div.RadioButton.NumberIndent
						%input#RadioButtonPolicyHolderThyroidPathologyResultNormal.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidPathologyResult", :value => "normal" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidPathologyResultNormal" } Jinak

						%input#RadioButtonPolicyHolderThyroidPathologyResultDanger.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidPathologyResult", :value => "danger" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidPathologyResultDanger" } Ganas

						%input#RadioButtonPolicyHolderThyroidPathologyResultOthers.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidPathologyResult", :value => "other" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidPathologyResultOthers" } Lainnya, sebutkan
						%input#TextPolicyHolderThyroidPathologyResultOtherDesc.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%span.Number.Single.PositionerLeft 7.
					%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidMedicineAfterOperation" } Apakah ada pengobatan atau tindakan yang dilakukan setelah operasi?
					%div.RadioButton
						%input#RadioButtonPolicyHolderThyroidMedicineAfterOperationYes.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidMedicineAfterOperation", :value => "true" }
						%div.BoxRound.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderThyroidMedicineAfterOperationYes" } Ya
						%input#RadioButtonPolicyHolderThyroidMedicineAfterOperationNo.PositionerRight{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidMedicineAfterOperation", :value => "false" }
						%div.BoxRound.PositionerRight
						%label.Single.PositionerRight{ :for => "RadioButtonPolicyHolderThyroidMedicineAfterOperationNo" } Tidak
						%br

					%label.Single.NumberIndent.PositionerLeft Jika “Ya”, mohon menjelaskan secara rinci (nama obat, dosis dan frekuensi penggunaannya) pada kolom di bawah ini.
					%br
					
					%div.RadioButton.PositionerLeft.NumberIndent
						%label.Single.Short.PositionerLeft Obat:
						%input#RadioButtonPolicyHolderThyroidTHMedicineNameYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHMedicineName", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHMedicineNameYes" } Ya
						%input#RadioButtonPolicyHolderThyroidTHMedicineNameNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHMedicineName", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHMedicineNameNo" } Tidak
						%input#TextPolicyHolderThyroidTHMedicineName.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%div.RadioButton.PositionerLeft.NumberIndent
						%label.Single.Short.PositionerLeft Radioterapi:
						%input#RadioButtonPolicyHolderThyroidTHRadioTherapyYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHRadioTherapy", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHRadioTherapyYes" } Ya
						%input#RadioButtonPolicyHolderThyroidTHRadioTherapyNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHRadioTherapy", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Wrap.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHRadioTherapyNo" } Tidak
						%input#TextPolicyHolderThyroidTHRadioTherapy.Long.Single.PositionerLeft{ :type => "text" }
					%br
					 
					%div.RadioButton.PositionerLeft.NumberIndent
						%label.Single.Short.PositionerLeft Kemoterapi:
						%input#RadioButtonPolicyHolderThyroidTHChemoTherapyYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHChemoTherapy", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHChemoTherapyYes" } Ya
						%input#RadioButtonPolicyHolderThyroidTHChemoTherapyNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHChemoTherapy", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHChemoTherapyNo" } Tidak
						%input#TextPolicyHolderThyroidTHChemoTherapy.Long.Single.PositionerLeft{ :type => "text" }
					%br
					
					%div.RadioButton.PositionerLeft.NumberIndent
						%label.Single.Short.PositionerLeft Lainnya:
						%input#RadioButtonPolicyHolderThyroidTHOtherTreatmentYes.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHOtherTreatment", :value => "true" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHOtherTreatmentYes" } Ya
						%input#RadioButtonPolicyHolderThyroidTHOtherTreatmentNo.PositionerLeft{ :type => "radio", :name => "RadioButtonPolicyHolderThyroidTHOtherTreatment", :value => "false" }
						%div.BoxRound.PositionerLeft
						%label.Single.PositionerLeft{ :for => "RadioButtonPolicyHolderThyroidTHOtherTreatmentNo" } Tidak
						%input#TextPolicyHolderThyroidTHOtherTreatment.Long.Single.PositionerLeft{ :type => "text" }
					%br

					%div.ContainerFit
						%span.NumberFix.Single.Item 8.
						%label.Wrap.Item{ :for => "TextPolicyHolderThyroidTHAdditionalInfo" } Mohon Anda memberikan informasi tambahan lain yang menurut Anda penting mungkin dapat membantu proses pengajuan asuransi ini dengan melengkapi kolom di bawah ini.
					%br
					%input#TextPolicyHolderThyroidTHAdditionalInfo.Full.Single.NumberIndent.PositionerLeft{ :type => "text" }
					%br					
					%section#SectionFooter{ :style => "margin-top: 350px;"}=Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
					
					%header
						%section#SectionHeader{ :style => "margin-top: 30px; position: relative; top: 30px; display: block;"}=Haml::Engine.new(File.read("header_healthquestionnairepdf_general.haml")).render
				%section#SectionDeclaration=Haml::Engine.new(File.read("fieldset_healthquestionnairepdf_declaration.haml")).render

		%section#SectionFooter
			= Haml::Engine.new(File.read("footer_healthquestionnairepdf_general.haml")).render
